<!DOCTYPE html>
<html lang="en">

<head>
    <title>Chat Group</title>
    
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-148651561-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'UA-148651561-1');
    </script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" type="text/css" href="localCDN/bootstrap.css">
    <!-- <link rel="stylesheet" type="text/css" href="localCDN/fontawesome.css"> -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
        integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <script src="localCDN/jquery.js"></script>
    <script src="localCDN/popper.js"></script>
    <script src="localCDN/bootstrap.js"></script>

    <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script> -->
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" onclick="window.location.href='http://localhost:3001/'">
            <img style="border-radius:50%;" src="/logo/Infinity Art iPhone Wallpaper.png" width="40" height="40" class="d-inline-block align-top" alt="">
        </a>
        <button type="button" class="btn btn-warning" onclick="showSubscribers();" style="border-radius:10px; margin-right: 10px;">Subscribers on map</button>
        
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <button type="button" class="btn btn-info" onclick="saveGroup();" style="border-radius:10px;">Save in Bookmarks</button>
                </li>
            </ul>
            <input id="search_bar" type="search" placeholder="Search words" aria-label="Search" style="border-radius:20px; margin: 10px; margin-left: 0;">
        </div>
    </nav>

    <div id="myModal" class="modal">
        <div class="modal-content" id="boxPos">
            <a href="javascript:void(0)" id="exit" class="closebtn" onclick="closeNav()">&times;</a>
            <h1 style="text-align: center;">Users online</h1>
            <div id="res-search"></div>
        </div>
    </div>

    <div id='showGroup' style="display:none;">
        <main>
            <a href="javascript:void(0)" class="user-count" id="user-count" onclick="updatePeopleOnline();">0</a>
            <h3 id="nameGroup" style="margin: 10px; margin-left: 0px; overflow-wrap: break-word;"></h3>

            <section class="chat" id='chat'></section>

            <button id="btnSubscribe" type="button" class="btn btn-info" onclick="subscribe()" style="display: none">Subscribe</button>

            <textarea name="text" id="write" placeholder="Write something" wrap="soft" style="display: none"></textarea>

            <!-- <input type="text" id="write" placeholder="Write something"  style="border: 1px solid black; border-radius:10px;"/> -->
        </main>
    </div>

    <div class="alert alert-danger alert-dismissible fade show text-center" role="alert" id="showError" style="display: none;">
        <button type="button" class="close">
            <span id="closeAlert">&times;</span>
        </button>
        <div id="messageError"></div>
    </div>

</body>

</html>

<style>
    html,
    body {
        background: #eee;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        transition: all .3s ease;
    }

    main {
        width: calc(90% - 30px);
        max-width: 500px;
        margin: 0 auto;
        box-sizing: border-box;
        transition: all .3s ease;
    }

    /* h1, .user-count {
        margin: 0;
        padding: 10px 0;
        font-size: 32px;
    } */

    .user-count {
        float: right;
        font-size: 25px;
        box-sizing: border-box;
        transition: all .3s ease;
    }

    .chat::-webkit-scrollbar {
        width: 0px;  /* Remove scrollbar space */
        background: transparent;  /* Optional: just make scrollbar invisible */
    }
    /* Optional: show position indicator in red */
    .chat::-webkit-scrollbar-thumb {
        background: #FF0000;
    }

    .chat {
        content: '';
        width: 100%;
        height: calc(90vh - 165px);
        background: white;
        padding: 5px 10px;
        overflow-y: scroll;
        box-sizing: border-box;
        transition: all .3s ease;
        overflow-wrap: break-word;
        border: 1px solid #a8a8a8; 
        border-radius:10px; 
        /* padding-right: 17px; 
        box-sizing: content-box; */
    }

    .chat p {
        margin: 0 0 5px 0;
        box-sizing: border-box;
        transition: all .3s ease;
    }

    #write {
        width: 100%;
        font: inherit;
        background: #fff;
        border: none;
        margin-top: 20px;
        padding: 10px 10px;
        box-sizing: border-box;
        transition: all .3s ease;
        resize:none;
        border: 1px solid #545454; 
        border-radius:10px;
    }

    #btnSubscribe {
        width: 100%;
        font: inherit;
        border: none;
        margin-top: 20px;
        padding: 10px 10px;
        box-sizing: border-box;
        transition: all .3s ease;
        resize:none;
        border-radius:10px;
    }

    /* @media all and (min-width: 500px) {
        .chat {
            height: calc(100vh - 140px);
        }
    } */

    .modal {
        position: absolute;
        display: none;
        position: fixed;
        /* Stay in place */
        z-index: 1;
        /* Sit on top */
        padding-top: 5%;
        /* Location of the box */
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgb(0, 0, 0);
        /* Fallback color */
        background-color: rgba(0, 0, 0, 0.4);
        /* Black w/ opacity */
    }

    .modal-content {
        left: 5%;
        width: 90%;
        height: 90%;
        border: 1px solid #888;
        background-color: #fefefe;
        padding: 20px;
        overflow-y: scroll;
        overflow: auto;
    }

    #exit {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #c1c1c1;
        display: block;
        transition: 0.3s;
        text-align: right;
    }

    #profiles {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        /* #ff2626 */
        color: red; 
        display: block;
        transition: 0.3s;
    }

    #showError {
        position: fixed;
        left: 50%;
        bottom: 40px;
        transform: translate(-50%, -50%);
        border-radius: 20px;
        width: 90%;
        height: auto;
    }
    
    #closeAlert {
        float: right;
        font-size: 20px;
        font-weight: bold;
        text-align: end;
    }
    #closeAlert:hover,
    #closeAlert:focus {
        color: #000;
        text-decoration: none;
    }
</style>

<script src="https://code.jquery.com/jquery-3.1.0.js"></script>
<script>

    const url = 'http://localhost:3001/api/';
    var currentUrl = new URL(window.location.href);
    var groupId = currentUrl.searchParams.get("groupid")

    var limit = 70;
    var prevLengthMessages = 0;
    var lastTime = 0;
    var offline = false

    var answersChat;

    var authToken = JSON.parse(localStorage.getItem("authToken"))
    var profileData = JSON.parse(localStorage.getItem("profile"))
    function session(){
        if(authToken === null){
            window.location.href = "http://localhost:3001/login"
        }
        rangeView = JSON.parse(localStorage.getItem("rangeView")).range

        refreshToken()
    }
    session()

    function refreshToken(first=false) {
        $.ajax({
            url: url + 'auth/refresh',
            headers: {
                'Authorization': authToken['accessToken'],
                'Content-Type': 'application/json; charset=UTF-8',
            },
            credentials: 'include',
            method: 'POST',
            dataType: 'json',
            success: (res) => {
                if (res["accessToken"] !== undefined) {
                    localStorage.setItem("authToken", JSON.stringify({ accessToken: "Bearer " + res['accessToken'] }))
                    authToken = JSON.parse(localStorage.getItem("authToken"))
                } else {
                    window.location.href = "http://localhost:3001/login"
                }
            },
            error: (err) => {
                window.location.href = "http://localhost:3001/login"
            }
        })
    }
    window.setInterval(function () {
        refreshToken()
    }, 1700000);

    document.getElementById("closeAlert").onclick = function () {
        document.getElementById("showError").style.display = "none"
        document.getElementById("messageError").innerHTML = ""
    }
    function showAlertError(err) {
        document.getElementById("showError").style.display = "block";
        document.getElementById("messageError").innerText = err
    }

    if (groupId !== null) {
        checkIfSubscribed()
        getGroupName()

        iamOnline()
        loadMoreMessages()

        window.setInterval(function () {
            if(offline === false){
                checkNewMessage()
                updateNOnline()
            }
        }, 2000);

        function delay(callback, ms) {
            var timer = 0;
            return function () {
                var context = this, args = arguments;
                clearTimeout(timer);
                timer = setTimeout(function () {
                    callback.apply(context, args);
                }, ms || 0);
            };
        }

        $("#search_bar").keyup(delay(function (e) {
            var keyCode = e.keyCode || e.which;
            if (keyCode === 13) {
                e.preventDefault();
                return false;
            }

            let search = $("#search_bar").val()
            let chat = document.getElementById("chat")
            if (search !== "") {
                chat.innerHTML = ""
                // searchInDB(search)
                filterInput(search, answersChat, chat)
            } else {
                chat.innerHTML = ""
                writeMessages(answersChat, chat)
            }
        }, 400))
    }

    function getGroupName() {
        $.ajax({
            url: url + 'group/name/' + groupId,
            headers: {
                'Authorization': authToken['accessToken'],
                'Content-Type': 'application/json; charset=UTF-8',
            },
            credentials: 'include',
            method: 'GET',
            dataType: 'json',
            success: (res) => {
                if (res["accessToken"] !== undefined) {
                    localStorage.setItem("authToken", JSON.stringify({ accessToken: "Bearer " + res['accessToken'] }))
                    authToken = JSON.parse(localStorage.getItem("authToken"))
                    getGroupName()
                } else {
                    document.getElementById("nameGroup").innerHTML = res['name']
                    document.getElementById("showGroup").style.display = "block"
                }
            },
            error: (err) => {
                if(err['err'] === "Invalid access token"){
                    newAccessToken(() => getGroupName())
                } else if(err['err'] === "Invalid refresh token"){
                    authToken = null
                    localStorage.removeItem("authToken")
                    window.location.href = "http://localhost:3001/login"
                } else {
                    showAlertError(err)
                }
            }
        })
    }

    function checkIfSubscribed() {
        $.ajax({
            url: url + 'group/isSub/' + groupId + "&" + profileData['id'],
            headers: {
                'Authorization': authToken['accessToken'],
                'Content-Type': 'application/json; charset=UTF-8',
            },
            credentials: 'include',
            method: 'GET',
            dataType: 'json',
            success: (res) => {
                if (res["accessToken"] !== undefined) {
                    localStorage.setItem("authToken", JSON.stringify({ accessToken: "Bearer " + res['accessToken'] }))
                    authToken = JSON.parse(localStorage.getItem("authToken"))
                    checkIfSubscribed()
                } else {
                    if(res['id'] !== undefined) {
                        showWrite()
                    } else {
                        document.getElementById("btnSubscribe").style.display = "block"
                    }
                }
            },
            error: (err) => {
                if(err['err'] === "Invalid access token"){
                    newAccessToken(() => checkIfSubscribed())
                } else if(err['err'] === "Invalid refresh token"){
                    authToken = null
                    localStorage.removeItem("authToken")
                    window.location.href = "http://localhost:3001/login"
                } else {
                    showAlertError(err)
                }
            }
        })
    }

    function showWrite() {
        document.getElementById("btnSubscribe").style.display = "none"
        let write = document.getElementById("write")
        write.style.display = "block"
        write.addEventListener("keyup", function (event) {
            if (event.keyCode === 13) {
                let val = write.value
                sendMessage(val)
                write.value = ""
            }
        });
    }
    function sendMessage(val){
        let params = JSON.stringify({
            data: val,
        })
        $.ajax({
            url: url + 'group/chat/write/' + groupId + "&" + profileData['id'],
            headers: {
                'Authorization': authToken['accessToken'],
                'Content-Type': 'application/json; charset=UTF-8',
            },
            credentials: 'include',
            method: 'PATCH',
            dataType: 'json',
            data: params,
            success: (res) => {
                if (res["accessToken"] !== undefined) {
                    localStorage.setItem("authToken", JSON.stringify({ accessToken: "Bearer " + res['accessToken'] }))
                    authToken = JSON.parse(localStorage.getItem("authToken"))
                    sendMessage(val)
                } else {
                    // Risolto il problema di dover inserire manualmente il messaggio nell'interfaccia
                    checkNewMessage()
                }
            },
            error: (err) => {
                if(err['err'] === "Invalid access token"){
                    newAccessToken(() => sendMessage(val))
                } else if(err['err'] === "Invalid refresh token"){
                    authToken = null
                    localStorage.removeItem("authToken")
                    window.location.href = "http://localhost:3001/login"
                } else {
                    showAlertError(err)
                }
            }
        })
    }

    function subscribe() {
        let params = JSON.stringify({
            type: "subscribers",
        })
        $.ajax({
            url: url + 'group/' + groupId + "&" + profileData['id'],
            headers: {
                'Authorization': authToken['accessToken'],
                'Content-Type': 'application/json; charset=UTF-8',
            },
            credentials: 'include',
            method: 'PATCH',
            dataType: 'json',
            data: params,
            success: (res) => {
                if (res["accessToken"] !== undefined) {
                    localStorage.setItem("authToken", JSON.stringify({ accessToken: "Bearer " + res['accessToken'] }))
                    authToken = JSON.parse(localStorage.getItem("authToken"))
                    subscribe()
                } else {
                    showWrite()
                }
            },
            error: (err) => {
                if(err['err'] === "Invalid access token"){
                    newAccessToken(() => subscribe())
                } else if(err['err'] === "Invalid refresh token"){
                    authToken = null
                    localStorage.removeItem("authToken")
                    window.location.href = "http://localhost:3001/login"
                } else {
                    showAlertError(err)
                }
            }
        })
    }

    function showSubscribers() {
        sessionStorage.setItem("showSubscribers", JSON.stringify({ groupId: groupId }))
        window.location.href = "http://localhost:3001/"
    }

    function saveGroup(){
        $.ajax({
            url: url + 'profile/bookmarkGroup/' + profileData['id'] + "&" + groupId,
            headers: {
                'Authorization': authToken['accessToken'],
                'Content-Type': 'application/json; charset=UTF-8',
            },
            credentials: 'include',
            method: 'PATCH',
            dataType: 'json',
            success: (res) => {
                if (res["accessToken"] !== undefined) {
                    localStorage.setItem("authToken", JSON.stringify({ accessToken: "Bearer " + res['accessToken'] }))
                    authToken = JSON.parse(localStorage.getItem("authToken"))
                    saveGroup()
                } else {
                    console.log("saved")
                }
            },
            error: (err) => {
                if(err['err'] === "Invalid access token"){
                    newAccessToken(() => saveGroup())
                } else if(err['err'] === "Invalid refresh token"){
                    authToken = null
                    localStorage.removeItem("authToken")
                    window.location.href = "http://localhost:3001/login"
                } else {
                    showAlertError(err)
                }
            }
        })
    }

    var offline = false
    $(document).mouseleave(function (e) {
        if (offline === false && canUpdateStatus === true) {
            offline = true
        }
    });
    $(document).click(function (e) {
        if(offline === true && canUpdateStatus === true){
            offline = false
        }
    });
    $(document).mouseenter(function (e) {
        if(offline === true && canUpdateStatus === true){
            offline = false
        }
    });
    window.setInterval(function () {
        if (offline === false && canUpdateStatus === true) {
            iamStatus(true)
        }
    }, 45000);
    function iamStatus(status) {
        let params = JSON.stringify({
            lastSeen: Date.now(),
            pos: { x: profileData['coords'][0], y: profileData['coords'][1] }
        })
        $.ajax({
            url: url + 'profile/' + profileData['id'],
            headers: {
                'Authorization': authToken['accessToken'],
                'Content-Type': 'application/json; charset=UTF-8',
            },
            credentials: 'include',
            method: 'PATCH',
            dataType: 'json',
            data: params,
            success: (res) => {
                if (res["accessToken"] !== undefined) {
                    localStorage.setItem("authToken", JSON.stringify({ accessToken: "Bearer " + res['accessToken'] }))
                    authToken = JSON.parse(localStorage.getItem("authToken"))
                    iamStatus(status)
                } else {
                    offline = !status
                }
            },
            error: (err) => {
                if(err['err'] === "Invalid access token"){
                    newAccessToken(() => iamStatus(status))
                } else if(err['err'] === "Invalid refresh token"){
                    authToken = null
                    localStorage.removeItem("authToken")
                    window.location.href = "http://localhost:3001/login"
                } else {
                    showAlertError(err)
                }
            }
        })
    }

    $(document).mouseleave(function (e) {
        if (offline === false) {
            iamOffline()
            offline = true
        }
    });
    // mouseenter
    $(document).click(function (e) {
        if (offline === true) {
            iamOnline()
            offline = false
        }
    });
    function iamOnline() {
        let params = JSON.stringify({
            type: "peopleOnline",
            operation: "addToSet",
        })
        $.ajax({
            url: url + 'group/' + groupId + "&" + profileData['id'],
            headers: {
                'Authorization': authToken['accessToken'],
                'Content-Type': 'application/json; charset=UTF-8',
            },
            credentials: 'include',
            method: 'PATCH',
            dataType: 'json',
            data: params,
            success: (res) => {
                if (res["accessToken"] !== undefined) {
                    localStorage.setItem("authToken", JSON.stringify({ accessToken: "Bearer " + res['accessToken'] }))
                    authToken = JSON.parse(localStorage.getItem("authToken"))
                    iamOnline()
                } else {

                }
            },
            error: (err) => {
                if(err['err'] === "Invalid access token"){
                    newAccessToken(() => iamOnline())
                } else if(err['err'] === "Invalid refresh token"){
                    authToken = null
                    localStorage.removeItem("authToken")
                    window.location.href = "http://localhost:3001/login"
                } else {
                    showAlertError(err)
                }
            }
        })
    }
    function iamOffline() {
        let params = JSON.stringify({
            type: "peopleOnline",
            operation: "pullToSet",
        })
        $.ajax({
            url: url + 'group/' + groupId + "&" + profileData['id'],
            headers: {
                'Authorization': authToken['accessToken'],
                'Content-Type': 'application/json; charset=UTF-8',
            },
            credentials: 'include',
            method: 'PATCH',
            dataType: 'json',
            data: params,
            success: (res) => {
                if (res["accessToken"] !== undefined) {
                    localStorage.setItem("authToken", JSON.stringify({ accessToken: "Bearer " + res['accessToken'] }))
                    authToken = JSON.parse(localStorage.getItem("authToken"))
                    iamOffline()
                } else {

                }
            },
            error: (err) => {
                if(err['err'] === "Invalid access token"){
                    newAccessToken(() => iamOffline())
                } else if(err['err'] === "Invalid refresh token"){
                    authToken = null
                    localStorage.removeItem("authToken")
                    window.location.href = "http://localhost:3001/login"
                } else {
                    showAlertError(err)
                }
            }
        })
    }

    function loadMoreMessages() {
        limit += 30

        let params = JSON.stringify({
            limit: limit
        })
        $.ajax({
            url: url + 'group/chat/messages/' + groupId,
            headers: {
                'Authorization': authToken['accessToken'],
                'Content-Type': 'application/json; charset=UTF-8',
            },
            credentials: 'include',
            method: 'POST',
            dataType: 'json',
            data: params,
            success: (res) => {
                if (res["accessToken"] !== undefined) {
                    localStorage.setItem("authToken", JSON.stringify({ accessToken: "Bearer " + res['accessToken'] }))
                    authToken = JSON.parse(localStorage.getItem("authToken"))
                    loadMoreMessages()
                } else {
                    res = res['messages']

                    if (res.length > 0) {
                        lastTime = res[res.length - 1]["time"]
                        answersChat = res
                    }

                    var chat = document.getElementById("chat")
                    chat.innerHTML = ""
                    
                    if (prevLengthMessages < res.length) {
                        let a = document.createElement("a");
                        let href = "javascript: void (0)"
                        a.setAttribute('href', href);
                        let loadMoreText = document.createTextNode("Load more messages");
                        a.setAttribute('onclick', "loadMoreMessages();")
                        a.appendChild(loadMoreText)
                        chat.appendChild(a)

                        prevLengthMessages = res.length
                    }

                    writeMessages(answersChat, chat)
                }
            },
            error: (err) => {
                if(err['err'] === "Invalid access token"){
                    newAccessToken(() => loadMoreMessages())
                } else if(err['err'] === "Invalid refresh token"){
                    authToken = null
                    localStorage.removeItem("authToken")
                    window.location.href = "http://localhost:3001/login"
                } else {
                    showAlertError(err)
                }
            }
        })
    }

    function writeMessages(chat, div){
        if(chat === undefined || chat === null){
            return
        }
        for (let i = 0; i < chat.length; ++i) {
            let element = chat[i]
            let p = document.createElement("p")
            let strong = document.createElement("strong")
            let nickname = document.createTextNode(element["nickname"])
            let data = document.createTextNode(": " + element["message"])
            strong.appendChild(nickname)
            p.appendChild(strong)
            p.appendChild(data)
            div.appendChild(p)
        }
    }

    function escapeRegExp(string) {
        return string.replace(/[.*+?^${}()|[\]\\]/g, '\\$&'); // $& means the whole matched string
    }

    function filterInput(filter, chat, div){
        if (chat === undefined || chat === null) {
            return
        }
        filter = escapeRegExp(filter)
        for (let i = chat.length - 1; i >= 0; i--) {
            let element = chat[i]
            var myReg = new RegExp("\\b(" + filter + ")\\b", "gi");
            let p = document.createElement("p")
            if(element["message"].match(myReg) !== null){
                p.style.backgroundColor = "yellow"
            }
            var data = document.createTextNode(": " + element["message"])
            let strong = document.createElement("strong")
            let nickname = document.createTextNode(element["nickname"])
            strong.appendChild(nickname)
            p.appendChild(strong)
            p.appendChild(data)
            div.appendChild(p)
        }
    }

    function checkNewMessage() {
        let params = JSON.stringify({
            lastTime: lastTime,
        })
        $.ajax({
            url: url + 'group/chat/checkLastMessage/' + groupId,
            headers: {
                'Authorization': authToken['accessToken'],
                'Content-Type': 'application/json; charset=UTF-8',
            },
            credentials: 'include',
            method: 'POST',
            dataType: 'json',
            data: params,
            success: (res) => {
                if (res["accessToken"] !== undefined) {
                    localStorage.setItem("authToken", JSON.stringify({ accessToken: "Bearer " + res['accessToken'] }))
                    authToken = JSON.parse(localStorage.getItem("authToken"))
                    checkNewMessage()
                } else {
                    if (res) {
                        if(lastTime < res["lastMessageTimestamp"]) {
                            lastTime = res["lastMessageTimestamp"]
                            loadMoreMessages()
                        }
                    }
                }
            },
            error: (err) => {
                if(err['err'] === "Invalid access token"){
                    newAccessToken(() => checkNewMessage())
                } else if(err['err'] === "Invalid refresh token"){
                    authToken = null
                    localStorage.removeItem("authToken")
                    window.location.href = "http://localhost:3001/login"
                } else {
                    showAlertError(err)
                }
            }
        })
    }
    function updatePeopleOnline() {
        $.ajax({
            url: url + 'group/peopleOnline/' + groupId,
            headers: {
                'Authorization': authToken['accessToken'],
                'Content-Type': 'application/json; charset=UTF-8',
            },
            credentials: 'include',
            method: 'GET',
            dataType: 'json',
            success: (res) => {
                if (res["accessToken"] !== undefined) {
                    localStorage.setItem("authToken", JSON.stringify({ accessToken: "Bearer " + res['accessToken'] }))
                    authToken = JSON.parse(localStorage.getItem("authToken"))
                    updatePeopleOnline()
                } else {
                    let boxPos = document.getElementById("res-search");
                    boxPos.innerHTML = ""

                    if (res['peopleOnline'].length > 0) {
                        res['peopleOnline'].forEach(function (nickname) {
                            let a = document.createElement("a");
                            let textnode = document.createTextNode(nickname)
                            a.setAttribute('href', "http://localhost:3001/profile?nickname=" + nickname)
                            a.setAttribute('id', "profiles")
                            a.appendChild(textnode)
                            boxPos.appendChild(a)
                        })
                    }

                    openNav();
                }
            },
            error: (err) => {
                if(err['err'] === "Invalid access token"){
                    newAccessToken(() => updatePeopleOnline())
                } else if(err['err'] === "Invalid refresh token"){
                    authToken = null
                    localStorage.removeItem("authToken")
                    window.location.href = "http://localhost:3001/login"
                } else {
                    showAlertError(err)
                }
            }
        })
    }
    function updateNOnline(){
        $.ajax({
            url: url + 'group/nOnline/' + groupId,
            headers: {
                'Authorization': authToken['accessToken'],
                'Content-Type': 'application/json; charset=UTF-8',
            },
            credentials: 'include',
            method: 'GET',
            dataType: 'json',
            success: (res) => {
                if (res["accessToken"] !== undefined) {
                    localStorage.setItem("authToken", JSON.stringify({ accessToken: "Bearer " + res['accessToken'] }))
                    authToken = JSON.parse(localStorage.getItem("authToken"))
                    updateNOnline()
                } else {
                    document.getElementById("user-count").innerHTML = res["nOnline"]
                }
            },
            error: (err) => {
                if(err['err'] === "Invalid access token"){
                    newAccessToken(() => updateNOnline())
                } else if(err['err'] === "Invalid refresh token"){
                    authToken = null
                    localStorage.removeItem("authToken")
                    window.location.href = "http://localhost:3001/login"
                } else {
                    showAlertError(err)
                }
            }
        })
    }

    function openNav() {
        let div = document.getElementById("myModal");
        if (div.style.display === "block") {
            div.style.display = "none";
        } else {
            div.style.display = "block";
        }
    }
    function closeNav() {
        let div = document.getElementById("myModal");
        if (div.style.display === "none") {
            div.style.display = "block";
        } else {
            div.style.display = "none";
        }
    }
</script>