<html>

<head>
    <title>Home</title>
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
    <script src="https://unpkg.com/deck.gl@^7.1.0/dist.min.js"></script>

    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.3.1/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.3.1/mapbox-gl.css' rel='stylesheet' />
    <script src="https://d3js.org/d3.v5.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
        integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.6.2/bootstrap-slider.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.6.2/css/bootstrap-slider.css">
</head>

<body>
    <div id="no-gps" style="display: none; text-align:center; position: relative; width: 100%; height: 100%;">
        <img src="NoGPS.png" width="100%" height="100%" style="filter: brightness(40%);">
        <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 95%;">  
            <h1 style="margin: 30px; color: white">Welcome!</h1>
            <p style="margin: 10px; color: white">To use the map is necessary the access to your location</p>
            <button style="margin: 20px; font-size: 16px; background-color: #008CBA; border-radius: 20px; color: white" 
            type="button" class="btn" onclick="reloadPage()">Enable GPS and Reload
            </button>
            <br>
            <button style="margin: 20px; margin-top: 0; font-size: 8px; border-radius: 20px; background-color: #e7e7e7; opacity: 0.5;" type="button" 
                class="btn" onclick="withoutPosition()">Continue without GPS</button>
        </div>
    </div>

    <div id="map_controller">
        <div id="map"></div>
        <!-- <canvas id="deck-canvas"></canvas> -->
        <div id="control-panel"></div>
    </div>

    <div id="myModal" class="modal">
        <div class="modal-content" id="modal-content">
            <span id="closeModal" class="close">&times;</span>

            <h1 id="title-model" style="text-align: center;"></h1>

            <div id='search-icon' style="display: none;">
                <div class="d-flex justify-content-center" style="margin-top:10px; margin-bottom: 30px">
                    <div class="searchbar">
                        <input class="search_input" type="text" placeholder="Search profiles/groups/questions" id="search_bar" autofocus>
                        <a href="#" class="search_icon" style="color:#e74c3c"><i class="fas fa-search"></i></a>
                    </div>
                </div>
            </div>

            <div id="res-search"></div>

            <div id="changePos" style="display: none;" class="text-center">
                <h3 id="textChangePos" style="text-align: center; margin: 30px">You can change your location</h3>
                <button type="button" class="btn btn-info" onclick="ContinueChangePos()"
                    style="border-radius:10px; margin: 10px; margin-left: 0px;">Change location</button>
                <button type="button" class="btn btn-secondary" onclick="backOriginalPos();"
                    style="border-radius:10px; margin: 10px; margin-left: 0px;">Original location</button>
            </div>
            

            <div id='menu' style="display: none; margin: 3%">
                <h3>Map themes</h3>
                <div class="form-group">
                    <select class="form-control" id="mapStyles">
                        <option value='streets-v11' selected>street</option>
                        <option value='outdoors-v11'>outdoor</option>
                        <option value='light-v10'>light</option>
                        <option value='dark-v10'>dark</option>
                        <option value='satellite-v9'>satellite</option>
                        <option value='satellite-streets-v11'>satellite street</option>
                    </select>
                </div>

                <h3>View on map</h3>
                <div class="form-group">
                    <select class="form-control" id="CBviews">
                        <option value='profiles' selected>profiles</option>
                        <option value='groups'>groups</option>
                        <option value='questions'>questions</option>
                    </select>
                </div>

                <h3>Range search</h3>
                <input id="ex5" type="text" data-slider-min="0" data-slider-max="50" data-slider-step="1" data-slider-value="20" />
                <span id="ex6CurrentSliderValLabel" style="margin-left: 20px"> Km: <span id="ex6SliderVal">26</span></span>
            </div>

            <div id='createGroup' style="display:none; margin: 20px" class="text-center">
                <input type="text" id="groupName" class="form-control" style="border-radius: 10px; margin: 0 auto; max-width: 600px;"
                    aria-label="Large" aria-describedby="inputGroup-sizing-sm" placeholder='Name'>
                <br/><br/>
                <button type="button" class="btn btn-outline-success" onclick="createGroup();">Create</button>
            </div>

        </div>
    </div>

</body>

</html>

<style type="text/css">
    /* #container {
        width: 100vw;
        height: 100vh;
    } */

    #map {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
    }

    #control-panel {
        /* width: 100vw;
        height: 100vh; */
        font-size: 12px;
        /* position: absolute; */
        top: 0;
        left: 0;
        margin: 12px;
        padding: 20px;
        /* line-height: 2; */
        z-index: 1;
        /* background: #fff;
        border: solid 1px #ccc;
        border-bottom-color: #bbb;
        border-radius: 3px;
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.15); */
    }

    #btn-home {
        position: absolute;
        left: 50%;
        margin-left: -22px;
        bottom: 30px;
        border: 0;
        background: transparent;
        background-color: white;
        border-radius: 50px;
        height: 45px;
        width: 45px;
    }

    #btn-group {
        position: absolute;
        left: 10%;
        margin-left: -22px;
        bottom: 30px;
        border: 0;
        background: transparent;
        background-color: white;
        border-radius: 50px;
        height: 45px;
        width: 45px;
    }

    #btn-question {
        position: absolute;
        left: 90%;
        margin-left: -22px;
        bottom: 30px;
        border: 0;
        background: transparent;
        background-color: white;
        border-radius: 50px;
        height: 45px;
        width: 45px;
    }

    #btn-setting {
        position: absolute;
        left: 90%;
        margin-left: -22px;
        margin-top: -10px;
        border: 0;
        background: transparent;
        background-color: white;
        border-radius: 50px;
        height: 45px;
        width: 45px;
    }

    #btn-changePos {
        position: absolute;
        left: 10%;
        margin-left: -22px;
        margin-top: -10px;
        border: 0;
        background: transparent;
        background-color: white;
        border-radius: 50px;
        height: 45px;
        width: 45px;
    }

    #btn-search {
        position: absolute;
        left: 50%;
        margin-left: -22px;
        margin-top: -10px;
        border: 0;
        background: transparent;
        background-color: white;
        border-radius: 50px;
        height: 45px;
        width: 45px;
    }

    /* body,
    html {
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
    } */

    .searchbar {
        width: 90%;
        height: 60px;
        background-color: #353b48;
        border-radius: 30px;
        padding: 10px;
        /* margin-left: -22px; */
    }

    .search_input {
        color: white;
        border: 0;
        outline: 0;
        background: none;
        /* width: 0; */
        /* caret-color:transparent; */
        line-height: 40px;
        transition: width 0.3s linear;
        padding: 0 10px;
        width: 75%;
        caret-color: red;
    }

    .search_icon {
        height: 40px;
        width: 40px;
        float: right;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        color: white;
        border: 0;
        background: transparent;
    }


    .modal {
        position: absolute;
        display: none;
        /* position: fixed; */
        /* Stay in place */
        z-index: 1;
        /* Sit on top */
        padding-top: 5%;
        /* Location of the box */
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgb(0, 0, 0);
        /* Fallback color */
        background-color: rgba(0, 0, 0, 0.4);
        /* Black w/ opacity */
    }

    .modal-content {
        display: inline-block;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        width: 90%;
        height: 90%; 
        max-width: 700px;
        max-height: 90%;
        border: 1px solid #888;
        background-color: #fefefe;
        padding: 20px;
        overflow-y: scroll;
        overflow: auto;
    }

    .close {
        color: #aaaaaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
        text-align: end;
    }

    .close:hover,
    .close:focus {
        color: #000;
        text-decoration: none;
    }

    #titles {
        padding-left: 3%;
        text-decoration: none;
        font-size: 30px;
        color: black;
        display: block;
    }
    #profile {
        padding-left: 3%;
        text-decoration: none;
        font-size: 25px;
        color: #FF3333;
        display: block;
    }
    #group {
        padding-left: 3%;
        text-decoration: none;
        font-size: 25px;
        color: #32CD32;
        display: block;
    }
    #question {
        padding-left: 3%;
        text-decoration: none;
        font-size: 25px;
        color: blue;
        display: block;
    }

    .card-deck {
        margin: 0 auto; /* Added */
        float: none; /* Added */
        margin-bottom: 10px; /* Added */
    }

</style>

<script src="login_register/vendor/jquery/jquery-3.2.1.min.js"></script>
<script>
    // var _gaq = _gaq || [];
    // _gaq.push(['_setAccount', 'UA-36251023-1']);
    // _gaq.push(['_setDomainName', 'sebastienbiollo.com']);
    // _gaq.push(['_trackPageview']);
    
    // (function() {
    // var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    //     ga.src = ('https:' === document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    //     var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    //     })();


    const url = 'http://localhost:3001/api/'

    var profileData = JSON.parse(sessionStorage.getItem("profile"))
    var CBviews;
    var slider = new Slider('#ex5');
    var rangeView;

    function session(){
        if(profileData === null){
            window.location.href = "http://localhost:3001/login"
        } else if(profileData['nickname'] === null || profileData['password'] === null || 
                profileData['nickname'] === undefined || profileData['password'] === undefined){
            window.location.href = "http://localhost:3001/login"
        }
        let params = JSON.stringify({
            nickname: profileData['nickname'],
            password: profileData['password'],
        })

        let Http = new XMLHttpRequest();
        Http.open("POST", url + 'profile/login', true);
        Http.setRequestHeader('Content-Type', 'application/json; charset=UTF-8');
        Http.send(params);
        Http.onreadystatechange = (e) => {
            if (Http.readyState === 4 && Http.status === 200) {
                let response = JSON.parse(Http.responseText)
                if (response["confirmation"] === "success") {
                    if(response['data'] === null){
                        window.location.href = "http://localhost:3001/login"
                    }
                } else {
                    window.location.href = "http://localhost:3001/login"
                }
            }
        }

        rangeView = JSON.parse(sessionStorage.getItem("rangeView")).range
    }
    session()


    var modal = document.getElementById("myModal");
    var resSearch = document.getElementById("res-search");
    function closeMenu(){
        document.getElementById("title-model").innerHTML = ""
        modal.style.display = "none"
        resSearch.style.display = "none"
        document.getElementById("changePos").style.display = "none"
        document.getElementById("menu").style.display = "none"
        document.getElementById("search-icon").style.display = "none"
        document.getElementById("no-gps").style.display = "none"
        document.getElementById("createGroup").style.display = "none"
        if(rangeView !== JSON.parse(sessionStorage.getItem("rangeView")).range){
            sessionStorage.setItem("rangeView", JSON.stringify({ range: rangeView }))
            window.location.href = "http://localhost:3001/"
        }
    }
    
    document.getElementById("closeModal").onclick = function () {
        closeMenu()
    }

    function delay(callback, ms) {
        var timer = 0;
        return function () {
            var context = this, args = arguments;
            clearTimeout(timer);
            timer = setTimeout(function () {
                callback.apply(context, args);
            }, ms || 0);
        };
    }

    $("#search_bar").keyup(delay(function (e) {
        var keyCode = e.keyCode || e.which;
        if (keyCode === 13) {
            e.preventDefault();
            return false;
        }

        let search = $("#search_bar").val()
        if(search !== ""){
            resSearch.innerHTML = ""
            searchInDB(search, "group")
            searchInDB(search, "profile")
            searchInDB(search, "question")
        } else {
            resSearch.innerHTML = ""
            getSaved()
        }
    }, 400))

    function searchInDB(search, type) {
        let params = JSON.stringify({
            search: search,
        })

        let Http = new XMLHttpRequest();
        Http.open("POST", url + 'search/' + type, true);
        Http.setRequestHeader('Content-Type', 'application/json; charset=UTF-8');
        Http.send(params);
        Http.onreadystatechange = (e) => {
            if (Http.readyState === 4 && Http.status === 200) {
                let response = JSON.parse(Http.responseText)
                if (response["confirmation"] === "success") {
                    if(response[type].length > 0){

                        let p = document.createElement("p")
                        let textnode = document.createTextNode(type.charAt(0).toUpperCase() + type.slice(1) + "s");
                        p.setAttribute('id', 'titles')
                        p.appendChild(textnode)
                        resSearch.appendChild(p)

                        response[type].forEach(function (element) {
                            let a = document.createElement("a")
                            if (type === "group"){
                                let href = "http://localhost:3001/group?groupname=" + element['name']
                                a.setAttribute('href', href)
                                a.setAttribute('id', type)
                                textnode = document.createTextNode(element['name'])
                            }
                            if (type === "question") {
                                let href = "http://localhost:3001/question?title=" + element['title']
                                a.setAttribute('href', href)
                                a.setAttribute('id', type)
                                textnode = document.createTextNode(element['title'])
                            }
                            if (type === "profile") {
                                let href = "http://localhost:3001/profile?nickname=" + element['nickname']
                                a.setAttribute('href', href)
                                a.setAttribute('id', type)
                                textnode = document.createTextNode(element['nickname'])
                            }
                            
                            a.appendChild(textnode)
                            resSearch.appendChild(a)
                        })
                    }
                } else {
                    console.log(response)
                }
            }
        }
    }

    function getSaved() {
        let nick = profileData['nickname']
        let params = JSON.stringify({
            nick: nick,
        })
        let Http = new XMLHttpRequest();
        Http.open("POST", url + 'profile/getSaved', true);
        Http.setRequestHeader('Content-Type', 'application/json; charset=UTF-8');
        Http.send(params);
        Http.onreadystatechange = (e) => {
            if (Http.readyState === 4 && Http.status === 200) {
                let response = JSON.parse(Http.responseText)
                if (response["confirmation"] === "success") {
                    response = response["data"]

                    if (response != null && ( ("savedGroup" in response && response["savedGroup"].length > 0) || ("savedQuestion" in response && response["savedQuestion"].length > 0) )){
                        let h2 = document.createElement("h2")
                        h2.innerHTML = "Bookmarks"
                        h2.setAttribute('id', 'titles')
                        h2.style.marginBottom = "30px"
                        h2.style.textDecoration = "underline"
                        resSearch.appendChild(h2)
                    }

                    if (response != null && "savedGroup" in response){
                        if (response["savedGroup"].length > 0) {
                            let p = document.createElement("p");
                            let textnode = document.createTextNode("Groups");
                            p.setAttribute('id', 'titles')
                            p.appendChild(textnode);
                            resSearch.appendChild(p)
                        }

                        response["savedGroup"].forEach(function (element) {
                            let a = document.createElement("a");
                            let href = "http://localhost:3001/group?groupname=" + element
                            a.setAttribute('href', href)
                            a.setAttribute('id', "group")
                            let textnode = document.createTextNode(element)
                            a.appendChild(textnode);
                            resSearch.appendChild(a)
                        });
                    }

                    if (response != null && "savedQuestion" in response) {
                        if (response["savedQuestion"].length > 0) {
                            let p = document.createElement("p");
                            let textnode = document.createTextNode("Questions");
                            p.setAttribute('id', 'titles')
                            p.appendChild(textnode);
                            resSearch.appendChild(p)
                        }

                        response["savedQuestion"].forEach(function (element) {
                            let a = document.createElement("a");
                            let href = "http://localhost:3001/question?title=" + element
                            a.setAttribute('href', href)
                            a.setAttribute('id', "question")
                            let textnode = document.createTextNode(element)
                            a.appendChild(textnode);
                            resSearch.appendChild(a)
                        });
                    }

                } else {
                    console.log(response)
                }

            }
        }
    }

    var infoIP
    function noGPS(){
        if(profileData['coords'] !== undefined && profileData['coords'][0] === 0 && profileData['coords'][1] === 0){

            /*
            let Http = new XMLHttpRequest();
            Http.open("GET", 'http://ip-api.com/json', true);
            Http.send();
            Http.onreadystatechange = (e) => {
                if (Http.readyState === 4 && Http.status === 200) {
                    infoIP = JSON.parse(Http.responseText)

                    const state_view = {
                        latitude: infoIP['lat'],
                        longitude: infoIP['lon'],
                        zoom: 7,
                        bearing: 0,
                        pitch: 20
                    }

                    profileData['coords'] = [state_view.longitude, state_view.latitude] // x, y
                    sessionStorage.setItem("profile", JSON.stringify(profileData))
                    getData(state_view)
                }
            }*/

            const state_view = {
                latitude: 0,
                longitude: 0,
                zoom: 2,
                bearing: 0,
                pitch: 20
            }

            profileData['coords'] = [state_view.longitude, state_view.latitude] // x, y
            sessionStorage.setItem("profile", JSON.stringify(profileData))
            getData(state_view)

        } else {
            // let view = {
            //     questions: 0,
            //     groups: 1,
            //     profiles: 0,
            // }
            // sessionStorage.setItem("view", JSON.stringify(view));
            // CBviews = view

            document.getElementById("map_controller").style.display = "none"

            document.getElementById("no-gps").style.display = "block"
        }   
    }

    function reloadPage(){
        window.location.reload();
    }

    function withoutPosition(){
        profileData['coords'] = [0, 0]
        sessionStorage.setItem("profile", JSON.stringify(profileData))

        closeMenu()

        reloadPage()

        // modal.style.display = "block"
        // resSearch.style.display = "block"
        // document.getElementById("changePos").style.display = "block"
        // document.getElementById("title-model").innerHTML = "New location"

        // document.getElementById("closeModal").onclick = function () {}
        // document.getElementById("closeModal").innerHTML = ""

        // document.getElementById("textChangePos").innerHTML = "You can select a location to stay temporarily"
    }

    function handlePermission() {
        navigator.permissions.query({ name: 'geolocation' }).then(function (result) {
            // ci metteva troppo senza questo check al "show on map" di profile
            if (profileData['coords'] !== undefined) {
                if (result.state === 'denied') {
                    noGPS()
                } else {
                    if(profileData['coords'][0] !== 0 && profileData['coords'][1] !== 0){
                        showPosition({ coords: { latitude: profileData['coords'][1], longitude: profileData['coords'][0] } })
                    } else { // vuol dire che all'inizio ha bloccato, poi ha riacconsentito, e quindi e' ancora in [0, 0]
                        navigator.geolocation.getCurrentPosition(showPosition, showError);
                    }
                }
            } else {
                if (result.state === 'granted') {
                    navigator.geolocation.getCurrentPosition(showPosition, showError);
                } else if (result.state === 'prompt') {
                    navigator.geolocation.getCurrentPosition(showPosition, showError);
                } else if (result.state === 'denied') {
                    noGPS()
                }
                // result.onchange = function () {
                //     console.log(result.state);
                // }
            }
        });
    }

    var canUpdateStatus = false
    function showPosition(position) {
        const state_view = {
            latitude: position.coords.latitude,
            longitude: position.coords.longitude,
            zoom: 8,
            bearing: 0,
            pitch: 20,
        }
        
        profileData['coords'] = [position.coords.longitude, position.coords.latitude] // x, y
        sessionStorage.setItem("profile", JSON.stringify(profileData))
        getData(state_view)
    }

    function showError(error) {
        switch (error.code) {
            case error.PERMISSION_DENIED:
                // alert("User denied the request for Geolocation.")
                noGPS()
                break
            case error.POSITION_UNAVAILABLE:
                // alert("Location information is unavailable.")
                noGPS()
                break
            case error.TIMEOUT:
                // alert("The request to get user location timed out.")
                noGPS()
                break
            case error.UNKNOWN_ERROR:
                // alert("An unknown error occurred.")
                noGPS()
                break
        }
    }

    function setMap(state_view) {
        if(JSON.parse(sessionStorage.getItem("changePos")) !== null){
            setMapChangePos()
            return
        }

        if (profileData['fakePos'] !== undefined && profileData['fakePos'][0] !== 0 && profileData['fakePos'][1] !== 0){
            state_view.longitude = profileData['fakePos'][0]
            state_view.latitude = profileData['fakePos'][1]
            state_view.zoom = 8

            if(CBviews['profiles'] === 1){
                let foundProfile = false
                for (let a = 0; a < AllProfiles.features.length; ++a) {
                    if (AllProfiles.features[a].properties['nickname'] === profileData['nickname']) {
                        AllProfiles.features[a].geometry['coordinates'] = [state_view.longitude, state_view.latitude]
                        AllProfiles.features[a].properties['mag'] = 6.0
                        foundProfile = true
                        break;
                    }
                }
                if (foundProfile === false) {
                    let profile = {
                        "type": "Feature",
                        "properties": {
                            'nickname': profileData['nickname'],
                            "mag": 6.0
                        },
                        "geometry": { "type": "Point", "coordinates": profileData['fakePos'] }
                    }
                    AllProfiles.features.push(profile)
                }
            }
        }
        else if (CBviews['profiles'] === 1 && profileData['coords'] !== undefined && (profileData['coords'][0] !== 0 && profileData['coords'][1] !== 0)) {
            // senza dover rifare la request al db, aggiorno solo le coordinate dell'utente temporaneamente, anche se nel db gia' sono giuste
            let foundProfile = false
            for (let a = 0; a < AllProfiles.features.length; ++a) {
                if (AllProfiles.features[a].properties['nickname'] === profileData['nickname']) {
                    AllProfiles.features[a].geometry['coordinates'] = [state_view.longitude, state_view.latitude]
                    foundProfile = true
                    break;
                }
            }
            if (foundProfile === false) {
                let profile = {
                    "type": "Feature",
                    "properties": {
                        'nickname': profileData['nickname'],
                        // 'name': profileData['name'],
                        // 'surname': profileData['surname'],
                        "mag": 2.0
                    },
                    "geometry": { "type": "Point", "coordinates": profileData['coords'] }
                }
                AllProfiles.features.push(profile)
            }
        }

        var dataToDisplay;
        let optionViews;
        if (CBviews['groups'] === 1) {
            dataToDisplay = Allgroups
            optionViews = 'groups'
        }
        else if (CBviews['questions'] === 1) {
            dataToDisplay = AllQuestions
            optionViews = 'questions'
        }
        else if (CBviews['profiles'] === 1) {
            dataToDisplay = AllProfiles
            optionViews = 'profiles'
        }
        let optionsView = document.getElementById('CBviews').getElementsByTagName('option')
        for (let a = 0; a < optionsView.length; ++a) {
            if (optionsView[a].value === optionViews) {
                optionsView[a].selected = true
                break;
            }
        }

        let showOnMapProfile = JSON.parse(sessionStorage.getItem("showOnMapProfile"))
        if (showOnMapProfile !== null) {
            state_view.longitude = showOnMapProfile.x
            state_view.latitude = showOnMapProfile.y
            state_view.zoom = 11
            sessionStorage.removeItem("showOnMapProfile");
        }

        mapboxgl.accessToken = 'pk.eyJ1IjoiMHg1ZWJhIiwiYSI6ImNrMDZ6bXF1dTAyNnYzYnBhbXpwa2hiZzUifQ.pkLDhr0wnSJpWv7K5MwEHQ'
        // const AIR_PORTS = 'https://d2ad6b4ur7yvpq.cloudfront.net/naturalearth-3.3.0/ne_10m_airports.geojson'

        let mapStyle = JSON.parse(sessionStorage.getItem("mapStyle"))
        let optionsStreet = document.getElementById('mapStyles').getElementsByTagName('option')
        let street = mapStyle['mapStyle'].split("/")
        street = street[street.length-1]
        for(let a = 0; a < optionsStreet.length; ++a){
            if(optionsStreet[a].value === street){
                optionsStreet[a].selected = true
                break;
            }
        }

        const map = new mapboxgl.Map({
            container: 'map',
            style: mapStyle['mapStyle'],
            // interactive: false, // Note: deck.gl will be in charge of interaction and event handling
            center: [state_view.longitude, state_view.latitude],
            zoom: state_view.zoom,
            bearing: state_view.bearing,
            pitch: state_view.pitch,
            attributionControl: false,
        })
        map.addControl(new mapboxgl.AttributionControl({
            compact: true
        }))

        map.on('load', function () {
            map.addSource('earthquakes', {
                "type": "geojson",
                "data":  dataToDisplay,
            })

            map.addLayer({
                "id": "earthquakes-heat",
                "type": "heatmap",
                "source": "earthquakes",
                "maxzoom": 11,
                "paint": {
                    // Increase the heatmap weight based on frequency and property magnitude
                    "heatmap-weight": [
                        "interpolate",
                        ["linear"],
                        ["get", "mag"],
                        0, 0,
                        6, 1
                    ],
                    // Increase the heatmap color weight weight by zoom level
                    // heatmap-intensity is a multiplier on top of heatmap-weight
                    "heatmap-intensity": [
                        "interpolate",
                        ["linear"],
                        ["zoom"],
                        0, 1,
                        11, 5
                    ],
                    // Color ramp for heatmap.  Domain is 0 (low) to 1 (high).
                    // Begin color ramp at 0-stop with a 0-transparancy color
                    // to create a blur-like effect.
                    "heatmap-color": [
                        "interpolate",
                        ["linear"],
                        ["heatmap-density"],
                        0, "rgba(33,102,172,0)",
                        0.2, "rgb(103,169,207)",
                        0.4, "rgb(209,229,240)",
                        0.6, "rgb(253,219,199)",
                        0.8, "rgb(239,138,98)",
                        1, "rgb(178,24,43)"
                    ],
                    // Adjust the heatmap radius by zoom level
                    "heatmap-radius": [
                        "interpolate",
                        ["linear"],
                        ["zoom"],
                        0, 2,
                        11, 20
                    ],
                    // Transition from heatmap to circle layer by zoom level
                    "heatmap-opacity": [
                        "interpolate",
                        ["linear"],
                        ["zoom"],
                        7, 1,
                        11, 0
                    ],
                }
            }, 'waterway-label');

            map.addLayer({
                "id": "earthquakes-point",
                "type": "circle",
                "source": "earthquakes",
                "minzoom": 7,
                "paint": {
                    // Size circle radius by earthquake magnitude and zoom level
                    "circle-radius": [
                        "interpolate",
                        ["linear"],
                        ["zoom"],
                        7, [
                            "interpolate",
                            ["linear"],
                            ["get", "mag"],
                            1, 3,
                            6, 3
                        ],
                        16, [
                            "interpolate",
                            ["linear"],
                            ["get", "mag"],
                            1, 8,
                            6, 8
                        ]
                    ],
                    // Color circle by earthquake magnitude
                    "circle-color": [
                        "interpolate",
                        ["linear"],
                        ["get", "mag"],
                        // 1, "rgba(33,102,172,0)",
                        // 2, "rgb(103,169,207)",
                        // 3, "rgb(209,229,240)",
                        // 4, "rgb(253,219,199)",
                        // 5, "rgb(239,138,98)",
                        // 6, "rgb(178,24,43)"

                        1, "rgb(46, 204, 113)",
                        2, "rgb(103,169,207)",
                        6, "rgb(178,24,43)"
                    ],
                    "circle-stroke-color": "white",
                    "circle-stroke-width": 1,
                    // Transition from heatmap to circle layer by zoom level
                    "circle-opacity": [
                        "interpolate",
                        ["linear"],
                        ["zoom"],
                        7, 0,
                        8, 1
                    ]
                }
            }, 'waterway-label');
        });

        // When a click event occurs on a feature in the earthquakes-point layer, open a popup at the
        // location of the feature, with description HTML from its properties.
        map.on('click', 'earthquakes-point', function (e) {
            let coordinates = e.features[0].geometry.coordinates.slice();
            let description = ""
            if (CBviews['groups'] === 1) {
                let name = e.features[0].properties.name

                description = "<h2>Group</h2><h5>" + name + "</h5>" + 
                    "<a href='http://localhost:3001/group?groupname=" + e.features[0].properties.name + "'>Link to the group</a>"
            }
            else if (CBviews['questions'] === 1) {
                let title = e.features[0].properties.title
                title = title.slice(0, 30) + (title.length > 30 ? "..." : "")
                let details = e.features[0].properties.details !== undefined ? e.features[0].properties.details : ""
                details = details.slice(0, 30) + (details.length > 30 ? "..." : "")

                description = "<h2>Question</h2><h5>" + title + "</h5><p>" + details + "</p>" +
                    "<a href='http://localhost:3001/question?title=" + e.features[0].properties.title + "'>Link to the question</a>"
            }
            else if (CBviews['profiles'] === 1) {
                let nickname = e.features[0].properties.nickname
                let name = e.features[0].properties.name !== undefined ? e.features[0].properties.name : ""
                let surname = e.features[0].properties.surname !== undefined ? e.features[0].properties.surname : ""

                description = "<h2>Profile</h2><h5>" + nickname + "</h5><p>" + name + " " + surname + "</p>" +
                    "<a href='http://localhost:3001/profile?nickname=" + e.features[0].properties.nickname + "'>Link to the profile</a>"
            }

            // Ensure that if the map is zoomed out such that multiple
            // copies of the feature are visible, the popup appears
            // over the copy being pointed to.
            while (Math.abs(e.lngLat.lng - coordinates[0]) > 180) {
                coordinates[0] += e.lngLat.lng > coordinates[0] ? 360 : -360;
            }

            new mapboxgl.Popup()
                .setLngLat(coordinates)
                .setHTML(description)
                .addTo(map);
        });

        // Change the cursor to a pointer when the mouse is over the earthquakes-point layer.
        map.on('mouseenter', 'earthquakes-point', function () {
            map.getCanvas().style.cursor = 'pointer';
        })

        // Change it back to a pointer when it leaves.
        map.on('mouseleave', 'earthquakes-point', function () {
            map.getCanvas().style.cursor = '';
        })

        var html = '<div class="marker-popup">I am a custom pop-up</div>';
        var customPopUp = new mapboxgl.Popup(
            {
                anchor: 'bottom',   // To show popup on top
                offset: { 'bottom': [0, -10] },  // To prevent popup from over shadowing the marker.
                closeOnClick: false   // To prevent close on mapClick.
            }
        ).setHTML(html);

        if(profileData['coords'] !== undefined && profileData['coords'][0] !== 0 && profileData['coords'][1] !== 0){
            new mapboxgl.Marker()
                .setLngLat(profileData['coords'])
                // .setPopup(customPopUp)
                .addTo(map);
        }

        if (profileData['fakePos'] !== undefined && profileData['fakePos'][0] !== 0 && profileData['fakePos'][1] !== 0) {
            new mapboxgl.Marker({ "color": "#b40219" })
                .setLngLat(profileData['fakePos'])
                // .setPopup(customPopUp)
                .addTo(map);
        }
        
        // const deck = new Deck({
        //     canvas: map.getCanvas(),
        //     width: '100%',
        //     height: '100%',
        //     initialViewState: state_view,
        //     controller: true,
        //     onViewStateChange: ({ viewState }) => {
        //         map.jumpTo({
        //             center: [viewState.longitude, viewState.latitude],
        //             zoom: viewState.zoom,
        //             bearing: viewState.bearing,
        //             pitch: viewState.pitch
        //         })
        //     },
        // })

        const mainDiv = d3.select('#control-panel').selectAll('div').data([{ text: "home" }]).enter().append('div')

        // home
        mainDiv.append('button').attr("id", "btn-home")
            .on('click', d => {
                if (profileData['fakePos'] !== undefined && profileData['fakePos'][0] !== 0 && profileData['fakePos'][1] !== 0) {
                    map.jumpTo({
                        center: profileData['fakePos'],
                        zoom: 12,
                    })
                }
                else if (profileData['coords'] !== undefined && profileData['coords'][0] === 0 && profileData['coords'][1] === 0) {
                    // document.getElementById("map_controller").style.display = "none"
                    // document.getElementById("no-gps").style.display = "block"
                } else if (profileData['coords'] !== undefined && profileData['coords'][0] !== 0 && profileData['coords'][1] !== 0){
                    // deck.setProps({
                    //     viewState: {
                    //         longitude: state_view.longitude,
                    //         latitude: state_view.latitude,
                    //         zoom: 12,
                    //         transitionInterpolator: new FlyToInterpolator(),
                    //         transitionDuration: 1000
                    //     }
                    // })

                    map.jumpTo({
                        center: profileData['coords'],
                        zoom: 12,
                    })
                }
            })
            .append("img").attr("src", "icons/iconfinder_gps-not-fixed_326555.svg").attr("width", "30").attr("height", "30").style("border-radius", "20%")
        
        // group
        mainDiv.append('button').attr("id", "btn-group")
            .on('click', d => {
                if (profileData['coords'] !== undefined && profileData['coords'][0] === 0 && profileData['coords'][1] === 0) {
                    // document.getElementById("map_controller").style.display = "none"
                    // document.getElementById("no-gps").style.display = "block"
                } else {
                    modal.style.display = "block"
                    document.getElementById("title-model").innerHTML = "Create a group"
                    document.getElementById("createGroup").style.display = "block"
                }
            })
            .append("i").attr("class", "fas fa-user-friends fa-2x").style("color", "black")

        // quesiton
        mainDiv.append('button').attr("id", "btn-question")
            .on('click', d => {
                if(profileData['fakePos'] !== undefined){
                    window.location.href = "http://localhost:3001/question"
                }
                if (profileData['coords'] !== undefined && profileData['coords'][0] !== 0 && profileData['coords'][1] !== 0) {
                    window.location.href = "http://localhost:3001/question"
                } else {
                    // document.getElementById("map_controller").style.display = "none"
                    // document.getElementById("no-gps").style.display = "block"
                }
            })
            .append("img").attr("src", "icons/iconfinder_social-80_2285232.svg").attr("width", "30").attr("height", "30").style("border-radius", "20%")

        // changePos
        mainDiv.append('button').attr("id", "btn-changePos")
            .on('click', d => {
                modal.style.display = "block"
                document.getElementById("changePos").style.display = "block"
                document.getElementById("title-model").innerHTML = "Change location"
            })
            .append("img").attr("src", "icons/iconfinder_50_location_map_pointer_travel_4308078.svg").attr("width", "30").attr("height", "30").style("border-radius", "20%")

        //setting
        mainDiv.append('button').attr("id", "btn-setting")
            .on('click', d => {
                modal.style.display = "block"
                resSearch.style.display = "block"
                document.getElementById("menu").style.display = "block"
                resSearch.innerHTML = ""
                document.getElementById("title-model").innerHTML = "Settings"

                $("#mapStyles").change(function () {
                    var layerId = $(this).children("option:selected").val();
                    map.setStyle('mapbox://styles/mapbox/' + layerId);
                    sessionStorage.setItem("mapStyle", JSON.stringify({ mapStyle: 'mapbox://styles/mapbox/' + layerId }));
                    closeMenu()
                    reloadPage()
                });

                $("#CBviews").change(function () {
                    var value = $(this).children("option:selected").val();
                    let view = {
                        questions: 0,
                        groups: 0,
                        profiles: 0,
                    }
                    view[value] = 1
                    sessionStorage.setItem("view", JSON.stringify(view));
                    closeMenu()
                    reloadPage()
                });

                slider.destroy()
                document.getElementById("ex5").setAttribute("data-slider-value", rangeView)
                sliderValueKm = rangeView * 1.3
                sliderValueKm = sliderValueKm.toFixed(1)
                
                document.getElementById("ex6SliderVal").textContent = sliderValueKm
                slider = new Slider('#ex5');
                slider.on("slide", function (sliderValue) {
                    sliderValueKm = rangeView * 1.3
                    sliderValueKm = sliderValueKm.toFixed(1)

                    document.getElementById("ex6SliderVal").textContent = sliderValueKm
                    rangeView = sliderValue
                });
                
            })
            .append("img").attr("src", "icons/iconfinder_settings_2561383.svg").attr("width", "30").attr("height", "30")


        // search
        // let div_search = mainDiv.append('div').attr("class", "searchbar")
        //     .style("position", "absolute").style("left", "50%").style("margin-top", "-20px").style("margin-left", "-28px")
        //     .on('click', d => {
        //         modal.style.display = "block"
        //         resSearch.style.display = "block"
        //         resSearch.innerHTML = ""
        //         document.getElementById("search-icon").style.display = "block"
        //         document.getElementById("title-model").innerHTML = "Search"
        //     })
        // div_search.append("button").attr("class", "search_icon").append("i").attr("class", "fas fa-search fa-lg")
            

        mainDiv.append('button').attr("id", "btn-search")
            .on('click', d => {
                modal.style.display = "block"
                resSearch.style.display = "block"
                resSearch.innerHTML = ""
                document.getElementById("search-icon").style.display = "block"
                document.getElementById("title-model").innerHTML = "Search"

                getSaved()
            })
            .append("i").attr("class", "fas fa-search fa-2x").style("color", "black")

        // map.addControl(new mapboxgl.GeolocateControl({
        //     positionOptions: {
        //         enableHighAccuracy: true
        //     },
        //     trackUserLocation: true
        // }));
        // map.addControl(new mapboxgl.FullscreenControl({ container: document.querySelector('body') }));
        map.doubleClickZoom.enable();
        // map.touchZoomRotate.enable({ around: 'center' });


        // var marker = new mapboxgl.Marker()
        //     .setLngLat([30.5, 50.5])
        //     .addTo(map);
        // var popup = new mapboxgl.Popup()
        //     .setLngLat([state_view.longitude, state_view.latitude])
        //     .setHTML('<h1>I am Here</h1>')
        //     .addTo(map)

        // CanvasSource, CanvasSourceOptions per i personaggi animati, oppure se sono immagini metti quello per le immagini
    }

    function setMapChangePos() {
        sessionStorage.removeItem("changePos")

        mapboxgl.accessToken = 'pk.eyJ1IjoiMHg1ZWJhIiwiYSI6ImNrMDZ6bXF1dTAyNnYzYnBhbXpwa2hiZzUifQ.pkLDhr0wnSJpWv7K5MwEHQ'

        let mapStyle = JSON.parse(sessionStorage.getItem("mapStyle"))
        let optionsStreet = document.getElementById('mapStyles').getElementsByTagName('option')
        let street = mapStyle['mapStyle'].split("/")
        street = street[street.length - 1]
        for (let a = 0; a < optionsStreet.length; ++a) {
            if (optionsStreet[a].value === street) {
                optionsStreet[a].selected = true
                break;
            }
        }

        const map = new mapboxgl.Map({
            container: 'map',
            style: mapStyle['mapStyle'],
            zoom: 1,
            bearing: 0,
            pitch: 0,
            attributionControl: false,
        })
        map.addControl(new mapboxgl.AttributionControl({
            compact: true
        }))
        map.doubleClickZoom.enable();

        map.on('mousemove', function (e) {
            // map.getCanvas().style.cursor = "url('icons/iconfinder_17_Location_1815566.png'), auto"
            map.getCanvas().style.cursor = "pointer"
        });

        map.on('click', function (e) {
            let coords = e.lngLat   
            let details = "<p style=\"margin-top: 10px;\">Do you want to go here?</p><button type=\"button\" class=\"btn btn-success\" onclick='setFakePos(" + coords['lng'] + "," + coords['lat'] + ")'>Yes</button>"

            new mapboxgl.Popup()
                .setLngLat(coords)
                .setHTML(details)
                .addTo(map);
        });

        if (profileData['coords'] !== undefined && profileData['coords'][0] !== 0 && profileData['coords'][1] !== 0) {
            new mapboxgl.Marker()
                .setLngLat(profileData['coords'])
                .addTo(map);
        }
    }

    function setFakePos(x, y) {
        let nick = profileData['nickname']
        let fakepos = {
            x: x,
            y: y,
        }
        let params = JSON.stringify({
            search: {
                nickname: nick
            },
            update: {
                fakePos: fakepos
            }
        })

        profileData['fakePos'] = [x, y]
        sessionStorage.setItem("profile", JSON.stringify(profileData))

        const Http = new XMLHttpRequest();
        Http.open("POST", url + 'profile/update', true);
        Http.setRequestHeader('Content-Type', 'application/json; charset=UTF-8');
        Http.send(params);
        Http.onreadystatechange = (e) => {
            if (Http.readyState === 4 && Http.status === 200) {
                let response = JSON.parse(Http.responseText)
                if (response["confirmation"] === "success") {
                    reloadPage()
                } else {
                    console.log(response)
                }
            }
        }
    }


    var offline = false
    $(document).mouseleave(function (e) {
        if (offline === false && canUpdateStatus === true) {
            iamStatus(false)
            offline = true
        }
    });
    $(document).click(function (e) {
        if(offline === true && canUpdateStatus === true){
            iamStatus(true)
            offline = false
        }
    });
    $(document).mouseenter(function (e) {
        if(offline === true && canUpdateStatus === true){
            iamStatus(true)
            offline = false
        }
    });

    
    function iamStatus(status) {
        let nick = profileData['nickname']
        let params = JSON.stringify({
            search: {
                nickname: nick
            },
            update: {
                online: status,
                lastSeen: Date.now(),
                pos: { x: profileData['coords'][0], y: profileData['coords'][1]}
            }
        })

        const Http = new XMLHttpRequest();
        Http.open("POST", url + 'profile/update', true);
        Http.setRequestHeader('Content-Type', 'application/json; charset=UTF-8');
        Http.send(params);
        Http.onreadystatechange = (e) => {
            if (Http.readyState === 4 && Http.status === 200) {
                let response = JSON.parse(Http.responseText)
                if (response["confirmation"] === "success") {

                } else {
                    console.log(response)
                }
            }
        }
    }

    function createGroup() {
        var groupName = document.getElementById("groupName").value
        if (groupName === "") {
            alert("Insert a group name")
            return
        }
        if (groupName.length > 20 || !groupName.match(/^[0-9a-zA-Z ]+$/)) {
            alert("Only Alphanumerical, no space and max 20 length")
            return
        }
        groupName = groupName.trim()
        
        let x = profileData['coords'][0]
        let y = profileData['coords'][1]
        let params = JSON.stringify({
            name: groupName,
            pos: { x: x, y: y }
        })
        const Http = new XMLHttpRequest();
        Http.open("POST", url + 'group/create', true);
        Http.setRequestHeader('Content-Type', 'application/json; charset=UTF-8');
        Http.send(params);
        Http.onreadystatechange = (e) => {
            if (Http.readyState === 4 && Http.status === 200) {
                let response = JSON.parse(Http.responseText)
                if (response["confirmation"] === "success") {
                    window.location.href = "http://localhost:3001/group?groupname=" + groupName
                } else {
                    console.log(response)
                }
            }
        }
    }

    function showSubscribers(state_view) {
        let groupName = JSON.parse(sessionStorage.getItem("showSubscribers"))['groupName']
        let params = JSON.stringify({
            name: groupName,
        })

        const Http = new XMLHttpRequest();
        Http.open("POST", url + 'group/showOnMap', true);
        Http.setRequestHeader('Content-Type', 'application/json; charset=UTF-8');
        Http.send(params);
        Http.onreadystatechange = (e) => {
            if (Http.readyState === 4 && Http.status === 200) {
                let response = JSON.parse(Http.responseText)
                if (response["confirmation"] === "success") {
                    AllProfiles = response['subscribers']

                    sessionStorage.removeItem("showSubscribers");

                    canUpdateStatus = true
                    setMap(state_view)
                    iamStatus(true)
                } else {
                    console.log(response)
                }
            }
        }
    }

    function ContinueChangePos() {
        sessionStorage.setItem("changePos", JSON.stringify({}))
        window.location.reload()
    }

    function backOriginalPos() {
        delete profileData['fakePos']
        sessionStorage.setItem("profile", JSON.stringify(profileData))
        window.location.reload()
    }

    var AllProfiles = []
    function initProfiles(state_view, x, y) {
        let params = JSON.stringify({
            x: x, 
            y: y, 
            range: rangeView / 100,
        })

        let Http = new XMLHttpRequest()
        Http.open("POST", url + 'profile/allProfiles', true)
        Http.setRequestHeader('Content-Type', 'application/json; charset=UTF-8');
        Http.send(params)
        Http.onreadystatechange = (e) => {
            if (Http.readyState === 4 && Http.status === 200) {
                let profiles = JSON.parse(Http.responseText)
                AllProfiles = profiles['profiles']

                canUpdateStatus = true
                setMap(state_view)
                iamStatus(true)
            }
        }
    }

    var Allgroups = []
    function initGroups(state_view, x, y) {
        let params = JSON.stringify({
            x: x,
            y: y,
            range: rangeView / 100,
        })

        let Http = new XMLHttpRequest()
        Http.open("POST", url + 'group/allGroups', true)
        Http.setRequestHeader('Content-Type', 'application/json; charset=UTF-8');
        Http.send(params)
        Http.onreadystatechange = (e) => {
            if (Http.readyState === 4 && Http.status === 200) {
                let groups = JSON.parse(Http.responseText)
                Allgroups = groups['groups']

                canUpdateStatus = true
                setMap(state_view)
                iamStatus(true)
            }
        }
    }
    

    var AllQuestions = []
    function initQuestions(state_view, x, y) {
        let params = JSON.stringify({
            x: x,
            y: y,
            range: rangeView / 100,
        })

        let Http = new XMLHttpRequest()
        Http.open("POST", url + 'question/allQuestions', true)
        Http.setRequestHeader('Content-Type', 'application/json; charset=UTF-8');
        Http.send(params)
        Http.onreadystatechange = (e) => {
            if (Http.readyState === 4 && Http.status === 200) {
                let questions = JSON.parse(Http.responseText)
                AllQuestions = questions['questions']

                canUpdateStatus = true
                setMap(state_view)
                iamStatus(true)
            }
        }
    }
    
    function getData(state_view){
        CBviews = JSON.parse(sessionStorage.getItem("view"))

        if(JSON.parse(sessionStorage.getItem("changePos")) !== null){
            setMapChangePos()
            return
        }

        if(JSON.parse(sessionStorage.getItem("showSubscribers")) !== null){
            let view = {
                questions: 0,
                groups: 0,
                profiles: 1,
            }
            CBviews = view
            sessionStorage.setItem("view", JSON.stringify(view));
            showSubscribers(state_view)
            return
        }


        // TODO non dovrei fare la request se profileData['coords'] = [0, 0]


        let x = profileData['coords'][0]
        let y = profileData['coords'][1]
        if(profileData['fakePos'] !== undefined && profileData['fakePos'][0] !== 0 && profileData['fakePos'][1] !== 0){
            x = profileData['fakePos'][0]
            y = profileData['fakePos'][1]
        } 
        
        if (CBviews['groups'] === 1) {
            initGroups(state_view, x, y)
        }
        else if (CBviews['questions'] === 1) {
            initQuestions(state_view, x, y)
        }
        else if (CBviews['profiles'] === 1) {
            initProfiles(state_view, x, y)
        }
        else {
            window.location.href = "http://localhost:3001/login"
        }
    }

    $(document).ready(function () {
        handlePermission()
    })

</script>