<!DOCTYPE html>
<html lang="en">
<head>
    
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-148651561-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'UA-148651561-1');
    </script>

    <script src="https://www.google.com/recaptcha/api.js?render=6Ld5r7sUAAAAAFJMOQE7k3uZsAqH-3DMD3FdNSe6"></script>
    <script>
        grecaptcha.ready(function () {
            grecaptcha.execute('6Ld5r7sUAAAAAFJMOQE7k3uZsAqH-3DMD3FdNSe6', { action: 'home' }).then(function (token) {
                document.getElementById('loginButton').addEventListener('click', function(event) {
                    login(token)
                });
            });
        });
    </script>

    <title>Login</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="localCDN/bootstrap.css">
    <!-- <link rel="stylesheet" type="text/css" href="localCDN/fontawesome.css"> -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
        integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <script src="localCDN/jquery.js"></script>
    <script src="localCDN/popper.js"></script>
    <script src="localCDN/bootstrap.js"></script>

    <link rel="stylesheet" type="text/css" href="localCDN/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="localCDN/css/util.css">
    <link rel="stylesheet" type="text/css" href="localCDN/css/main.css">
    
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="login_register/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="login_register/css/util.css">
    <link rel="stylesheet" type="text/css" href="login_register/css/main.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->
</head>
<body>
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<div class="login100-pic js-tilt" data-tilt>
					<img src="localCDN/images/img-01.png" alt="Sebastien Biollo, Meet people">
				</div>

				<div class="login100-form validate-form">
					<span class="login100-form-title">
						Login
					</span>

					<div class="wrap-input100 validate-input" data-validate = "nickname is required">
						<input class="input100" type="text" id='nickname' name="nickname" placeholder="Nickname">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-envelope" aria-hidden="true"></i>
						</span>
					</div>

					<div class="wrap-input100 validate-input" data-validate = "Password is required">
						<input class="input100" type="password" id='password' name="pass" placeholder="Password">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-lock" aria-hidden="true"></i>
						</span>
					</div>
					
					<div class="container-login100-form-btn">
						<button class="login100-form-btn" id="loginButton">
							Login
						</button>
					</div>

					<div class="text-center p-t-120">
						<a class="txt4" href="register">
							Create your Account
							<i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
						</a>
                    </div>
                </div>
                <div style="font-size: 10px; padding-top: 30px; color: #B8B8B8;">
                    This site is protected by reCAPTCHA and the Google
                    <a href="https://policies.google.com/privacy" style="font-size: 10px;">Privacy Policy</a> and
                    <a href="https://policies.google.com/terms" style="font-size: 10px;">Terms of Service</a> apply.
                </div>
            </div>
        </div>
	</div>
	
</body>
</html>

<style>
    .grecaptcha-badge {
        visibility: collapse !important;
    }
</style>

<script>
    const url = 'http://localhost:3001/api/';

    // Show the error when the input is not filled or incorrect
    var input = $('.validate-input .input100');

    $('.validate-form .input100').each(function(){
        $(this).focus(function(){
           hideValidate(this);
        });
    });

    function validate (input) {
        if($(input).attr('type') === 'email' || $(input).attr('name') === 'email') {
            if($(input).val().trim().match(/^([a-zA-Z0-9_\-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([a-zA-Z0-9\-]+\.)+))([a-zA-Z]{1,5}|[0-9]{1,3})(\]?)$/) === null) {
                return false;
            }
        }
        else {
            if($(input).val().trim() === ''){
                return false;
            }
        }
    }

    function showValidate(input) {
        var thisAlert = $(input).parent();
        $(thisAlert).addClass('alert-validate');
    }

    function hideValidate(input) {
        var thisAlert = $(input).parent();
        $(thisAlert).removeClass('alert-validate');
    }

    // var passwordInput = document.getElementById("password");
    // passwordInput.addEventListener("keyup", function (event) {
    //     if (event.keyCode === 13) {
    //         login()
    //     }
    // })
    // var nicknameInput = document.getElementById("nickname");
    // nicknameInput.addEventListener("keyup", function (event) {
    //     if (event.keyCode === 13) {
    //         login()
    //     }
    // })

    // login with nickname and password, pressing the button login, only if there is no error
    function login(token){
        var check = true;

        for (var i = 0; i < input.length; i++) {
            if (validate(input[i]) === false) {
                showValidate(input[i]);
                check = false;
            }
        }

        if(check === true){
            sessionStorage.clear()
            localStorage.clear()

            let password = document.getElementById("password").value.trim()
            let nickname = document.getElementById("nickname").value.trim()
            let params = JSON.stringify({
                nickname: nickname,
                password: password,
                recaptcha: token
            })

            $.ajax({
                url: url + 'auth',
                headers: {
                    'Content-Type': 'application/json; charset=UTF-8',
                },
                method: 'POST',
                dataType: 'json',
                data: params,
                success: (res) => {
                    localStorage.setItem("authToken", JSON.stringify({ Authorization: "Bearer " + res['accessToken'] }))
                    localStorage.setItem("profile", JSON.stringify({ id: res['id'], nickname: nickname }));

                    let view = {
                        questions: 0,
                        groups: 0,
                        profiles: 1,
                    }
                    localStorage.setItem("view", JSON.stringify(view));

                    localStorage.setItem("rangeView", JSON.stringify({ range: 20 }))

                    localStorage.setItem("mapStyle", JSON.stringify({ mapStyle: 'mapbox://styles/mapbox/streets-v11' }));

                    window.location.href = "http://localhost:3001/"
                },
                error: (err) => {
                    console.log(err)
                }
            })
        }
    }
</script>