<!DOCTYPE html>
<html lang="en">

<head>
    <title>Question</title>

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-148651561-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'UA-148651561-1');
    </script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" type="text/css" href="localCDN/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="localCDN/fontawesome.css">
    <link rel="stylesheet" type="text/css" href="localCDN/summernote.css">
    <script src="localCDN/jquery.js"></script>
    <script src="localCDN/popper.js"></script>
    <script src="localCDN/bootstrap.js"></script>
    <script src="localCDN/summernote.js"></script>
<!-- 
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    
    <script src="login_register/vendor/jquery/jquery-3.2.1.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote-bs4.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote-bs4.js"></script>  -->
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" onclick="window.location.href='http://localhost:3001/'">
            <img style="border-radius:50%;" src="/logo/Infinity Art iPhone Wallpaper.png" width="40" height="40"
                class="d-inline-block align-top" alt="">
        </a>
    
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <button type="button" id="buttonSaveQuestion" class="btn btn-info" onclick="saveQuestion();"
                        style="border-radius:10px; margin: 10px; margin-left: 0px;">Save in
                        Bookmarks</button>
                </li>
            </ul>
        </div>
    </nav>
    
    <div id='askQuestion' style="display:none;">
        <div style="margin: 20px; width: 90%">
            <h2 style="text-align: center; margin: 30px">Ask a question</h2>
            <div class="input-group input-group-lg">
                <input type="text" id="title" class="form-control" style="border-radius:10px;" aria-label="Large"
                    aria-describedby="inputGroup-sizing-sm" placeholder='Title'>
            </div>
            </br>

            <textarea maxlength="1000" id="summernote"></textarea>

            </br>
            <p>The question expire after 24 hours, but you can still find it in the search bar</p>
            <button type="button" class="btn btn-outline-primary" onclick="return askQuestion();"
                style="border-color: #1569C7">Create</button>
        </div>
    </div>


    <div id='showQuestion' style="display:none;">
        <div style="margin: 20px; float: left;" id="divVoteQuestion"></div>

        <div style="overflow-wrap: break-word; margin-left: 70px">
            <h3 id="title_show" style="font-weight: bold; margin-top: 20px; margin-bottom: 10px;"></h3>
            <div id="details_show"></div></br>
            <div id='creator' style="margin-bottom: 20px"></div>
        </div>

        <div id='root' style="margin-left: 30px">
        </div>
    </div>

    <div class="alert alert-danger alert-dismissible fade show text-center" role="alert" id="showError" style="display: none;">
        <button type="button" class="close">
            <span id="closeAlert">&times;</span>
        </button>
        <div id="messageError"></div>
    </div>
</body>

</html>

<style>
    #showError {
        position: fixed;
        left: 50%;
        bottom: 40px;
        transform: translate(-50%, -50%);
        border-radius: 20px;
        width: 90%;
        height: auto;
    }
    
    #closeAlert {
        float: right;
        font-size: 20px;
        font-weight: bold;
        text-align: end;
    }
    #closeAlert:hover,
    #closeAlert:focus {
        color: #000;
        text-decoration: none;
    }
</style>

<!-- <script src="https://code.jquery.com/jquery-3.2.1.js"></script> -->
<script>
    const url = 'http://localhost:3001/api/';
    var currentUrl = new URL(window.location.href);

    var questionId = currentUrl.searchParams.get("title");
    var question = {};

    var coordToUse = "coords"

    var authToken = JSON.parse(localStorage.getItem("authToken"))
    var profileData = JSON.parse(localStorage.getItem("profile"))
    function session(){
        if(authToken === null){
            window.location.href = "http://localhost:3001/login"
        }
        rangeView = JSON.parse(localStorage.getItem("rangeView")).range

        refreshToken()
    }
    session()

    function refreshToken(first=false) {
        $.ajax({
            url: url + 'auth/refresh',
            headers: {
                'Authorization': authToken['accessToken'],
                'Content-Type': 'application/json; charset=UTF-8',
            },
            credentials: 'include',
            method: 'POST',
            dataType: 'json',
            success: (res) => {
                if (res["accessToken"] !== undefined) {
                    localStorage.setItem("authToken", JSON.stringify({ accessToken: "Bearer " + res['accessToken'] }))
                    authToken = JSON.parse(localStorage.getItem("authToken"))

                    if (questionId === null && profileData['fakePos'] === undefined) {
                        if (profileData['coords'] === undefined || (profileData['coords'] !== undefined && profileData['coords'][0] === 0 && profileData['coords'][1] === 0)) {
                            window.location.href = "http://localhost:3001/"
                        } else { // vuol dire che non ha fakePos, ma ha coords
                            coordToUse = 'coords'
                        }
                    }
                    if (questionId === null && profileData['fakePos'] !== undefined) {
                        coordToUse = 'fakePos'
                    }
                } else {
                    window.location.href = "http://localhost:3001/login"
                }
            },
            error: (err) => {
                window.location.href = "http://localhost:3001/login"
            }
        })
    }
    window.setInterval(function () {
        refreshToken()
    }, 1700000);

    document.getElementById("closeAlert").onclick = function () {
        document.getElementById("showError").style.display = "none"
        document.getElementById("messageError").innerHTML = ""
    }
    function showAlertError(err) {
        document.getElementById("showError").style.display = "block";
        document.getElementById("messageError").innerText = err
    }

    var optionsEditor = {
        focus: true,
        placeholder: 'Write : and a letter for emoji, example :smile',
        tabsize: 2,
        height: 300,
        // callbacks: {
        //     onKeydown: function (e) {
        //         if(e['currentTarget']['innerText'].length > (questionId === null ? 1000 : 300)){
        //             if (!(e.which == '8')) // del
        //                 e.preventDefault();
        //         }
        //     },
        //     onPaste: function (e) {
        //         console.log(e)
        //         console.log('Called event paste');
        //     }
        // },
        hint: {
            match: /:([\-+\w]+)$/,
            search: function (keyword, callback) {
                callback($.grep(emojis, function (item) {
                    return item.indexOf(keyword) === 0;
                }));
            },
            template: function (item) {
                var content = emojiUrls[item];
                return '<img src="' + content + '" width="20" /> :' + item + ':';
            },
            content: function (item) {
                var url = emojiUrls[item];
                if (url) {
                    return $('<img />').attr('src', url).css('width', 20)[0];
                }
                return '';
            }
        },
        toolbar: [
            ['style', ['bold', 'italic', 'underline', 'forecolor']],
            ['para', ['ul', 'ol', 'paragraph']],
            ['height', ['height']],
            ['insert', ['link']], // 'picture'
            ['view', ['undo', 'redo', 'help']],
        ],
        popover: {
            image: [
                ['image', ['resizeFull', 'resizeHalf', 'resizeQuarter', 'resizeNone']],
                ['float', ['floatLeft', 'floatRight', 'floatNone']],
                ['remove', ['removeMedia']]
            ],
            link: [
                ['link', ['linkDialogShow', 'unlink']]
            ],
            table: [
                ['add', ['addRowDown', 'addRowUp', 'addColLeft', 'addColRight']],
                ['delete', ['deleteRow', 'deleteCol', 'deleteTable']],
            ],
            air: [
                ['color', ['color']],
                ['font', ['bold', 'underline', 'clear']],
                ['para', ['ul', 'paragraph']],
                ['table', ['table']],
                ['insert', ['link', 'picture']]
            ]
        }
    }

    function getEmoji(){
        $.ajax({
            url: 'https://api.github.com/emojis',
            method: 'GET',
            dataType: 'json',
            success: (res) => {
                window.emojis = Object.keys(res);
                window.emojiUrls = res;
            },
            error: (err) => {
                console.log(err)
            }
        })
    }
    getEmoji()
    
    if (questionId === null) {
        document.getElementById("buttonSaveQuestion").style.display = "none"
        $('#summernote').summernote(optionsEditor);

        document.getElementById("askQuestion").style.display = "block"

    } else {
        document.getElementById("showQuestion").style.display = "block"

        getQuestionAndAnswers()
    }

    function saveQuestion() {
        $.ajax({
            url: url + 'profile/bookmarkQuestion/' + profileData['id'] + "&" + question["_id"],
            headers: {
                'Authorization': authToken['accessToken'],
                'Content-Type': 'application/json; charset=UTF-8',
            },
            credentials: 'include',
            method: 'PATCH',
            dataType: 'json',
            success: (res) => {
                if (res["accessToken"] !== undefined) {
                    localStorage.setItem("authToken", JSON.stringify({ accessToken: "Bearer " + res['accessToken'] }))
                    authToken = JSON.parse(localStorage.getItem("authToken"))
                    saveQuestion()
                } else {
                    console.log("saved")
                }
            },
            error: (err) => {
                if(err['err'] === "Invalid access token"){
                    newAccessToken(() => saveQuestion())
                } else if(err['err'] === "Invalid refresh token"){
                    authToken = null
                    localStorage.removeItem("authToken")
                    window.location.href = "http://localhost:3001/login"
                } else {
                    showAlertError(err)
                }
            }
        })
    }

    function askQuestion() {
        let title = document.getElementById("title").value
        title = title.trim()

        let htmlDetails = $('#summernote').summernote('code')

        let d = document.createElement("div")
        d.innerHTML = htmlDetails
        let clearDetails = d.innerText.trim()

        let params = JSON.stringify({
            title: title,
            details: clearDetails,
            html: htmlDetails,
        })
        requestAskQuestion(params)
    }
    function requestAskQuestion(params) {
        $.ajax({
            url: url + 'question/create/' + profileData['id'],
            headers: {
                'Authorization': authToken['accessToken'],
                'Content-Type': 'application/json; charset=UTF-8',
            },
            credentials: 'include',
            method: 'POST',
            dataType: 'json',
            data: params,
            success: (res) => {
                if (res["accessToken"] !== undefined) {
                    localStorage.setItem("authToken", JSON.stringify({ accessToken: "Bearer " + res['accessToken'] }))
                    authToken = JSON.parse(localStorage.getItem("authToken"))
                    requestAskQuestion(params)
                } else {
                    window.location.href = "http://localhost:3001/question?title=" + res['id']
                }
            },
            error: (err) => {
                if(err['err'] === "Invalid access token"){
                    newAccessToken(() => requestAskQuestion(params))
                } else if(err['err'] === "Invalid refresh token"){
                    authToken = null
                    localStorage.removeItem("authToken")
                    window.location.href = "http://localhost:3001/login"
                } else {
                    showAlertError(err)
                }
            }
        })
    }

    function getQuestionAndAnswers() {
        $.ajax({
            url: url + 'question/' + questionId,
            headers: {
                'Authorization': authToken['accessToken'],
                'Content-Type': 'application/json; charset=UTF-8',
            },
            credentials: 'include',
            method: 'GET',
            dataType: 'json',
            success: (res) => {
                if (res["accessToken"] !== undefined) {
                    localStorage.setItem("authToken", JSON.stringify({ accessToken: "Bearer " + res['accessToken'] }))
                    authToken = JSON.parse(localStorage.getItem("authToken"))
                    getQuestionAndAnswers()
                } else {
                    question = res

                    addVoteToQuestion()
                    htmlQuestion()

                    createDivAnswers()
                }
            },
            error: (err) => {
                if(err['err'] === "Invalid access token"){
                    newAccessToken(() => getQuestionAndAnswers())
                } else if(err['err'] === "Invalid refresh token"){
                    authToken = null
                    localStorage.removeItem("authToken")
                    window.location.href = "http://localhost:3001/login"
                } else {
                    showAlertError(err)
                }
            }
        })
    }

    function htmlQuestion() {
        document.getElementById("title_show").innerHTML = question["title"]
        document.getElementById("details_show").innerHTML = question["html"]
        let creator = document.getElementById("creator")
        creator.innerHTML = "Created by <b> <a href='http://localhost:3001/profile?nickname=" + question["idCreator"] + "'>" + question["idCreator"] + "</a></b>"
    }

    function createDivAnswers() {
        var answers = question['answers']
        let treeLevel = 0
        let rootDiv = document.getElementById("root")
        rootDiv.innerHTML = ""

        let div = document.createElement("div");
        div.style.marginLeft = "20px"

        let textarea = document.createElement("textarea")
        textarea.setAttribute("id", "mainAnswerEditor")
        textarea.setAttribute("level", 0)
        textarea.setAttribute("idParent", "root")
        textarea.setAttribute("maxlength", "300")

        let buttonEditorMainAnswer = document.createElement("button");
        buttonEditorMainAnswer.onclick = function () {
            let answer = $('#mainAnswerEditor').summernote('code')
            let mainAnswerEditor = document.getElementById("mainAnswerEditor")
            createAnswer(mainAnswerEditor.getAttribute("level"), mainAnswerEditor.getAttribute("idParent"), answer, this)
        }
        buttonEditorMainAnswer.setAttribute("type", "button")
        buttonEditorMainAnswer.setAttribute("class", "btn btn-warning")
        buttonEditorMainAnswer.style.marginTop = "20px"
        buttonEditorMainAnswer.style.borderRadius = "10px"
        buttonEditorMainAnswer.innerHTML = "Send"

        div.appendChild(textarea)
        div.appendChild(buttonEditorMainAnswer)
        rootDiv.append(div)

        $('#mainAnswerEditor').summernote(optionsEditor);

        if (answers.length > 0) {

            var queue = [];
            var stack = [];
            var dict = {}
            // questo loop mi serve solo per gli elementi di livello 0
            for (var i = 0; i < answers.length; i++) {
                var element = answers[i]
                queue.push(element)
                stack.push(element)
                if (element["level"] != 0) {
                    break
                }
                dict[element["_id"]] = 0

                createDiv(element)

                // devo cercare il primo elemento con livello+1 e che abbia come parent l'id di questo element
                while (true) {
                    let Element;
                    if (queue.length === 0) {
                        // console.log("queue.length === 0")
                        if (stack.length === 0) { // done
                            break
                        }
                        Element = stack[stack.length - 1]
                    } else {
                        // console.log("queue shift")
                        Element = queue.shift()
                    }

                    // console.log(Element)
                    // console.log("queue ", queue)
                    // console.log("stack ", stack)

                    let idElement = Element["_id"]
                    let ElementLevel = Element["level"]
                    let find = false

                    for (var j = 0; j < answers.length; j++) {
                        var findUpLevel = answers[j]
                        if (findUpLevel["_id"] in dict) {
                            continue
                        }
                        if (findUpLevel["parent"] === idElement && findUpLevel["level"] === ElementLevel + 1) {

                            queue.push(findUpLevel)
                            stack.push(findUpLevel)
                            dict[findUpLevel["_id"]] = 0
                            find = true
                            // console.log("findUpLevel ", findUpLevel)

                            // crea un div, e mettilo sotto al parent, e ci aggiungo un bottone replay
                            createDiv(findUpLevel)

                            break
                        }
                    }
                    // tolgo definitivamente l'elemento
                    if (find === false) {
                        stack.pop()
                    }
                }
            }
        }
    }

    function addVoteToQuestion() {
        let divVoteQuestion = document.getElementById("divVoteQuestion")
        divVoteQuestion.innerHTML = ""

        let voteUp = document.createElement("div")
        voteUp.setAttribute("class", "row")
        voteUp.style.margin = "0 auto"
        let aUp = document.createElement("a")
        aUp.addEventListener("click", function (event) {
            updateVoteQuestion(1)
        })
        aUp.href = "javascript:"
        let imgUp = document.createElement("img")
        imgUp.src = "Upvote.png"
        imgUp.width = "20"
        imgUp.height = "20"
        imgUp.style.borderRadius = "10px"
        aUp.appendChild(imgUp)
        voteUp.appendChild(aUp)

        let vote = document.createElement("div")
        vote.innerHTML = question["vote"]
        vote.style.textAlign = "center"

        let voteDown = document.createElement("div")
        voteDown.setAttribute("class", "row")
        voteDown.style.margin = "0 auto"
        let aDown = document.createElement("a")
        aDown.addEventListener("click", function (event) {
            updateVoteQuestion(-1)
        })
        aDown.href = "javascript:"
        let imgDown = document.createElement("img")
        imgDown.src = "Downvote.png"
        imgDown.width = "20"
        imgDown.height = "20"
        imgDown.style.borderRadius = "10px"
        aDown.appendChild(imgDown)
        voteDown.appendChild(aDown)

        divVoteQuestion.appendChild(voteUp)
        divVoteQuestion.appendChild(vote)
        divVoteQuestion.appendChild(voteDown)
    }

    function addVoteToDiv(voteElement, element) {
        let voteDiv = document.createElement("div")
        voteDiv.setAttribute("class", "col-xs-1")
        voteDiv.style.marginRight = "20px"

        let voteUp = document.createElement("div")
        voteUp.setAttribute("class", "row")
        voteUp.style.margin = "0 auto"
        let aUp = document.createElement("a")
        aUp.setAttribute("element", JSON.stringify(element))
        aUp.addEventListener("click", function (event) {
            let el = JSON.parse(this.getAttribute("element"))
            updateVoteAnswer(el, 1)
        })
        aUp.href = "javascript:"
        let imgUp = document.createElement("img")
        imgUp.src = "Upvote.png"
        imgUp.width = "20"
        imgUp.height = "20"
        imgUp.style.borderRadius = "10px"
        aUp.appendChild(imgUp)
        voteUp.appendChild(aUp)

        let vote = document.createElement("div")
        vote.innerHTML = voteElement
        vote.style.textAlign = "center"

        let voteDown = document.createElement("div")
        voteDown.setAttribute("class", "row")
        voteDown.style.margin = "0 auto"
        let aDown = document.createElement("a")
        aDown.setAttribute("element", JSON.stringify(element))
        aDown.addEventListener("click", function (event) {
            let el = JSON.parse(this.getAttribute("element"))
            updateVoteAnswer(el, -1)
        })
        aDown.href = "javascript:"
        let imgDown = document.createElement("img")
        imgDown.src = "Downvote.png"
        imgDown.width = "20"
        imgDown.height = "20"
        imgDown.style.borderRadius = "10px"
        aDown.appendChild(imgDown)
        voteDown.appendChild(aDown)

        voteDiv.appendChild(voteUp)
        voteDiv.appendChild(vote)
        voteDiv.appendChild(voteDown)

        return voteDiv
    }

    function updateVoteAnswer(el, vote) {
        let params = JSON.stringify({
            vote: vote
        })
        $.ajax({
            url: url + 'question/answer/' + questionId + "&" + profileData['id'] + "&" + el["_id"],
            headers: {
                'Authorization': authToken['accessToken'],
                'Content-Type': 'application/json; charset=UTF-8',
            },
            credentials: 'include',
            method: 'PATCH',
            dataType: 'json',
            data: params,
            success: (res) => {
                if (res["accessToken"] !== undefined) {
                    localStorage.setItem("authToken", JSON.stringify({ accessToken: "Bearer " + res['accessToken'] }))
                    authToken = JSON.parse(localStorage.getItem("authToken"))
                    updateVoteAnswer(el, vote)
                } else {
                    getQuestionAndAnswers()
                }
            },
            error: (err) => {
                if(err['err'] === "Invalid access token"){
                    newAccessToken(() => updateVoteAnswer(el, vote))
                } else if(err['err'] === "Invalid refresh token"){
                    authToken = null
                    localStorage.removeItem("authToken")
                    window.location.href = "http://localhost:3001/login"
                } else {
                    showAlertError(err)
                }
            }
        })
    }

    function updateVoteQuestion(vote) {
        let params = JSON.stringify({
            vote: vote
        })
        $.ajax({
            url: url + 'question/' + questionId + "&" + profileData['id'],
            headers: {
                'Authorization': authToken['accessToken'],
                'Content-Type': 'application/json; charset=UTF-8',
            },
            credentials: 'include',
            method: 'PATCH',
            dataType: 'json',
            data: params,
            success: (res) => {
                if (res["accessToken"] !== undefined) {
                    localStorage.setItem("authToken", JSON.stringify({ accessToken: "Bearer " + res['accessToken'] }))
                    authToken = JSON.parse(localStorage.getItem("authToken"))
                    updateVoteQuestion(vote)
                } else {
                    getQuestionAndAnswers()
                }
            },
            error: (err) => {
                if(err['err'] === "Invalid access token"){
                    newAccessToken(() => updateVoteQuestion(vote))
                } else if(err['err'] === "Invalid refresh token"){
                    authToken = null
                    localStorage.removeItem("authToken")
                    window.location.href = "http://localhost:3001/login"
                } else {
                    showAlertError(err)
                }
            }
        })
    }

    function createDiv(element) {
        // let rootDiv = document.getElementById(element['parent'])
        let rootDiv = document.getElementById("root")
        let div = document.createElement("div")
        div.setAttribute("class", "row")
        div.setAttribute("id", element["_id"])

        let voteDiv = addVoteToDiv(element["vote"], element)

        let textDiv = document.createElement("div")
        textDiv.setAttribute("class", "col-xs-11")

        let creator = document.createElement("p")
        creator.innerHTML = "<b><a href='http://localhost:3001/profile?nickname=" + element["nickname"] + "'>" + element["nickname"] + "</a></b>"
        let p = document.createElement("p")
        p.innerHTML = element["data"]
        let button = document.createElement("button")
        button.setAttribute("class", "btn btn-secondary")
        button.style.borderRadius = "10px"
        button.innerHTML = "Replay"
        button.setAttribute("parentDiv", element["_id"])
        button.setAttribute("parentLevel", element["level"])
        button.onclick = function () {

            let parenId = this.getAttribute("parentDiv")
            let parentDiv = document.getElementById(parenId)
            let parentLevel = parseInt(this.getAttribute("parentLevel"), 10)

            let div = document.createElement("div");
            div.style.marginLeft = "20px"

            let textarea = document.createElement("textarea")
            textarea.setAttribute("id", "answerEditor" + parenId)
            textarea.setAttribute("level", parentLevel + 1)
            textarea.setAttribute("idParent", parenId)
            textarea.setAttribute("maxlength", "300")

            let buttonEditorMainAnswer = document.createElement("button");
            buttonEditorMainAnswer.onclick = function () {
                let answer = $('#answerEditor' + parenId).summernote('code')
                let answerEditor = document.getElementById("answerEditor" + parenId)
                createAnswer(answerEditor.getAttribute("level"), answerEditor.getAttribute("idParent"), answer, this)
            }
            buttonEditorMainAnswer.setAttribute("type", "button")
            buttonEditorMainAnswer.setAttribute("class", "btn btn-warning")
            buttonEditorMainAnswer.style.marginTop = "20px"
            buttonEditorMainAnswer.style.borderRadius = "10px"
            buttonEditorMainAnswer.innerHTML = "Send"

            div.appendChild(textarea)
            div.appendChild(buttonEditorMainAnswer)

            console.log(parentDiv.childNodes)
            parentDiv.appendChild(div)

            // parentDiv.insertBefore(div, parentDiv.childNodes[2])
            this.style.visibility = 'hidden';

            let optionsEditor2 = optionsEditor
            optionsEditor2.height = 200
            $('#answerEditor' + parenId).summernote(optionsEditor2);
        }

        let br = document.createElement("br")
        let marginLeft = 3 * (element["level"] + 1)
        div.style.marginLeft = marginLeft + "%"
        div.style.marginTop = "20px"
        textDiv.appendChild(creator)
        textDiv.appendChild(p)
        textDiv.appendChild(button)

        div.appendChild(voteDiv)
        div.appendChild(textDiv)
        div.appendChild(br)

        rootDiv.appendChild(div)
    }


    function createAnswer(level, idParent, data, input) {
        if (data === "<p><br></p>") {
            alert("Write something")
            return
        }

        let params = JSON.stringify({
            data: data,
            level: level,
            parent: idParent,
        })
        $.ajax({
            url: url + 'question/answer/create/' + questionId + "&" + profileData['id'],
            headers: {
                'Authorization': authToken['accessToken'],
                'Content-Type': 'application/json; charset=UTF-8',
            },
            credentials: 'include',
            method: 'PATCH',
            dataType: 'json',
            data: params,
            success: (res) => {
                if (res["accessToken"] !== undefined) {
                    localStorage.setItem("authToken", JSON.stringify({ accessToken: "Bearer " + res['accessToken'] }))
                    authToken = JSON.parse(localStorage.getItem("authToken"))
                    createAnswer(level, idParent, data, input)
                } else {
                    input.setAttribute("myId", res["_id"])
                    getQuestionAndAnswers()
                }
            },
            error: (err) => {
                if(err['err'] === "Invalid access token"){
                    newAccessToken(() => createAnswer(level, idParent, data, input))
                } else if(err['err'] === "Invalid refresh token"){
                    authToken = null
                    localStorage.removeItem("authToken")
                    window.location.href = "http://localhost:3001/login"
                } else {
                    showAlertError(err)
                }
            }
        })
    }
</script>