<!DOCTYPE html>
<html lang="en">

<head>
    <title>Question</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>



    <script src="login_register/vendor/jquery/jquery-3.2.1.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote-bs4.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote-bs4.js"></script>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" onclick="window.history.back();">
            <img style="border-radius:50%;" src="/logo/Infinity Art iPhone Wallpaper.png" width="40" height="40"
                class="d-inline-block align-top" alt="">
        </a>
    
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <button type="button" id="buttonSaveQuestion" class="btn btn-info" onclick="saveQuestion();"
                        style="border-radius:10px; margin: 10px; margin-left: 0px;">Save in
                        Bookmarks</button>
                </li>
            </ul>
        </div>
    </nav>
    
    <div id='askQuestion' style="display:none;">
        <div style="margin: 20px; width: 90%">
            <h2 style="text-align: center; margin: 30px">Ask a question</h2>
            <div class="input-group input-group-lg">
                <input type="text" id="title" class="form-control" style="border-radius:10px;" aria-label="Large"
                    aria-describedby="inputGroup-sizing-sm" placeholder='Title'>
            </div>
            </br>

            <div id="summernote"></div>

            </br>
            <button type="button" class="btn btn-outline-primary" onclick="return askQuestion();"
                style="border-color: #1569C7">Create</button>
        </div>
    </div>


    <div id='showQuestion' style="display:none;">
        <div style="margin: 20px; float: left;" id="divVoteQuestion"></div>

        <div style="overflow-wrap: break-word; margin-left: 70px">
            <h3 id="title_show" style="font-weight: bold; margin-top: 20px; margin-bottom: 10px;"></h3>
            <div id="details_show"></div></br>
            <div id='creator' style="margin-bottom: 20px"></div>
        </div>

        <div id='root' style="margin-left: 30px">
        </div>
    </div>
</body>

</html>

<!-- <script src="https://code.jquery.com/jquery-3.2.1.js"></script> -->
<script>
    const url = 'http://localhost:3001/api/';
    var currentUrl = new URL(window.location.href);

    var nick = ""
    var title = currentUrl.searchParams.get("title");
    var question = {};

    var profileData;
    function session() {
        profileData = JSON.parse(sessionStorage.getItem("profile"))
        if (profileData === null) {
            window.location.href = "http://localhost:3001/"
        } else if (profileData['nickname'] === null || profileData['password'] === null) {
            window.location.href = "http://localhost:3001/"
        }
        let params = JSON.stringify({
            nickname: profileData['nickname'],
            password: profileData['password'],
        })

        nick = profileData['nickname']

        let Http = new XMLHttpRequest();
        Http.open("POST", url + 'profile/login', true);
        Http.setRequestHeader('Content-Type', 'application/json; charset=UTF-8');
        Http.send(params);
        Http.onreadystatechange = (e) => {
            if (Http.readyState === 4 && Http.status === 200) {
                let response = JSON.parse(Http.responseText)
                if (response["confirmation"] === "success") {
                    if (response['data'] === null) {
                        window.location.href = "http://localhost:3001/"
                    }
                } else {
                    window.location.href = "http://localhost:3001/"
                }
            }
        }  

        if (title === null && profileData['coords'] === undefined) {
            window.location.href = "http://localhost:3001/"
        }
        if (title === null && profileData['coords'][0] === 0 && profileData['coords'][1] === 0) {
            window.location.href = "http://localhost:3001/"
        }
        
    }
    session()

    var optionsEditor = {
        focus: true,
        placeholder: 'Write : and a letter for emoji, example :smile',
        tabsize: 2,
        height: 300,
        hint: {
            match: /:([\-+\w]+)$/,
            search: function (keyword, callback) {
                callback($.grep(emojis, function (item) {
                    return item.indexOf(keyword) === 0;
                }));
            },
            template: function (item) {
                var content = emojiUrls[item];
                return '<img src="' + content + '" width="20" /> :' + item + ':';
            },
            content: function (item) {
                var url = emojiUrls[item];
                if (url) {
                    return $('<img />').attr('src', url).css('width', 20)[0];
                }
                return '';
            }
        },
        toolbar: [
            ['style', ['bold', 'italic', 'underline', 'forecolor']],
            ['para', ['ul', 'ol', 'paragraph']],
            ['height', ['height']],
            ['insert', ['link']], // 'picture'
            ['view', ['undo', 'redo', 'help']],
        ],
        popover: {
            image: [
                ['image', ['resizeFull', 'resizeHalf', 'resizeQuarter', 'resizeNone']],
                ['float', ['floatLeft', 'floatRight', 'floatNone']],
                ['remove', ['removeMedia']]
            ],
            link: [
                ['link', ['linkDialogShow', 'unlink']]
            ],
            table: [
                ['add', ['addRowDown', 'addRowUp', 'addColLeft', 'addColRight']],
                ['delete', ['deleteRow', 'deleteCol', 'deleteTable']],
            ],
            air: [
                ['color', ['color']],
                ['font', ['bold', 'underline', 'clear']],
                ['para', ['ul', 'paragraph']],
                ['table', ['table']],
                ['insert', ['link', 'picture']]
            ]
        }
    }

    function getEmoji(){
        let Http = new XMLHttpRequest();
        Http.open("GET", 'https://api.github.com/emojis', true);
        Http.setRequestHeader('Content-Type', 'application/json; charset=UTF-8');
        Http.send();
        Http.onreadystatechange = (e) => {
            if (Http.readyState === 4 && Http.status === 200) {
                let response = JSON.parse(Http.responseText)
                window.emojis = Object.keys(response);
                window.emojiUrls = response;
            }
        }
    }
    getEmoji()
    
    if (title === null) {
        document.getElementById("buttonSaveQuestion").style.display = "none"
        $('#summernote').summernote(optionsEditor);

        document.getElementById("askQuestion").style.display = "block"

    } else {
        document.getElementById("showQuestion").style.display = "block"

        getQuestionAndAnswers()
    }

    function increaseView(q) {
        let params = JSON.stringify({
            search: {
                _id: q["_id"],
            },
            update: {
                $inc: { views: 1 }
            }
        })

        const Http = new XMLHttpRequest();
        Http.open("POST", url + 'question/updateView', true);
        Http.setRequestHeader('Content-Type', 'application/json; charset=UTF-8');
        Http.send(params);
        Http.onreadystatechange = (e) => {
            if (Http.readyState === 4 && Http.status === 200) {
                let response = JSON.parse(Http.responseText)
                if (response["confirmation"] === "success") {

                } else {
                    console.log(response)
                }
            }
        }
    }

    function saveQuestion() {
        let params = JSON.stringify({
            search: {
                nickname: nick,
            },
            update: {
                $addToSet: { savedQuestion: question["title"] }
            }
        })

        const Http = new XMLHttpRequest();
        Http.open("POST", url + 'profile/update/saved', true);
        Http.setRequestHeader('Content-Type', 'application/json; charset=UTF-8');
        Http.send(params);
        Http.onreadystatechange = (e) => {
            if (Http.readyState === 4 && Http.status === 200) {
                let response = JSON.parse(Http.responseText)
                if (response["confirmation"] === "success") {
                    console.log("saved")
                } else {
                    console.log(response)
                }
            }
        }
    }

    function askQuestion() {
        let title = document.getElementById("title").value
        if (title.length < 5) {
            alert("Question too short, at least 5 characters")
            return
        }
        title = title.trim()

        let htmlDetails = $('#summernote').summernote('code')
        console.log(htmlDetails)

        let d = document.createElement("div")
        let clearDetails = d.innerText.trim()

        let x = profileData['coords'][0]
        let y = profileData['coords'][1]

        let params = JSON.stringify({
            nickname: nick,
            pos: { x: x, y: y },
            title: title,
            details: clearDetails,
            html: htmlDetails,
            time: Date.now(),
        })
        const Http = new XMLHttpRequest();
        Http.open("POST", url + 'question/create', true);
        Http.setRequestHeader('Content-Type', 'application/json; charset=UTF-8');
        Http.send(params);
        Http.onreadystatechange = (e) => {
            if (Http.readyState === 4 && Http.status === 200) {
                let response = JSON.parse(Http.responseText)
                if (response["confirmation"] === "success") {
                    window.location.href = "http://localhost:3001/question?title=" + title
                } else {
                    console.log(response)
                }
            }
        }
    }

    function getQuestionAndAnswers() {
        let params = JSON.stringify({
            title: title,
        })
        const Http = new XMLHttpRequest();
        Http.open("POST", url + 'question/getQuestion', true);
        Http.setRequestHeader('Content-Type', 'application/json; charset=UTF-8');
        Http.send(params);
        Http.onreadystatechange = (e) => {
            if (Http.readyState === 4 && Http.status === 200) {
                let response = JSON.parse(Http.responseText)
                if (response["confirmation"] === "success") {
                    question = response["question"]
                    addVoteToQuestion(question)
                    increaseView(question)
                    htmlQuestion(question)
                } else {
                    console.log(response)
                }
            }
        }

        const Http2 = new XMLHttpRequest();
        Http2.open("POST", url + 'answer/group', true);
        Http2.setRequestHeader('Content-Type', 'application/json; charset=UTF-8');
        Http2.send(params);
        Http2.onreadystatechange = (e) => {
            if (Http2.readyState === 4 && Http2.status === 200) {
                response = JSON.parse(Http2.responseText)
                if (response["confirmation"] === "success") {
                    createDivAnswers(response["answers"])
                } else {
                    console.log(response)
                }
            }
        }
    }

    function htmlQuestion(question) {
        document.getElementById("title_show").innerHTML = question["title"]
        document.getElementById("details_show").innerHTML = question["html"]
        let creator = document.getElementById("creator")
        creator.innerHTML = "Created by <b>" + question['nickname'] + "</b>"
    }

    function createDivAnswers(answers) {
        let treeLevel = 0
        let rootDiv = document.getElementById("root")
        rootDiv.innerHTML = ""

        let div = document.createElement("div");
        div.style.marginLeft = "20px"

        let textarea = document.createElement("textarea")
        textarea.setAttribute("id", "mainAnswerEditor")
        textarea.setAttribute("level", 0)
        textarea.setAttribute("idParent", "root")
        
        let buttonEditorMainAnswer = document.createElement("button");
        buttonEditorMainAnswer.onclick = function () {
            let answer = $('#mainAnswerEditor').summernote('code')
            let mainAnswerEditor = document.getElementById("mainAnswerEditor")
            createAnswer(mainAnswerEditor.getAttribute("level"), mainAnswerEditor.getAttribute("idParent"), answer, this)
        }
        buttonEditorMainAnswer.setAttribute("type", "button")
        buttonEditorMainAnswer.setAttribute("class", "btn btn-warning")
        buttonEditorMainAnswer.style.marginTop = "20px"
        buttonEditorMainAnswer.style.borderRadius = "10px"
        buttonEditorMainAnswer.innerHTML = "Send"

        div.appendChild(textarea)
        div.appendChild(buttonEditorMainAnswer)
        rootDiv.append(div)

        $('#mainAnswerEditor').summernote(optionsEditor);

        if (answers.length > 0) {

            var queue = [];
            var stack = [];
            var dict = {}
            // questo loop mi serve solo per gli elementi di livello 0
            for (var i = 0; i < answers.length; i++) {
                var element = answers[i]
                queue.push(element)
                stack.push(element)
                if (element["level"] != 0) {
                    break
                }
                dict[element["_id"]] = 0

                createDiv(element)

                // devo cercare il primo elemento con livello+1 e che abbia come parent l'id di questo element
                while (true) {
                    let Element;
                    if (queue.length === 0) {
                        // console.log("queue.length === 0")
                        if (stack.length === 0) { // done
                            break
                        }
                        Element = stack[stack.length - 1]
                    } else {
                        // console.log("queue shift")
                        Element = queue.shift()
                    }

                    // console.log(Element)
                    // console.log("queue ", queue)
                    // console.log("stack ", stack)

                    let idElement = Element["_id"]
                    let ElementLevel = Element["level"]
                    let find = false

                    for (var j = 0; j < answers.length; j++) {
                        var findUpLevel = answers[j]
                        if (findUpLevel["_id"] in dict) {
                            continue
                        }
                        if (findUpLevel["parent"] === idElement && findUpLevel["level"] === ElementLevel + 1) {

                            queue.push(findUpLevel)
                            stack.push(findUpLevel)
                            dict[findUpLevel["_id"]] = 0
                            find = true
                            // console.log("findUpLevel ", findUpLevel)

                            // crea un div, e mettilo sotto al parent, e ci aggiungo un bottone replay
                            createDiv(findUpLevel)

                            break
                        }
                    }
                    // tolgo definitivamente l'elemento
                    if (find === false) {
                        stack.pop()
                    }
                }
            }
        }
    }

    function addVoteToQuestion(question) {
        let divVoteQuestion = document.getElementById("divVoteQuestion")
        divVoteQuestion.innerHTML = ""

        let voteUp = document.createElement("div")
        voteUp.setAttribute("class", "row")
        voteUp.style.margin = "0 auto"
        let aUp = document.createElement("a")
        aUp.setAttribute("element", JSON.stringify(question))
        aUp.addEventListener("click", function (event) {
            let el = JSON.parse(this.getAttribute("element"))
            updateVoteQuestion(el, 1)
        })
        aUp.href = "javascript:"
        let imgUp = document.createElement("img")
        imgUp.src = "Upvote.png"
        imgUp.width = "20"
        imgUp.height = "20"
        imgUp.style.borderRadius = "10px"
        aUp.appendChild(imgUp)
        voteUp.appendChild(aUp)

        let vote = document.createElement("div")
        vote.innerHTML = question["vote"]
        vote.style.textAlign = "center"

        let voteDown = document.createElement("div")
        voteDown.setAttribute("class", "row")
        voteDown.style.margin = "0 auto"
        let aDown = document.createElement("a")
        aDown.setAttribute("element", JSON.stringify(question))
        aDown.addEventListener("click", function (event) {
            let el = JSON.parse(this.getAttribute("element"))
            updateVoteQuestion(el, -1)
        })
        aDown.href = "javascript:"
        let imgDown = document.createElement("img")
        imgDown.src = "Downvote.png"
        imgDown.width = "20"
        imgDown.height = "20"
        imgDown.style.borderRadius = "10px"
        aDown.appendChild(imgDown)
        voteDown.appendChild(aDown)

        divVoteQuestion.appendChild(voteUp)
        divVoteQuestion.appendChild(vote)
        divVoteQuestion.appendChild(voteDown)
    }

    function addVoteToDiv(voteElement, element) {
        let voteDiv = document.createElement("div")
        voteDiv.setAttribute("class", "col-xs-1")
        voteDiv.style.marginRight = "20px"

        let voteUp = document.createElement("div")
        voteUp.setAttribute("class", "row")
        voteUp.style.margin = "0 auto"
        let aUp = document.createElement("a")
        aUp.setAttribute("element", JSON.stringify(element))
        aUp.addEventListener("click", function (event) {
            let el = JSON.parse(this.getAttribute("element"))
            updateVoteAnswer(el, 1)
        })
        aUp.href = "javascript:"
        let imgUp = document.createElement("img")
        imgUp.src = "Upvote.png"
        imgUp.width = "20"
        imgUp.height = "20"
        imgUp.style.borderRadius = "10px"
        aUp.appendChild(imgUp)
        voteUp.appendChild(aUp)

        let vote = document.createElement("div")
        vote.innerHTML = voteElement
        vote.style.textAlign = "center"

        let voteDown = document.createElement("div")
        voteDown.setAttribute("class", "row")
        voteDown.style.margin = "0 auto"
        let aDown = document.createElement("a")
        aDown.setAttribute("element", JSON.stringify(element))
        aDown.addEventListener("click", function (event) {
            let el = JSON.parse(this.getAttribute("element"))
            updateVoteAnswer(el, -1)
        })
        aDown.href = "javascript:"
        let imgDown = document.createElement("img")
        imgDown.src = "Downvote.png"
        imgDown.width = "20"
        imgDown.height = "20"
        imgDown.style.borderRadius = "10px"
        aDown.appendChild(imgDown)
        voteDown.appendChild(aDown)

        voteDiv.appendChild(voteUp)
        voteDiv.appendChild(vote)
        voteDiv.appendChild(voteDown)

        return voteDiv
    }

    function updateVoteAnswer(el, vote) {
        let params = JSON.stringify({
            search: el["_id"],
            update: { $inc: { vote: vote } },
            nick: nick,
        })
        const Http = new XMLHttpRequest();
        Http.open("POST", url + 'answer/updateVote', true);
        Http.setRequestHeader('Content-Type', 'application/json; charset=UTF-8');
        Http.send(params);
        Http.onreadystatechange = (e) => {
            if (Http.readyState === 4 && Http.status === 200) {
                let response = JSON.parse(Http.responseText)
                if (response["confirmation"] === "success") {
                    getQuestionAndAnswers()
                } else {
                    console.log("updateVoteAnswer ", response)
                }
            }
        }
    }

    function updateVoteQuestion(el, vote) {
        let params = JSON.stringify({
            search: el["_id"],
            update: { $inc: { vote: vote } },
            nick: nick,
        })
        const Http = new XMLHttpRequest();
        Http.open("POST", url + 'question/updateVote', true);
        Http.setRequestHeader('Content-Type', 'application/json; charset=UTF-8');
        Http.send(params);
        Http.onreadystatechange = (e) => {
            if (Http.readyState === 4 && Http.status === 200) {
                let response = JSON.parse(Http.responseText)
                if (response["confirmation"] === "success") {
                    getQuestionAndAnswers()
                } else {
                    console.log(response)
                }
            }
        }
    }

    function createDiv(element) {
        // let rootDiv = document.getElementById(element['parent'])
        let rootDiv = document.getElementById("root")
        let div = document.createElement("div")
        div.setAttribute("class", "row")
        div.setAttribute("id", element["_id"])

        let voteDiv = addVoteToDiv(element["vote"], element)

        let textDiv = document.createElement("div")
        textDiv.setAttribute("class", "col-xs-11")

        let creator = document.createElement("p")
        creator.innerHTML = "<b>" + element["nickname"] + "</b>"
        let p = document.createElement("p")
        p.innerHTML = element["data"]
        let button = document.createElement("button")
        button.setAttribute("class", "btn btn-secondary")
        button.style.borderRadius = "10px"
        button.innerHTML = "Replay"
        button.setAttribute("parentDiv", element["_id"])
        button.setAttribute("parentLevel", element["level"])
        button.onclick = function () {

            let parenId = this.getAttribute("parentDiv")
            let parentDiv = document.getElementById(parenId)
            let parentLevel = parseInt(this.getAttribute("parentLevel"), 10)

            let div = document.createElement("div");
            div.style.marginLeft = "20px"

            let textarea = document.createElement("textarea")
            textarea.setAttribute("id", "answerEditor" + parenId)
            textarea.setAttribute("level", parentLevel + 1)
            textarea.setAttribute("idParent", parenId)

            let buttonEditorMainAnswer = document.createElement("button");
            buttonEditorMainAnswer.onclick = function () {
                let answer = $('#answerEditor' + parenId).summernote('code')
                let answerEditor = document.getElementById("answerEditor" + parenId)
                createAnswer(answerEditor.getAttribute("level"), answerEditor.getAttribute("idParent"), answer, this)
            }
            buttonEditorMainAnswer.setAttribute("type", "button")
            buttonEditorMainAnswer.setAttribute("class", "btn btn-warning")
            buttonEditorMainAnswer.style.marginTop = "20px"
            buttonEditorMainAnswer.style.borderRadius = "10px"
            buttonEditorMainAnswer.innerHTML = "Send"

            div.appendChild(textarea)
            div.appendChild(buttonEditorMainAnswer)

            console.log(parentDiv.childNodes)
            parentDiv.appendChild(div)

            // parentDiv.insertBefore(div, parentDiv.childNodes[2])
            this.style.visibility = 'hidden';

            let optionsEditor2 = optionsEditor
            optionsEditor2.height = 200
            $('#answerEditor' + parenId).summernote(optionsEditor2);
        }

        let br = document.createElement("br")
        let marginLeft = 3 * (element["level"] + 1)
        div.style.marginLeft = marginLeft + "%"
        div.style.marginTop = "20px"
        textDiv.appendChild(creator)
        textDiv.appendChild(p)
        textDiv.appendChild(button)

        div.appendChild(voteDiv)
        div.appendChild(textDiv)
        div.appendChild(br)

        rootDiv.appendChild(div)
    }


    function createAnswer(level, idParent, data, input) {
        if (data === "<p><br></p>") {
            alert("Write something")
            return
        }
        let params = JSON.stringify({
            title: title,
            nickname: nick,
            data: data,
            time: Date.now(),
            level: level,
            vote: 0,
            parent: idParent,
        })
        const Http = new XMLHttpRequest();
        Http.open("POST", url + 'answer/create', true);
        Http.setRequestHeader('Content-Type', 'application/json; charset=UTF-8');
        Http.send(params);
        Http.onreadystatechange = (e) => {
            if (Http.readyState === 4 && Http.status === 200) {
                let response = JSON.parse(Http.responseText)
                if (response["confirmation"] === "success") {
                    input.setAttribute("myId", response["data"]["_id"])
                    getQuestionAndAnswers()
                } else {
                    console.log(response)
                }
            }
        }
    }
</script>