<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</head>

<body>
    <div id='createGroup' style="display:none;">
        <p name='nickname' id="nickname"></p>
        <div id="coords"></div></br>
        <input type='text' name='name' id="name" placeholder='Name Group' /><br /><br />
        <input type='submit' value='Add group' onclick="return createGroup();">
    </div>

    <div id='showGroup' style="display:none;">
        <main>
            <header>
                <div class="user-count">0</div>
                <h1 id="nameGroup"></h1>
            </header>

            <section class="chat" id='chat'>
            </section>

            <input type="text" id="write" placeholder="Write something" />
        </main>
    </div>

</body>

</html>

<style>
    * {
        box-sizing: border-box;
        transition: all .3s ease;
    }

    html, body {
        background: #eee;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
    }

    main {
        width: 50%;
        /* width: calc(100% - 20px);
        max-width: 500px; */
        margin: 0 auto;
        font-family: Helvetica, Arial, Sans, sans-serif;
    }

    /* h1, .user-count {
        margin: 0;
        padding: 10px 0;
        font-size: 32px;
    } */

    .user-count {
        float: right;
        font-size: 32px;
    }

    .chat {
        content: '';
        width: 100%;
        height: calc(100vh - 165px);
        background: white;
        padding: 5px 10px;
        overflow-y: scroll;
    }

    .chat p {
        margin: 0 0 5px 0;
    }

    input {
        width: 100%;
        font: inherit;
        background: #fff;
        border: none;
        margin-top: 10px;
        padding: 5px 10px;
    }

    @media all and (min-width: 500px) {
        .chat {
            height: calc(100vh - 140px);
        }
    }
</style>

<script src="https://code.jquery.com/jquery-3.1.0.js"></script>
<script>
    
    const url = 'http://localhost:3000/api/';
    var currentUrl = new URL(window.location.href);
    var x = currentUrl.searchParams.get("x");
    x = parseFloat(x)
    var y = currentUrl.searchParams.get("y");
    y = parseFloat(y)
    var nick = currentUrl.searchParams.get("nickname");
    var action = currentUrl.searchParams.get("action");
    var limit = 0;
    var prevLengthMessages = 0;
    var lastTime = 0;
    // var idChat;
    var groupName;

    if (action == "create") {
        document.getElementById("createGroup").style.display = "block"

        document.getElementById("nickname").innerHTML = "Nickname: " + nick
        document.getElementById("coords").innerHTML = "Create the group here: (" + x + "," + y + ")"
    }
    
    if (action == "show") {
        var write = document.getElementById("write");
        groupName = currentUrl.searchParams.get("groupname")
        document.getElementById("nameGroup").innerHTML = groupName + " chat"
        document.getElementById("showGroup").style.display = "block"
        // window.history.replaceState(null, null, window.location.pathname);

        loadMoreMessages(groupName)
        // getIdChat(groupName)

        write.addEventListener("keyup", function (event) {
            if (event.keyCode === 13) {
                
                let params = JSON.stringify({
                    name: groupName,
                    pos: { x: x, y: y },
                    sender: nick,
                    time: Date.now(),
                    message: write.value,
                })

                const Http = new XMLHttpRequest();
                Http.open("POST", url + 'chat/write', true);
                Http.setRequestHeader('Content-Type', 'application/json; charset=UTF-8');
                Http.send(params);
                Http.onreadystatechange = (e) => {
                    if (Http.readyState == 4 && Http.status == 200) {
                        response = JSON.parse(Http.responseText)
                        if (response["confirmation"] == "success") {
                            // TODO add message to showGroup
                        } else {
                            console.log(response)
                        }
                    }
                }

                write.value = ""
            }
        });
    }

    function loadMoreMessages(nameGroup=groupName, update=false){
        if(update == true){
            limit -= 9
            prevLengthMessages = 0
        }
        limit += 10

        let params = JSON.stringify({
            name: nameGroup,
            pos: { x: x, y: y },
            limit: limit,
        })

        const Http = new XMLHttpRequest();
        Http.open("POST", url + 'chat/messages', true);
        Http.setRequestHeader('Content-Type', 'application/json; charset=UTF-8');
        Http.send(params);
        Http.onreadystatechange = (e) => {
            if (Http.readyState == 4 && Http.status == 200) {
                response = JSON.parse(Http.responseText)

                if (response["confirmation"] == "success") {
                    if (response["messages"].length > 0) {
                        lastTime = response["messages"][0]["time"]
                    }

                    document.getElementById("chat").innerHTML = ""
                    
                    if(prevLengthMessages < response["messages"].length){
                        console.log(prevLengthMessages)
                        let chat = document.getElementById("chat")
                        let a = document.createElement("a");
                        let href = "javascript: void (0)"
                        a.setAttribute('href', href);
                        let loadMoreText = document.createTextNode("Load more messages");
                        a.setAttribute('onclick', "loadMoreMessages();")
                        a.appendChild(loadMoreText)
                        chat.appendChild(a)

                        prevLengthMessages = response["messages"].length
                    }

                    for (let i = response["messages"].length - 1; i >= 0; i--) {
                        let element = response["messages"][i]
                        let p = document.createElement("p");
                        let strong = document.createElement("strong");
                        let sender = document.createTextNode(element["sender"]);
                        let data = document.createTextNode(": " + element["message"]);
                        strong.appendChild(sender)
                        p.appendChild(strong);
                        p.appendChild(data)
                        chat.appendChild(p)
                    }
                } else {
                    console.log(response)
                }
            }
        }
    }

    function checkNewMessage(){
        let params = JSON.stringify({
            name: groupName,
            pos: { x: x, y: y },
            lastTime: lastTime,
        })

        const Http = new XMLHttpRequest();
        Http.open("POST", url + 'chat/update', true);
        Http.setRequestHeader('Content-Type', 'application/json; charset=UTF-8');
        Http.send(params);
        Http.onreadystatechange = (e) => {
            if (Http.readyState == 4 && Http.status == 200) {
                response = JSON.parse(Http.responseText)
                
                if (response["confirmation"] == "success") {
                    if (response["messages"].length > 0) {
                        lastTime = response["messages"][0]["time"]
                        loadMoreMessages(groupName, true)
                    }
                } else {
                    console.log(response)
                }
            }
        }
    }
    window.setInterval(function () {
        checkNewMessage()
    }, 1000);

    // function getIdChat(nameGroup){
    //     let params = JSON.stringify({
    //         name: nameGroup,
    //         pos: { x: x, y: y },
    //     })

    //     const Http = new XMLHttpRequest();
    //     Http.open("POST", url + 'group/id', true);
    //     Http.setRequestHeader('Content-Type', 'application/json; charset=UTF-8');
    //     Http.send(params);
    //     Http.onreadystatechange = (e) => {
    //         if (Http.readyState == 4 && Http.status == 200) {
    //             response = JSON.parse(Http.responseText)
    //             if (response["confirmation"] == "success") {
    //                 idChat = response["data"][0]["_id"]
    //             } else {
    //                 console.log(response)
    //             }
    //         }
    //     }
    // }
    

    function createGroup() {
        var groupName = document.getElementById("name").value
        if (groupName == "") {
            alert("Insert a group name")
            return
        }
        if(groupName.length > 15 || !groupName.match(/^[0-9a-zA-Z]+$/)){
            alert("Only Alphanumerical and max 15 lenght")
            return
        }
        let params = JSON.stringify({
            name: groupName,
            pos: { x: x, y: y }
        })
        const Http = new XMLHttpRequest();
        Http.open("POST", url + 'group/create', true);
        Http.setRequestHeader('Content-Type', 'application/json; charset=UTF-8');
        Http.send(params);
        Http.onreadystatechange = (e) => {
            if (Http.readyState == 4 && Http.status == 200) {
                response = JSON.parse(Http.responseText)
                if (response["confirmation"] == "success") {
                    window.location.href = "http://localhost:3000"
                } else {
                    console.log(response)
                }
            }
        }
    }
</script>