<!-- 
    Ho iniziato a pensarci il 19 luglio
    Ho iniziato a lavorarci su il 21 luglio
 -->

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
        crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
</head>

<body>
    <div id="boxPos">
        <a href="javascript:void(0)" id="exit" class="closebtn" onclick="closeNav()">&times;</a>
    </div>

    <div id='cntnr'>
        <ul id='coordsMenu' style="border-bottom: 3px solid black;">
        </ul>
        <ul id='items' style="border-bottom: 3px solid black;">
            <li>Create a group here</li>
        </ul>
        <ul id="items">
            <li>Ask a question here</li>
        </ul>
    </div>

    <!-- <label for="fake">Use fake position: </label>
    <input type="radio" name="fake" value="true" > Yes
    <input type="radio" name="fake" value="false"checked> No </br> -->

    <p>Select what you want to view, and press reload</p>
    <input type="checkbox" name="view[]" id="CBprofiles" value="CBprofiles"> Profiles<br>
    <input type="checkbox" name="view[]" id="CBgroups" value="CBgroups"> Groups<br>
    <input type="checkbox" name="view[]" id="CBquestions" value="CBquestions"> Questions<br><br>
    <button onclick="reloadView();">Reload view</button></br></br>

    <button onclick="getSaved();">Bookmark</button></br></br>
    
    Search group: <input type="text" name="searchGroup" id="searchGroup"></br></br>
    Search question: <input type="text" name="searchQuestion" id="searchQuestion"></br></br>
    Search profile: <input type="text" name="searchProfile" id="searchProfile"></br></br>

    </br>
    <div id="MyContainer" width="300" height="300" style="width:500;height:500;">
        <canvas id="canvas" width="2000" height="2000" style="cursor:crosshair;background:url(map.jpg)"></canvas>
    </div>

    <!-- <div style="display:none;">
        <canvas id="hiddenCanvas"  width="2000" height="2000"></canvas>
    </div> -->
</body>

</html>
<style>
    body {
        font-family: "Lato", sans-serif;
    }

    html, body{
        height: 99%;
        margin:0;
    }

    #boxPos {
        top: 30%; 
        left: 40%;
        width: 35%;
        height: 50%;
        margin-top: -9em; 
        margin-left: -15em;
        border: 1px solid #ccc;
        background: rgba(13, 19, 13, 0.6);
        position:fixed;
        display: none;
        overflow-y: scroll;
        overflow: auto;
    }

    #exit {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: white;
        display: block;
        transition: 0.3s;
        text-align: right;
    }

    #titles {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 30px;
        color: white;
        display: block;
        transition: 0.3s;
    }
    #profiles {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #FF3333;
        display: block;
        transition: 0.3s;
    }
    #groups {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: blue;
        display: block;
        transition: 0.3s;
    }
    #questions {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #32CD32;
        display: block;
        transition: 0.3s;
    }


    #items, #coordsMenu {
        list-style: none;
        margin: 0px;
        margin-top: 4px;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 3px;
        font-size: 17px;
        color: #333333;
    }

    hr {
        width: 85%;
        background-color: #E4E4E4;
        border-color: #E4E4E4;
        color: #E4E4E4;
    }

    #cntnr {
        display: none;
        position: fixed;
        border: 1px solid #B2B2B2;
        width: 15%;
        background: #F9F9F9;
        box-shadow: 3px 3px 2px #E9E9E9;
        border-radius: 4px;
    }

    li {
        padding: 3px;
        padding-left: 10px;
    }

    #items :hover {
        color: white;
        background: #284570;
        border-radius: 2px;
    }
</style>

<script src="https://code.jquery.com/jquery-3.1.0.js"></script>
<script>

    /*

    Una bella idea sarebbe prendere tutti i punti (o un modo per controllare se un punto appartiene a uno specifico stato) e,
    avendo la posizione "vera" (presa dal gps), controllo se al doppio click ha effettivamente rispettato il suo stato.
    Facendo in modo anche che si possano creare gruppi e domande solo nel proprio stato

    quando clicchi sulla mappa, mi faccio restituire il colore, e nel db controllo il colore associato a quello stato.
    Devo escludere il colore azzurro (mare) e il nero (scritte)

    */

    const url = 'http://localhost:3000/api/';
    // const delt = 0.202217
    const delt = 8
    var realPos = {}
    var fakePos = {}
    var myPosInMap = {}
    var currentUrl = new URL(window.location.href);

    var CBview = {}
    var profileData = {}
    function session(){
        CBview = JSON.parse(sessionStorage.getItem("view"))
        profileData = JSON.parse(sessionStorage.getItem("profile"))

        if (CBview['CBquestions'] == 1) {
            document.getElementById("CBquestions").checked = true
        }
        if (CBview['CBgroups'] == 1) {
            document.getElementById("CBgroups").checked = true
        }
        if (CBview['CBprofiles'] == 1) {
            document.getElementById("CBprofiles").checked = true
        }

        let params = JSON.stringify({
            nickname: profileData['nickname'],
            password: profileData['password'],
        })

        let Http = new XMLHttpRequest();
        Http.open("POST", url + 'profile/login', true);
        Http.setRequestHeader('Content-Type', 'application/json; charset=UTF-8');
        Http.send(params);
        Http.onreadystatechange = (e) => {
            if (Http.readyState == 4 && Http.status == 200) {
                let response = JSON.parse(Http.responseText)
                if (response["confirmation"] == "success") {
                    if(response['data'] == null){
                        window.location.href = "http://localhost:3000"
                    }
                } else {
                    window.location.href = "http://localhost:3000"
                }
            }
        }
    }
    session()
    

    var coordsQuestionOrGroup = {}
    $('#canvas').on('contextmenu', function (e) {
        e.preventDefault();

        let rect = canvas.getBoundingClientRect();
        let x = event.clientX - rect.left;
        let y = event.clientY - rect.top;
        coordsQuestionOrGroup = { x: x, y: y }
        document.getElementById("coordsMenu").innerHTML = "<li>Here is (" + x + ", " + y + ")</li>"

        // $("#cntnr").css("left", e.pageX);
        // $("#cntnr").css("top", e.pageY);
        $("#cntnr").fadeIn(200, startFocusOut());
    });
    function startFocusOut() {
        $(document).on("click", function () {
            $("#cntnr").hide();
            $(document).off("click");
        });
    }
    $("#items > li").click(function () {
        let nick = profileData['nickname']
        if ($(this).text() == "Create a group here") {
            window.location.href = "http://localhost:3000/group" + '?action=create&x=' + coordsQuestionOrGroup.x + "&y=" + coordsQuestionOrGroup.y
        }
        if ($(this).text() == "Ask a question here") {
            window.location.href = "http://localhost:3000/question" + '?action=create&x=' + coordsQuestionOrGroup.x + "&y=" + coordsQuestionOrGroup.y
        }
    });

    var navOpen = false
    function openNav() {
        let div = document.getElementById("boxPos");
        if (div.style.display === "block") {
            div.style.display = "none";
        } else {
            div.style.display = "block";
        }
        navOpen = true
    }
    function closeNav() {
        let div = document.getElementById("boxPos");
        if (div.style.display === "none") {
            div.style.display = "block";
        } else {
            div.style.display = "none";
        }
        document.getElementById("boxPos").innerHTML = '<a id="exit" href="javascript: void (0)" class="closebtn" onclick="closeNav()">&times;</a>'
        navOpen = false
    }
    // window.addEventListener("click", function (event) {
    //     if(navOpen == true){
    //         closeNav()
    //     }
    // });

    function reloadView() {
        let chk_arr = document.getElementsByName("view[]")
        for (let k = 0; k < chk_arr.length; k++) {
            if (chk_arr[k].checked == false) {
                CBview[chk_arr[k].value] = 0
            } else {
                CBview[chk_arr[k].value] = 1
            }
        }

        sessionStorage.setItem("view", JSON.stringify(CBview))

        window.location.href = currentUrl
    }

    var searchGroup = document.getElementById("searchGroup");
    searchGroup.addEventListener("keyup", function (event) {
        if (event.keyCode === 13) {
            let params = JSON.stringify({
                search: this.value,
            })

            let Http = new XMLHttpRequest();
            Http.open("POST", url + 'search/group', true);
            Http.setRequestHeader('Content-Type', 'application/json; charset=UTF-8');
            Http.send(params);
            Http.onreadystatechange = (e) => {
                if (Http.readyState == 4 && Http.status == 200) {
                    let response = JSON.parse(Http.responseText)
                    if (response["confirmation"] == "success") {
                        
                        let boxPos = document.getElementById("boxPos")
                        if (navOpen == false) {

                            response["group"].forEach(function (element) {
                                let a = document.createElement("a");
                                let href = "http://localhost:3000/group" + '?action=show&groupname=' + element['name'] + "&x=" + element.pos.x + "&y=" + element.pos.y
                                a.setAttribute('href', href);
                                a.setAttribute('id', 'groups')
                                let textnode = document.createTextNode(element['name']);
                                a.appendChild(textnode);
                                boxPos.appendChild(a)
                            });

                            openNav()
                        } else {
                            closeNav()
                        }

                    } else {
                        console.log(response)
                    }
                }
            }
        }
    })
    var searchQuestion = document.getElementById("searchQuestion");
    searchQuestion.addEventListener("keyup", function (event) {
        if (event.keyCode === 13) {
            let params = JSON.stringify({
                search: this.value,
            })

            let Http = new XMLHttpRequest();
            Http.open("POST", url + 'search/question', true);
            Http.setRequestHeader('Content-Type', 'application/json; charset=UTF-8');
            Http.send(params);
            Http.onreadystatechange = (e) => {
                if (Http.readyState == 4 && Http.status == 200) {
                    let response = JSON.parse(Http.responseText)
                    if (response["confirmation"] == "success") {

                        console.log(response)
                        
                        let boxPos = document.getElementById("boxPos")
                        if (navOpen == false) {

                            response["question"].forEach(function (element) {
                                let a = document.createElement("a");
                                let href = "http://localhost:3000/question" + '?action=show&title=' + element['title'] + "&x=" + element.pos.x + "&y=" + element.pos.y
                                a.setAttribute('href', href);
                                a.setAttribute('id', 'questions')
                                let textnode = document.createTextNode(element['title']);
                                a.appendChild(textnode);
                                boxPos.appendChild(a)
                            });

                            openNav()
                        } else {
                            closeNav()
                        }

                    } else {
                        console.log(response)
                    }
                }
            }
        }
    })
    var searchProfile = document.getElementById("searchProfile");
    searchProfile.addEventListener("keyup", function (event) {
        if (event.keyCode === 13) {
            let params = JSON.stringify({
                search: this.value,
            })

            let Http = new XMLHttpRequest();
            Http.open("POST", url + 'search/profile', true);
            Http.setRequestHeader('Content-Type', 'application/json; charset=UTF-8');
            Http.send(params);
            Http.onreadystatechange = (e) => {
                if (Http.readyState == 4 && Http.status == 200) {
                    let response = JSON.parse(Http.responseText)
                    if (response["confirmation"] == "success") {
                        let boxPos = document.getElementById("boxPos")
                        if (navOpen == false) {
                            
                            console.log(response)
                            response["profile"].forEach(function (element) {
                                let a = document.createElement("a");
                                a.setAttribute('href', "http://localhost:3000/profile?id=" + element["_id"]);
                                a.setAttribute('id', 'profiles')
                                let textnode = document.createTextNode(element['nickname']);
                                a.appendChild(textnode);
                                boxPos.appendChild(a)
                            });

                            openNav()
                        } else {
                            closeNav()
                        }
                    } else {
                        console.log(response)
                    }
                }
            }
        }
    })


    function doClickAction(e) {
        getPosProfiles(e)
    }
    function doDoubleClickAction(e) {
        setMyPosition(e)
    }
    var timer = 0;
    var delay = 200;
    var prevent = false;
    $("#canvas").on("click", function (event) {
        timer = setTimeout(function () {
            if (!prevent) {
                doClickAction(event);
            }
            prevent = false;
        }, delay);
    })
    .on("dblclick", function (event) {
        clearTimeout(timer);
        prevent = true;
        doDoubleClickAction(event);
    });

    var img = new Image();
    img.onload = function () {
        var height = img.height;
        var width = img.width;
        document.getElementById('canvas').width = width;
        document.getElementById('canvas').height = height;
        document.getElementById('MyContainer').style.width = width;
        document.getElementById('MyContainer').style.height = height;

        // document.getElementById("hiddenCanvas").getContext("2d").drawImage(img, width, height);
    }
    img.src = 'map.jpg';

    function round(value, precision) {
        let multiplier = Math.pow(10, precision || 0);
        return Math.round(value * multiplier) / multiplier;
    }

    // function rgbToHex(r, g, b) {
    //     if (r > 255 || g > 255 || b > 255)
    //         throw "Invalid color component";
    //     return ((r << 16) | (g << 8) | b).toString(16);
    // }

    function setMyPosition(event) {
        let rect = canvas.getBoundingClientRect();
        let x = event.clientX - rect.left;
        let y = event.clientY - rect.top;
        myPosInMap = { x: x, y: y }
        // fakePos = createFakePos(myPosInMap.x, myPosInMap.y)

        // var c = document.getElementById("hiddenCanvas").getContext('2d');
        // var p = c.getImageData(x, y, 1, 1).data;
        // var hex = "#" + ("000000" + rgbToHex(p[0], p[1], p[2])).slice(-6);
        

        let nick = profileData['nickname']
        // let fake = Array.from(document.getElementsByName("fake")).find(r => r.checked).value;
        var params = {};
        // if (fake == "true") {
        //     params = JSON.stringify({
        //         "search": { "nickname": nick }, "update": {
        //             "$set": {
        //                 use_fake_position: true, online: true, real_position: { x: myPosInMap.x, y: myPosInMap.y },
        //                 fake_position: { x: fakePos.x, y: fakePos.y }
        //             }
        //         }, "extra": {}
        //     })
        // } else {
        params = JSON.stringify({
            "search": { "nickname": nick }, "update": {
                "$set": {
                    use_fake_position: false, online: true, real_position: { x: myPosInMap.x, y: myPosInMap.y },
                    // fake_position: { x: fakePos.x, y: fakePos.y }
                }
            }, "extra": {}
        })
        
        let Http = new XMLHttpRequest();
        Http.open("POST", url + 'profile/update', true);
        Http.setRequestHeader('Content-Type', 'application/json; charset=UTF-8');
        Http.send(params);
        Http.onreadystatechange = (e) => {
            if (Http.readyState == 4 && Http.status == 200) {
                let response = JSON.parse(Http.responseText)
                if (response["confirmation"] == "success") {
                    drawCoordinates(x, y, '#800080');
                } else {
                    console.log(response["message"])
                }
            }
        }
    }

    function createFakePos(realX, realY) {
        let min = -delt
        let max = delt
        let fake_x = Math.random() * (max - min) + min;
        let fake_y = Math.random() * (max - min) + min;
        return { x: realX + fake_x, y: realY + fake_y }
    }

    function drawCoordinates(x, y, color = '#ff2626') {
        let ctx = document.getElementById("canvas").getContext("2d");
        let pointSize = 6;

        ctx.fillStyle = color;
        ctx.beginPath();
        ctx.arc(x, y, pointSize, 0, Math.PI * 2, true);
        ctx.fill();
    }

    function getPosProfiles(event) {
        let rect = canvas.getBoundingClientRect();
        let x = event.clientX - rect.left;
        let y = event.clientY - rect.top;

        console.log(x, y)

        // let originalCoords = mapToCoords(x, y)

        if (navOpen == false) {
            let boxPos = document.getElementById("boxPos")
            let nick = profileData['nickname']
            
            if (CBview['CBprofiles'] == 1) {
                let Http = new XMLHttpRequest();
                Http.open("POST", url + 'pos/profiles', true);
                Http.setRequestHeader('Content-Type', 'application/json; charset=UTF-8');
                let params = JSON.stringify({ x: x, y: y })
                Http.send(params);
                Http.onreadystatechange = (e) => {
                    if (Http.readyState == 4 && Http.status == 200) {
                        let profiles = JSON.parse(Http.responseText)
                        
                        if (profiles["confirmation"] == "success") {
                            if (profiles["profiles"].length > 0) {
                                let p = document.createElement("p");
                                let textnode = document.createTextNode("Profiles");
                                p.setAttribute('id', 'titles')
                                p.appendChild(textnode);
                                boxPos.appendChild(p)
                            }

                            profiles["profiles"].forEach(function (element) {
                                let a = document.createElement("a");
                                a.setAttribute('href', "http://localhost:3000/profile?id=" + element["_id"]);
                                a.setAttribute('id', 'profiles')
                                let textnode = document.createTextNode(element['nickname']);
                                a.appendChild(textnode);
                                boxPos.appendChild(a)
                            });
                        } else {
                            console.log(response)
                        }
                    }
                }
            }

            if (CBview['CBgroups'] == 1) {
                let Http2 = new XMLHttpRequest();
                Http2.open("POST", url + 'pos/groups', true);
                Http2.setRequestHeader('Content-Type', 'application/json; charset=UTF-8');
                let params2 = JSON.stringify({ x: x, y: y })
                Http2.send(params2);
                Http2.onreadystatechange = (e) => {
                    if (Http2.readyState == 4 && Http2.status == 200) {
                        let groups = JSON.parse(Http2.responseText)
                        
                        if (groups["confirmation"] == "success") {
                            if(groups["groups"].length > 0){
                                let p = document.createElement("p");
                                let textnode = document.createTextNode("Groups");
                                p.setAttribute('id', 'titles')
                                p.appendChild(textnode);
                                boxPos.appendChild(p)
                            }

                            groups["groups"].forEach(function (element) {
                                let a = document.createElement("a");
                                let href = "http://localhost:3000/group" + '?action=show&groupname=' + element['name'] + "&x=" + element.pos.x + "&y=" + element.pos.y
                                a.setAttribute('href', href);
                                a.setAttribute('id', 'groups')
                                let textnode = document.createTextNode(element['name']);
                                a.appendChild(textnode);
                                boxPos.appendChild(a)
                            });
                        } else {
                            console.log(response)
                        }
                    }
                }
            }

            if (CBview['CBquestions'] == 1) {
                let Http3 = new XMLHttpRequest();
                Http3.open("POST", url + 'pos/questions', true);
                Http3.setRequestHeader('Content-Type', 'application/json; charset=UTF-8');
                let params3 = JSON.stringify({ x: x, y: y })
                Http3.send(params3);
                Http3.onreadystatechange = (e) => {
                    if (Http3.readyState == 4 && Http3.status == 200) {
                        let questions = JSON.parse(Http3.responseText)
                        
                        if (questions["confirmation"] == "success") {
                            if (questions["questions"].length > 0) {
                                let p = document.createElement("p");
                                let textnode = document.createTextNode("Questions");
                                p.setAttribute('id', 'titles')
                                p.appendChild(textnode);
                                boxPos.appendChild(p)
                            }

                            questions["questions"].forEach(function (element) {
                                let a = document.createElement("a");
                                let href = "http://localhost:3000/question" + '?action=show&title=' + element['title'] + "&x=" + element.pos.x + "&y=" + element.pos.y
                                a.setAttribute('href', href);
                                a.setAttribute('id', 'questions')
                                let textnode = document.createTextNode(element['title']);
                                a.appendChild(textnode);
                                boxPos.appendChild(a)
                            });
                        } else {
                            console.log(response)
                        }
                    }
                }
            }

            openNav()
        } else {
            closeNav()
        }
    }

    var offline = false
    $(document).mouseleave(function (e) {
        if (offline == false) {
            iamStatus(false)
            offline = true
        }
    });
    // mouseenter
    $(document).click(function (e) {
        if(offline == true){
            iamStatus(true)
            offline = false
        }
    });
    iamStatus(true)

    function iamStatus(status) {
        let nick = profileData['nickname']
        let params = JSON.stringify({
            search: {
                nickname: nick
            },
            update: {
                online: status,
                lastSeen: Date.now()
            }
        })

        const Http = new XMLHttpRequest();
        Http.open("POST", url + 'profile/update/status', true);
        Http.setRequestHeader('Content-Type', 'application/json; charset=UTF-8');
        Http.send(params);
        Http.onreadystatechange = (e) => {
            if (Http.readyState == 4 && Http.status == 200) {
                let response = JSON.parse(Http.responseText)
                if (response["confirmation"] == "success") {

                } else {
                    console.log(response)
                }
            }
        }
    }
    

    function getSaved() {
        let nick = profileData['nickname']
        let params = JSON.stringify({
            nick: nick,
        })
        let Http = new XMLHttpRequest();
        Http.open("POST", url + 'profile/getSaved', true);
        Http.send(params);
        Http.onreadystatechange = (e) => {
            if (Http.readyState == 4 && Http.status == 200) {
                let response = JSON.parse(Http.responseText)
                if (response["confirmation"] == "success") {
                    response = response["data"]
                    let boxPos = document.getElementById("boxPos")
                    if (navOpen == false) {

                        if (response["savedGroup"].length > 0) {
                            let p = document.createElement("p");
                            let textnode = document.createTextNode("Groups");
                            p.setAttribute('id', 'titles')
                            p.appendChild(textnode);
                            boxPos.appendChild(p)
                        }

                        response["savedGroup"].forEach(function (element) {
                            let a = document.createElement("a");
                            let href = "http://localhost:3000/group" + '?action=show&groupname=' + element['name'] + "&x=" + element.pos.x + "&y=" + element.pos.y
                            a.setAttribute('href', href);
                            a.setAttribute('id', 'groups')
                            let textnode = document.createTextNode(element['name']);
                            a.appendChild(textnode);
                            boxPos.appendChild(a)
                        });


                        if (response["savedQuestion"].length > 0) {
                            let p = document.createElement("p");
                            let textnode = document.createTextNode("Questions");
                            p.setAttribute('id', 'titles')
                            p.appendChild(textnode);
                            boxPos.appendChild(p)
                        }
                        
                        response["savedQuestion"].forEach(function (element) {
                            let a = document.createElement("a");
                            let href = "http://localhost:3000/question" + '?action=show&title=' + element['question'] + "&x=" + element.pos.x + "&y=" + element.pos.y
                            a.setAttribute('href', href);
                            a.setAttribute('id', 'questions')
                            let textnode = document.createTextNode(element['question']);
                            a.appendChild(textnode);
                            boxPos.appendChild(a)
                        });


                        openNav()
                    } else {
                        closeNav()
                    }

                } else {
                    console.log(response)
                }

            }
        }
    }

    function initProfiles() {
        let Http = new XMLHttpRequest();
        Http.open("POST", url + 'profile/allProfiles', true);
        Http.send();
        Http.onreadystatechange = (e) => {
            if (Http.readyState == 4 && Http.status == 200) {
                let profiles = JSON.parse(Http.responseText)
                profiles["profiles"].forEach(function (element) {
                    if (element['use_fake_position'] == true) {
                        let pos = element['fake_position']
                        drawCoordinates(pos.x, pos.y);
                    } else {
                        let pos = element['real_position']
                        drawCoordinates(pos.x, pos.y);
                    }
                });
                
            }
        }
    }

    function initGroups() {
        let Http = new XMLHttpRequest();
        Http.open("GET", url + 'group/allGroups', true);
        Http.send();
        Http.onreadystatechange = (e) => {
            if (Http.readyState == 4 && Http.status == 200) {
                let profiles = JSON.parse(Http.responseText)
                profiles["groups"].forEach(function (element) {
                    drawCoordinates(element.pos.x, element.pos.y, '#0000FF');
                });
            }
        }
    }

    function initQuestions() {
        let Http = new XMLHttpRequest();
        Http.open("GET", url + 'question/allQuestions', true);
        Http.send();
        Http.onreadystatechange = (e) => {
            if (Http.readyState == 4 && Http.status == 200) {
                let questions = JSON.parse(Http.responseText)
                questions["questions"].forEach(function (element) {
                    drawCoordinates(element.pos.x, element.pos.y, '#32CD32');
                });
            }
        }
    }

    setTimeout(function () { 
        if (CBview['CBgroups'] == 1) {
            initGroups()
        }
        if (CBview['CBquestions'] == 1) {
            initQuestions()
        }
        if (CBview['CBprofiles'] == 1) {
            initProfiles()
        }

    }, 300);

</script>