<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
        crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
</head>

<body>
    <div id='askQuestion' style="display:none;">
        <div class="container-fluid">
            <input type='text' id="title" placeholder='Title' /><br /><br />
            <div class="row">
                <div class="col-lg-12">
                    <ul id="tabs" class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#tab1" aria-controls="tab1" role="tab"
                                data-toggle="tab">Text</a></li>
                        <li role="presentation"><a href="#tab2" aria-controls="tab2" role="tab" data-toggle="tab">Images</a></li>
                        <li role="presentation"><a href="#tab3" aria-controls="tab3" role="tab" data-toggle="tab">Links</a></li>
                        <li role="presentation"><a href="#tab4" aria-controls="tab4" role="tab" data-toggle="tab">Hashtags</a></li>
                    </ul>
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="tab1"><br>
                            <input type='text' id="details" placeholder='Text' /><br /><br />
                        </div>
                        <div role="tabpanel" class="tab-pane" id="tab2"><br>
                            <input type='text' id="imgUrl" placeholder='Url image' /><br /><br />
                        </div>
                        <div role="tabpanel" class="tab-pane" id="tab3"><br>
                            <input type='text' id="urls" placeholder='Urls (separated by comma)' /><br /><br />
                        </div>
                        <div role="tabpanel" class="tab-pane" id="tab4"><br>
                            <input type='text' id="hashtags" placeholder='Hashtags' /><br /><br />
                        </div>
                    </div>
                </div>
            </div>
            </br>
            <input type='submit' value='Ask this question' onclick="return askQuestion();">
        </div>
    </div>


    <div id='showQuestion' style="display:none;">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-1" style="text-align: center;">
                    <div class="row" style="margin: 0 auto;">
                        <a href="javascript:console.log(1);">
                            <img src="Upvote.png" width="20" height="20">
                        </a>
                    </div>
                    <div class="row" id="vote" style="margin: 0 auto; text-align: center;">0</div>
                    <div class="row" style="margin: 0 auto;">
                        <a href="javascript:console.log(1);">
                            <img src="Downvote.png" width="20" height="20">
                        </a>
                    </div>
                </div>
                <div class="col-lg-11">
                    <div class="row" id="title_show"></div></br>
                    <div class="row" id="details_show"></div></br>
                    <div class="row">
                        <img id="img_show" width="400" height="400"></br>
                    </div>
                    <button onclick="">Save</button>
                    <div class="row" id='hashtags_show'></div>
                    <div class="row" id='urls_show'></div>
                </div>
            </div>
            </br>

            <div class="row" id='root'>
                <!-- <div class="col" style="margin: 50px;">
                </div> -->
            </div>
        </div>
    </div>
</body>

</html>

<script src="https://code.jquery.com/jquery-3.1.0.js"></script>
<script>
    const url = 'http://localhost:3000/api/';
    var currentUrl = new URL(window.location.href);
    var x = currentUrl.searchParams.get("x");
    x = parseFloat(x)
    var y = currentUrl.searchParams.get("y");
    y = parseFloat(y)
    var action = currentUrl.searchParams.get("action");
    var nick = currentUrl.searchParams.get("nickname");
    var title = "";
    var question = {};
    var answers = [];

    if (action == "create") {
        document.getElementById("askQuestion").style.display = "block"
    }

    if (action == "show") {
        document.getElementById("showQuestion").style.display = "block"
        title = currentUrl.searchParams.get("title");

        getQuestionAndAnswers()
    }

    function askQuestion() {
        let title = document.getElementById("title").value
        if (title.length < 5) {
            alert("Question too short")
            return
        }
        let details = document.getElementById("details").value
        let imgUrl = document.getElementById("imgUrl").value
        let urls = document.getElementById("urls").value
        let hashtags = document.getElementById("hashtags").value

        let urls_split_tmp = urls.split(",");
        let urls_split = []
        urls_split_tmp.forEach(element => {
            urls_split.push(element.replace(/^\s+|\s+$/g, ''))
        });
        let hashtags_split_tmp = hashtags.split(",");
        let hashtags_split = []
        hashtags_split_tmp.forEach(element => {
            hashtags_split.push(element.replace(/^\s+|\s+$/g, ''))
        });

        let params = JSON.stringify({
            nickname: nick,
            pos: { x: x, y: y },
            title: title,
            details: details,
            time: Date.now(),
            imgUrl: imgUrl,
            urls: urls_split,
            hashtags: hashtags_split,
        })
        const Http = new XMLHttpRequest();
        Http.open("POST", url + 'question/create', true);
        Http.setRequestHeader('Content-Type', 'application/json; charset=UTF-8');
        Http.send(params);
        Http.onreadystatechange = (e) => {
            if (Http.readyState == 4 && Http.status == 200) {
                response = JSON.parse(Http.responseText)
                if (response["confirmation"] == "success") {
                    window.location.href = "http://localhost:3000"
                } else {
                    console.log(response)
                }
            }
        }
    }

    function getQuestionAndAnswers() {
        let params = JSON.stringify({
            title: title,
            pos: { x: x, y: y },
        })
        const Http = new XMLHttpRequest();
        Http.open("POST", url + 'question/getQuestion', true);
        Http.setRequestHeader('Content-Type', 'application/json; charset=UTF-8');
        Http.send(params);
        Http.onreadystatechange = (e) => {
            if (Http.readyState == 4 && Http.status == 200) {
                response = JSON.parse(Http.responseText)
                if (response["confirmation"] == "success") {
                    question = response["question"]
                } else {
                    console.log(response)
                }
            }
        }


        let params2 = JSON.stringify({
            title: title,
            pos: { x: x, y: y },
        })
        const Http2 = new XMLHttpRequest();
        Http2.open("POST", url + 'answer/group', true);
        Http2.setRequestHeader('Content-Type', 'application/json; charset=UTF-8');
        Http2.send(params2);
        Http2.onreadystatechange = (e) => {
            if (Http2.readyState == 4 && Http2.status == 200) {
                response = JSON.parse(Http2.responseText)
                if (response["confirmation"] == "success") {
                    answers = response["answers"]
                    fillData()
                } else {
                    console.log(response)
                }
            }
        }
    }

    function fillData() {
        document.getElementById("title_show").innerHTML = question["title"]
        document.getElementById("details_show").innerHTML = question["details"]
        document.getElementById("img_show").src = question["imgUrl"]
        document.getElementById("details_show").innerHTML = question["details"]
        
        
        let treeLevel = 0
        let rootDiv = document.getElementById("root")
        if(answers.length == 0){

            // <div class="col-lg-1" style="text-align: center;">
            //     <div class="row" style="margin: 0 auto;">
            //         <a href="javascript:console.log(1);">
            //             <img src="Upvote.png" width="20" height="20">
            //             </a>
            //         </div>
            //         <div class="row" id="vote" style="margin: 0 auto; text-align: center;">0</div>
            //         <div class="row" style="margin: 0 auto;">
            //             <a href="javascript:console.log(1);">
            //                 <img src="Downvote.png" width="20" height="20">
            //             </a>
            //         </div>
            //         </div>

            let input = document.createElement("input");
            input.setAttribute("type", "text")
            input.setAttribute("level", 0)
            input.setAttribute("idParent", "root")
            input.addEventListener("keyup", function (event) {
                if (event.keyCode === 13) {
                    createAnswer(this.getAttribute("level"), this.getAttribute("idParent"), this.value, this)
                }
            })
            rootDiv.appendChild(input)
            
        } else {
            console.log(answers)
            rootDiv.innerHTML = ""
            var queue = [];
            var stack = [];
            var dict = {}
            // questo loop mi serve solo per gli elementi di livello 0
            answers.forEach(element => {
                queue.push(element)
                stack.push(element)
                if(element["level"] != 0){
                    break
                }
                dict[element["_id"]] = 0
                
                // devo cercare il primo elemento con livello+1 e che abbia come parent l'id di questo element
                while (true) {
                    let Element;
                    if(queue.length == 0){
                        if(stack.length == 0){ // done
                            break
                        }
                        Element = stack[stack.length-1]
                    } else {
                        Element = queue.shift()
                    }
                    
                    let idElement = Element["_id"]
                    let ElementLevel = Element["level"]
                    let find = false

                    answers.forEach(findUpLevel => {
                        if(findUpLevel["_id"] in dict){
                            continue
                        }
                        if(findUpLevel["parent"] == idElement && findUpLevel["level"] == ElementLevel+1){
                            // crea un div, e mettilo sotto al parent, e crea un input sotto (che poi deve essere tolto se ci sono altri elementi)
                            queue.push(findUpLevel)
                            stack.push(findUpLevel)
                            dict[findUpLevel] = 0
                            find = true
                            break
                        }
                    })
                    // in questo caso dovrei togliere definitivamente l'elemento dalla queue
                    if(find == false){
                        stack.pop()
                    }
                }
            });
        }
    }

    function createAnswer(level, idParent, data, input){
        let params = JSON.stringify({
            title: title,
            data: data,
            pos: { x: x, y: y },
            time: Date.now(),
            level: level, 
            vote: 0,
            parent: idParent,
        })
        const Http = new XMLHttpRequest();
        Http.open("POST", url + 'answer/create', true);
        Http.setRequestHeader('Content-Type', 'application/json; charset=UTF-8');
        Http.send(params);
        Http.onreadystatechange = (e) => {
            if (Http.readyState == 4 && Http.status == 200) {
                response = JSON.parse(Http.responseText)
                if (response["confirmation"] == "success") {
                    console.log(response)
                    input.setAttribute("myId", response["data"]["_id"])
                } else {
                    console.log(response)
                }
            }
        }
    }

    function addImageVote(){
        return '<div class="row" style="margin: 0 auto;">< a href = "javascript:console.log(1);" ><img src="Upvote.png" width="20" height="20"></a></div ><div class="row" id="vote" style="margin: 0 auto; text-align: center;">0</div><div class="row" style="margin: 0 auto;"><a href="javascript:console.log(1);"><img src="Downvote.png" width="20" height="20"></a></div>'
    }

    /*

    Fai un albero, con collegamenti parent->childs
    In cui se root ha 4 rispose, creo una riga nel db in cui ha una lista di risposte [risposa1, risposta2, ...]
    Ad ogni risposta, cerco se esiste come campo parent di altre righe del db

    dic = dict()
    for relation in relations:
        val,pval,left = relation
        if val not in dic:
            node = Node(val)
            dic[val] = node
        if pval is None:
            root = node
            continue
        if pval not in dic:
            parent = Node(pval)
            dic[val] = parent
        if left:
            parent.left = node
        else:
            parent.right = node
        return root

    */
</script>