<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
        crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
</head>

<body>
    <div id='askQuestion' style="display:none;">
        <div class="container-fluid">
            <input type='text' id="title" placeholder='Title' /><br /><br />
            <div class="row">
                <div class="col-lg-12">
                    <ul id="tabs" class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#tab1" aria-controls="tab1" role="tab"
                                data-toggle="tab">Text</a></li>
                        <li role="presentation"><a href="#tab2" aria-controls="tab2" role="tab" data-toggle="tab">Images</a></li>
                        <li role="presentation"><a href="#tab3" aria-controls="tab3" role="tab" data-toggle="tab">Links</a></li>
                        <li role="presentation"><a href="#tab4" aria-controls="tab4" role="tab" data-toggle="tab">Hashtags</a></li>
                    </ul>
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="tab1"><br>
                            <input type='text' id="details" placeholder='Text' /><br /><br />
                        </div>
                        <div role="tabpanel" class="tab-pane" id="tab2"><br>
                            <input type='text' id="imgUrl" placeholder='Url image' /><br /><br />
                        </div>
                        <div role="tabpanel" class="tab-pane" id="tab3"><br>
                            <input type='text' id="urls" placeholder='Urls (separated by comma)' /><br /><br />
                        </div>
                        <div role="tabpanel" class="tab-pane" id="tab4"><br>
                            <input type='text' id="hashtags" placeholder='Hashtags' /><br /><br />
                        </div>
                    </div>
                </div>
            </div>
            </br>
            <input type='submit' value='Ask this question' onclick="return askQuestion();">
        </div>
    </div>


    <div id='showQuestion' style="display:none;">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-1" id="divVoteQuestion" style="text-align: center;">
                    
                </div>
                <div class="col-lg-11">
                    <div class="row" id="title_show"></div></br>
                    <div class="row" id="details_show"></div></br>
                    <div class="row">
                        <img id="img_show" width="400" height="400"></br>
                    </div>
                    <div class="row">
                        <button onclick="saveQuestion();">Save</button>
                    </div>
                    <div id='hashtags_show'></div>
                    <div id='urls_show'></div>
                </div>
            </div>
            </br>

            <div id='root'>
            </div>
        </div>
    </div>
</body>

</html>

<style>
    #title_show {
        font-weight: bold;
        font-size: large;
    }
</style>

<script src="https://code.jquery.com/jquery-3.1.0.js"></script>
<script>
    const url = 'http://localhost:3000/api/';
    var currentUrl = new URL(window.location.href);
    var x = currentUrl.searchParams.get("x");
    x = parseFloat(x)
    var y = currentUrl.searchParams.get("y");
    y = parseFloat(y)
    var action = currentUrl.searchParams.get("action");
    var nick = currentUrl.searchParams.get("nickname");
    var title = "";
    var question = {};
    var answers = [];

    if (action == "create") {
        document.getElementById("askQuestion").style.display = "block"
    }

    if (action == "show") {
        document.getElementById("showQuestion").style.display = "block"
        title = currentUrl.searchParams.get("title");

        getQuestionAndAnswers()
    }

    function saveQuestion(){
        let params = JSON.stringify({
            search: {
                name: nick,
            },
            update: {
                $addToSet: { savedQuestion: { question: question["title"], pos : {x:x, y:y}} }
            },
            extra: {
                upsert: true, new: true
            }
        })

        const Http = new XMLHttpRequest();
        Http.open("POST", url + 'profile/update/saved', true);
        Http.setRequestHeader('Content-Type', 'application/json; charset=UTF-8');
        Http.send(params);
        Http.onreadystatechange = (e) => {
            if (Http.readyState == 4 && Http.status == 200) {
                let response = JSON.parse(Http.responseText)
                if (response["confirmation"] == "success") {

                } else {
                    console.log(response)
                }
            }
        }
    }

    function askQuestion() {
        let title = document.getElementById("title").value
        if (title.length < 5) {
            alert("Question too short")
            return
        }
        let details = document.getElementById("details").value
        let imgUrl = document.getElementById("imgUrl").value
        let urls = document.getElementById("urls").value
        let hashtags = document.getElementById("hashtags").value

        let urls_split_tmp = urls.split(",");
        let urls_split = []
        urls_split_tmp.forEach(element => {
            urls_split.push(element.replace(/^\s+|\s+$/g, ''))
        });
        let hashtags_split_tmp = hashtags.split(",");
        let hashtags_split = []
        hashtags_split_tmp.forEach(element => {
            hashtags_split.push(element.replace(/^\s+|\s+$/g, ''))
        });

        let params = JSON.stringify({
            nickname: nick,
            pos: { x: x, y: y },
            title: title,
            details: details,
            time: Date.now(),
            imgUrl: imgUrl,
            urls: urls_split,
            hashtags: hashtags_split,
        })
        const Http = new XMLHttpRequest();
        Http.open("POST", url + 'question/create', true);
        Http.setRequestHeader('Content-Type', 'application/json; charset=UTF-8');
        Http.send(params);
        Http.onreadystatechange = (e) => {
            if (Http.readyState == 4 && Http.status == 200) {
                let response = JSON.parse(Http.responseText)
                if (response["confirmation"] == "success") {
                    window.location.href = "http://localhost:3000"
                } else {
                    console.log(response)
                }
            }
        }
    }

    function getQuestionAndAnswers() {
        let params = JSON.stringify({
            title: title,
            pos: { x: x, y: y },
        })
        const Http = new XMLHttpRequest();
        Http.open("POST", url + 'question/getQuestion', true);
        Http.setRequestHeader('Content-Type', 'application/json; charset=UTF-8');
        Http.send(params);
        Http.onreadystatechange = (e) => {
            if (Http.readyState == 4 && Http.status == 200) {
                let response = JSON.parse(Http.responseText)
                if (response["confirmation"] == "success") {
                    question = response["question"]
                    createDivVoteForQuestion(question)
                } else {
                    console.log(response)
                }
            }
        }


        let params2 = JSON.stringify({
            title: title,
            pos: { x: x, y: y },
        })
        const Http2 = new XMLHttpRequest();
        Http2.open("POST", url + 'answer/group', true);
        Http2.setRequestHeader('Content-Type', 'application/json; charset=UTF-8');
        Http2.send(params2);
        Http2.onreadystatechange = (e) => {
            if (Http2.readyState == 4 && Http2.status == 200) {
                response = JSON.parse(Http2.responseText)
                if (response["confirmation"] == "success") {
                    answers = response["answers"]
                    createDivAnswers()
                } else {
                    console.log(response)
                }
            }
        }
    }

    function validURL(str) {
        var pattern = new RegExp('^(https?:\\/\\/)?' + // protocol
            '((([a-z\\d]([a-z\\d-]*[a-z\\d])*)\\.)+[a-z]{2,}|' + // domain name
            '((\\d{1,3}\\.){3}\\d{1,3}))' + // OR ip (v4) address
            '(\\:\\d+)?(\\/[-a-z\\d%_.~+]*)*' + // port and path
            '(\\?[;&a-z\\d%_.~+=-]*)?' + // query string
            '(\\#[-a-z\\d_]*)?$', 'i'); // fragment locator
        return !!pattern.test(str);
    }

    function createDivAnswers() {
        document.getElementById("title_show").innerHTML = question["title"]
        document.getElementById("details_show").innerHTML = question["details"]
        if (question["imgUrl"] != "" && validURL(question["imgUrl"]) == true) {
            document.getElementById("img_show").src = question["imgUrl"]
        } else {
            document.getElementById("img_show").style.display = 'none'
        }
        document.getElementById("details_show").innerHTML = question["details"]
        let divUrls = document.getElementById("urls_show")
        divUrls.innerHTML = ""
        question["urls"].forEach(element => {
            if(validURL(element) == true){
                let a = document.createElement("a")
                let br = document.createElement("br")
                a.href = element
                a.innerHTML = element
                
                divUrls.appendChild(a)
                divUrls.appendChild(br)
            }
        })
        let divHashtags = document.getElementById("hashtags_show")
        divHashtags.innerHTML = ""
        question["hashtags"].forEach(element => {
            if (/\s/.test(element) == false) {
                let a = document.createElement("a")
                let br = document.createElement("br")
                a.href = element 
                a.innerHTML = element
                divHashtags.appendChild(br)
                divHashtags.appendChild(a)
            }
        })


        let treeLevel = 0
        let rootDiv = document.getElementById("root")
        rootDiv.innerHTML = ""

        let input = document.createElement("input");
        input.setAttribute("type", "text")
        input.setAttribute("level", 0)
        input.setAttribute("idParent", "root")
        input.addEventListener("keyup", function (event) {
            if (event.keyCode === 13) {
                createAnswer(this.getAttribute("level"), this.getAttribute("idParent"), this.value, this)
            }
        })
        let br = document.createElement("br")
        rootDiv.appendChild(input)
        // rootDiv.appendChild(br)

        if (answers.length > 0) {

            var queue = [];
            var stack = [];
            var dict = {}
            // questo loop mi serve solo per gli elementi di livello 0
            for (var i = 0; i < answers.length; i++) {
                var element = answers[i]
                queue.push(element)
                stack.push(element)
                if (element["level"] != 0) {
                    break
                }
                dict[element["_id"]] = 0

                createDiv(element)

                // devo cercare il primo elemento con livello+1 e che abbia come parent l'id di questo element
                while (true) {
                    let Element;
                    if (queue.length == 0) {
                        // console.log("queue.length == 0")
                        if (stack.length == 0) { // done
                            break
                        }
                        Element = stack[stack.length - 1]
                    } else {
                        // console.log("queue shift")
                        Element = queue.shift()
                    }

                    // console.log(Element)
                    // console.log("queue ", queue)
                    // console.log("stack ", stack)

                    let idElement = Element["_id"]
                    let ElementLevel = Element["level"]
                    let find = false

                    for (var j = 0; j < answers.length; j++) {
                        var findUpLevel = answers[j]
                        if (findUpLevel["_id"] in dict) {
                            continue
                        }
                        if (findUpLevel["parent"] == idElement && findUpLevel["level"] == ElementLevel + 1) {

                            queue.push(findUpLevel)
                            stack.push(findUpLevel)
                            dict[findUpLevel["_id"]] = 0
                            find = true
                            // console.log("findUpLevel ", findUpLevel)

                            // crea un div, e mettilo sotto al parent, e ci aggiungo un bottone replay
                            createDiv(findUpLevel)

                            break
                        }
                    }
                    // tolgo definitivamente l'elemento
                    if (find == false) {
                        stack.pop()
                    }
                }
            }
        }
    }

    function createDivVoteForQuestion(question) {
        let divVoteQuestion = document.getElementById("divVoteQuestion")
        divVoteQuestion.innerHTML = ""

        let voteUp = document.createElement("div")
        voteUp.setAttribute("class", "row")
        voteUp.style.margin = "0 auto"
        let aUp = document.createElement("a")
        aUp.setAttribute("element", JSON.stringify(question))
        aUp.addEventListener("click", function (event) {
            let el = JSON.parse(this.getAttribute("element"))
            updateVoteQuestion(el, 1)
        })
        aUp.href = "javascript:"
        let imgUp = document.createElement("img")
        imgUp.src = "Upvote.png"
        imgUp.width = "20"
        imgUp.height = "20"
        aUp.appendChild(imgUp)
        voteUp.appendChild(aUp)

        let vote = document.createElement("div")
        vote.innerHTML = question["vote"]

        let voteDown = document.createElement("div")
        voteDown.setAttribute("class", "row")
        voteDown.style.margin = "0 auto"
        let aDown = document.createElement("a")
        aDown.setAttribute("element", JSON.stringify(question))
        aDown.addEventListener("click", function (event) {
            let el = JSON.parse(this.getAttribute("element"))
            updateVoteQuestion(el, -1)
        })
        aDown.href = "javascript:"
        let imgDown = document.createElement("img")
        imgDown.src = "Downvote.png"
        imgDown.width = "20"
        imgDown.height = "20"
        aDown.appendChild(imgDown)
        voteDown.appendChild(aDown)

        divVoteQuestion.appendChild(voteUp)
        divVoteQuestion.appendChild(vote)
        divVoteQuestion.appendChild(voteDown)
    }

    function addVoteToDiv(voteElement, element) {
        let voteDiv = document.createElement("div")
        voteDiv.setAttribute("class", "col-xs-1")

        let voteUp = document.createElement("div")
        voteUp.setAttribute("class", "row")
        voteUp.style.margin = "0 auto"
        let aUp = document.createElement("a")
        aUp.setAttribute("element", JSON.stringify(element))
        aUp.addEventListener("click", function (event) {
            let el = JSON.parse(this.getAttribute("element"))
            updateVoteAnswer(el, 1)
        })
        aUp.href = "javascript:"
        let imgUp = document.createElement("img")
        imgUp.src = "Upvote.png"
        imgUp.width = "20"
        imgUp.height = "20"
        aUp.appendChild(imgUp)
        voteUp.appendChild(aUp)

        let vote = document.createElement("div")
        vote.innerHTML = voteElement

        let voteDown = document.createElement("div")
        voteDown.setAttribute("class", "row")
        voteDown.style.margin = "0 auto"
        let aDown = document.createElement("a")
        aDown.setAttribute("element", JSON.stringify(element))
        aDown.addEventListener("click", function (event) {
            let el = JSON.parse(this.getAttribute("element"))
            updateVoteAnswer(el, -1)
        })
        aDown.href = "javascript:"
        let imgDown = document.createElement("img")
        imgDown.src = "Downvote.png"
        imgDown.width = "20"
        imgDown.height = "20"
        aDown.appendChild(imgDown)
        voteDown.appendChild(aDown)

        voteDiv.appendChild(voteUp)
        voteDiv.appendChild(vote)
        voteDiv.appendChild(voteDown)

        return voteDiv
    }

    function updateVoteAnswer(el, vote) {
        let params = JSON.stringify({
            search: el,
            update: { $inc: { vote: vote } },
        })
        const Http = new XMLHttpRequest();
        Http.open("POST", url + 'answer/updateVote', true);
        Http.setRequestHeader('Content-Type', 'application/json; charset=UTF-8');
        Http.send(params);
        Http.onreadystatechange = (e) => {
            if (Http.readyState == 4 && Http.status == 200) {
                let response = JSON.parse(Http.responseText)
                if (response["confirmation"] == "success") {
                    getQuestionAndAnswers()
                } else {
                    console.log(response)
                }
            }
        }
    }

    function updateVoteQuestion(el, vote){
        let params = JSON.stringify({
            search: el,
            update: { $inc: { vote: vote } },
        })
        const Http = new XMLHttpRequest();
        Http.open("POST", url + 'question/updateVote', true);
        Http.setRequestHeader('Content-Type', 'application/json; charset=UTF-8');
        Http.send(params);
        Http.onreadystatechange = (e) => {
            if (Http.readyState == 4 && Http.status == 200) {
                let response = JSON.parse(Http.responseText)
                if (response["confirmation"] == "success") {
                    getQuestionAndAnswers()
                } else {
                    console.log(response)
                }
            }
        }
    }

    function createDiv(element) {
        // let rootDiv = document.getElementById(element['parent'])
        let rootDiv = document.getElementById("root")
        let div = document.createElement("div")
        div.setAttribute("class", "row")
        div.setAttribute("id", element["_id"])

        let voteDiv = addVoteToDiv(element["vote"], element)

        let textDiv = document.createElement("div")
        textDiv.setAttribute("class", "col-xs-11")

        let p = document.createElement("p")
        p.innerHTML = element["data"]
        let button = document.createElement("button")
        button.innerHTML = "replay"
        button.setAttribute("parentDiv", element["_id"])
        button.setAttribute("parentLevel", element["level"])
        button.onclick = function () {
            let parenId = this.getAttribute("parentDiv")
            let parentDiv = document.getElementById(parenId)
            let parentLevel = parseInt(this.getAttribute("parentLevel"), 10)
            let input = document.createElement("input")

            input.setAttribute("type", "text")
            input.setAttribute("level", parentLevel + 1)
            input.setAttribute("idParent", parenId)
            input.style.marginLeft = "8%"
            input.addEventListener("keyup", function (event) {
                if (event.keyCode === 13) {
                    createAnswer(this.getAttribute("level"), this.getAttribute("idParent"), this.value, this)
                }
            })

            parentDiv.insertBefore(input, parentDiv.childNodes[2])
            this.style.visibility = 'hidden';
        }

        let br = document.createElement("br")
        let marginLeft = 60 * (element["level"] + 1)
        div.style.marginLeft = marginLeft + "px"
        div.style.marginTop = "20px"
        textDiv.appendChild(p)
        textDiv.appendChild(button)

        div.appendChild(voteDiv)
        div.appendChild(textDiv)
        div.appendChild(br)

        rootDiv.appendChild(div)
    }


    function createAnswer(level, idParent, data, input) {
        let params = JSON.stringify({
            title: title,
            data: data,
            pos: { x: x, y: y },
            time: Date.now(),
            level: level,
            vote: 0,
            parent: idParent,
        })
        const Http = new XMLHttpRequest();
        Http.open("POST", url + 'answer/create', true);
        Http.setRequestHeader('Content-Type', 'application/json; charset=UTF-8');
        Http.send(params);
        Http.onreadystatechange = (e) => {
            if (Http.readyState == 4 && Http.status == 200) {
                let response = JSON.parse(Http.responseText)
                if (response["confirmation"] == "success") {
                    input.setAttribute("myId", response["data"]["_id"])
                    getQuestionAndAnswers()
                } else {
                    console.log(response)
                }
            }
        }
    }

</script>