<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <link href='https://cdn.jsdelivr.net/npm/froala-editor@3.0.5/css/froala_editor.pkgd.min.css' rel='stylesheet'
        type='text/css' />
    <script type='text/javascript'
        src='https://cdn.jsdelivr.net/npm/froala-editor@3.0.5/js/froala_editor.pkgd.min.js'></script>


    <link href='https://cdnjs.cloudflare.com/ajax/libs/embed-js/5.0.4/embed.css' rel='stylesheet'
        type='text/css' />
    <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/embed-js/5.0.4/embed.js'></script>
</head>

<body>
    <div id='askQuestion' style="display:none;">
        <div style="margin: 20px; width: 90%">

            <div class="input-group input-group-lg">
                <input type="text" id="title" class="form-control" style="border-radius:10px;" aria-label="Large"
                    aria-describedby="inputGroup-sizing-sm" placeholder='Title'>
            </div>
            </br>

            <textarea id="myEditor"></textarea>

            </br>
            <button type="button" class="btn btn-outline-primary" onclick="return askQuestion();"
                style="border-color: #1569C7">Create</button>
        </div>
    </div>


    <div id='showQuestion' style="display:none;">
        <div class="row">
            <div class="col-xs-1" style="margin: 30px; margin-right: 40px; margin-top: 20px;" id="divVoteQuestion"></div>

            <div class="col-xs-10">
                <div class="row"><h3 id="title_show" style="font-weight: bold;"></h3></div></br>
                <div class="row" id="details_show"></div></br>
                <div class="row"><button type="button" class="btn btn-info" onclick="saveQuestion();" style="border-radius:10px;">Save</button></div></br>
                <div class="row"><div id='creator'></div></div>
            </div>
        </div>
        </br>

        <div id='root' style="margin-left: 30px">
        </div>
    </div>
</body>

</html>

<script src="https://code.jquery.com/jquery-3.1.0.js"></script>
<script>
    const url = 'http://localhost:3001/api/';
    var currentUrl = new URL(window.location.href);

    var nick = ""
    var title = currentUrl.searchParams.get("title");
    var question = {};

    var profileData;
    function session() {
        profileData = JSON.parse(sessionStorage.getItem("profile"))
        if (profileData === null) {
            window.location.href = "http://localhost:3001/"
        } else if (profileData['nickname'] === null || profileData['password'] === null) {
            window.location.href = "http://localhost:3001/"
        }
        let params = JSON.stringify({
            nickname: profileData['nickname'],
            password: profileData['password'],
        })

        nick = profileData['nickname']

        let Http = new XMLHttpRequest();
        Http.open("POST", url + 'profile/login', true);
        Http.setRequestHeader('Content-Type', 'application/json; charset=UTF-8');
        Http.send(params);
        Http.onreadystatechange = (e) => {
            if (Http.readyState == 4 && Http.status == 200) {
                let response = JSON.parse(Http.responseText)
                if (response["confirmation"] == "success") {
                    if (response['data'] == null) {
                        window.location.href = "http://localhost:3001/"
                    }
                } else {
                    window.location.href = "http://localhost:3001/"
                }
            }
        }
    }
    session()

    var myFrolaEditor;
    if (title === null) {

        let firstUploadImage = false
        let firstUploadFile = false
        var settingsEditor = {
            toolbarButtons: {
                'moreText': {
                    'buttons': ['bold', 'italic', 'underline', 'strikeThrough', 'textColor', 'clearFormatting']
                },
                'moreParagraph': {
                    'buttons': ['alignLeft', 'alignCenter', 'formatOLSimple', 'alignRight', 'alignJustify', 'formatOL', 'formatUL', 'paragraphStyle', 'lineHeight', 'outdent', 'indent', 'quote']
                },
                'moreRich': {
                    'buttons': ['emoticons', 'insertLink', 'insertImage', 'insertFile', 'specialCharacters'],
                    'buttonsVisible': 5
                },
                'moreMisc': {
                    'buttons': ['undo', 'redo', 'help'],
                    'align': 'right',
                    'buttonsVisible': 3
                },
            },
            quickInsertEnabled: false,
            spellcheck: true,
            charCounterMax: 1000,
            placeholderText: 'Text (optional)',

            imageUploadURL: 'http://localhost:3001/upload_image',
            imageUploadMethod: 'POST',
            imageMaxSize: 5 * 1024 * 1024,
            imageAllowedTypes: ['jpeg', 'jpg', 'png', 'gif'],
            
            fileUploadURL: 'http://localhost:3001/upload_file',
            
            events: {
                'image.beforeUpload': function (images) {
                    if(firstUploadImage === true){
                        alert("You can upload only one image per question")
                        return false
                    }
                    firstUploadImage = true
                },
                'file.beforeUpload': function (images) {
                    if (firstUploadFile === true) {
                        alert("You can upload only one file per question")
                        return false
                    }
                    firstUploadFile = true
                },
                'image.removed': function ($img) {
                    let params = JSON.stringify({
                        src: $img.attr('src')
                    })

                    const Http = new XMLHttpRequest();
                    Http.open("POST", "http://localhost:3001/delete_image", true);
                    Http.setRequestHeader('Content-Type', 'application/json; charset=UTF-8');
                    Http.send(params);
                    Http.onreadystatechange = (e) => {
                        if (Http.readyState == 4 && Http.status == 200) {
                            console.log(Http.responseText)
                        }
                    }
                },
                'file.unlink': function (file) {
                    let params = JSON.stringify({
                        src: file.getAttribute('href')
                    })

                    const Http = new XMLHttpRequest();
                    Http.open("POST", "http://localhost:3001/delete_file", true);
                    Http.setRequestHeader('Content-Type', 'application/json; charset=UTF-8');
                    Http.send(params);
                    Http.onreadystatechange = (e) => {
                        if (Http.readyState == 4 && Http.status == 200) {
                            console.log(Http.responseText)
                        }
                    }
                },
            }
        }

        myFrolaEditor = new FroalaEditor('#myEditor', settingsEditor)

        document.getElementById("askQuestion").style.display = "block"

    } else {
        document.getElementById("showQuestion").style.display = "block"

        getQuestionAndAnswers()
    }

    function increaseView(q) {
        let params = JSON.stringify({
            search: {
                _id: q["_id"],
            },
            update: {
                $inc: { views: 1 }
            }
        })

        const Http = new XMLHttpRequest();
        Http.open("POST", url + 'question/updateView', true);
        Http.setRequestHeader('Content-Type', 'application/json; charset=UTF-8');
        Http.send(params);
        Http.onreadystatechange = (e) => {
            if (Http.readyState == 4 && Http.status == 200) {
                let response = JSON.parse(Http.responseText)
                if (response["confirmation"] == "success") {

                } else {
                    console.log(response)
                }
            }
        }
    }

    function saveQuestion() {
        let params = JSON.stringify({
            search: {
                nickname: nick,
            },
            update: {
                $addToSet: { savedQuestion: question["title"] }
            },
            extra: {
                upsert: true, new: true
            }
        })

        const Http = new XMLHttpRequest();
        Http.open("POST", url + 'profile/update/saved', true);
        Http.setRequestHeader('Content-Type', 'application/json; charset=UTF-8');
        Http.send(params);
        Http.onreadystatechange = (e) => {
            if (Http.readyState == 4 && Http.status == 200) {
                let response = JSON.parse(Http.responseText)
                if (response["confirmation"] == "success") {
                    console.log("saved")
                } else {
                    console.log(response)
                }
            }
        }
    }

    function askQuestion() {
        let title = document.getElementById("title").value
        if (title.length < 5) {
            alert("Question too short, at least 5 characters")
            return
        }

        let htmlDetails = myFrolaEditor.html.get()
        htmlDetails.replace("<p data-f-id=\"pbf\" style=\"text-align: center; font-size: 14px; margin-top: 30px; opacity: 0.65; font-family: sans-serif;\">Powered by <a href=\"https://www.froala.com/wysiwyg-editor?pb=1\" title=\"Froala Editor\">Froala Editor</a></p>", "")

        let d = document.createElement("div")
        d.innerHTML = htmlDetails.replace(/<br\s*\/?>/gi, ' ')
        d.innerHTML = d.innerHTML.replace("Powered by Froala Editor", "")
        let clearDetails = d.innerText

        let x = profileData['coords'][0]
        let y = profileData['coords'][1]

        let params = JSON.stringify({
            nickname: nick,
            pos: { x: x, y: y },
            title: title,
            details: clearDetails,
            html: htmlDetails,
            time: Date.now(),
        })
        const Http = new XMLHttpRequest();
        Http.open("POST", url + 'question/create', true);
        Http.setRequestHeader('Content-Type', 'application/json; charset=UTF-8');
        Http.send(params);
        Http.onreadystatechange = (e) => {
            if (Http.readyState == 4 && Http.status == 200) {
                let response = JSON.parse(Http.responseText)
                if (response["confirmation"] == "success") {
                    window.location.href = "http://localhost:3001/"
                } else {
                    console.log(response)
                }
            }
        }
    }

    function getQuestionAndAnswers() {
        let params = JSON.stringify({
            title: title,
        })
        const Http = new XMLHttpRequest();
        Http.open("POST", url + 'question/getQuestion', true);
        Http.setRequestHeader('Content-Type', 'application/json; charset=UTF-8');
        Http.send(params);
        Http.onreadystatechange = (e) => {
            if (Http.readyState == 4 && Http.status == 200) {
                let response = JSON.parse(Http.responseText)
                if (response["confirmation"] == "success") {
                    question = response["question"]
                    addVoteToQuestion(question)
                    increaseView(question)
                    htmlQuestion(question)
                } else {
                    console.log(response)
                }
            }
        }

        const Http2 = new XMLHttpRequest();
        Http2.open("POST", url + 'answer/group', true);
        Http2.setRequestHeader('Content-Type', 'application/json; charset=UTF-8');
        Http2.send(params);
        Http2.onreadystatechange = (e) => {
            if (Http2.readyState == 4 && Http2.status == 200) {
                response = JSON.parse(Http2.responseText)
                if (response["confirmation"] == "success") {
                    createDivAnswers(response["answers"])
                } else {
                    console.log(response)
                }
            }
        }
    }

    function htmlQuestion(question) {
        document.getElementById("title_show").innerHTML = question["title"]
        document.getElementById("details_show").innerHTML = question["html"]
        let creator = document.getElementById("creator")
        creator.innerHTML = "Created by <b>" + question['nickname'] + "</b>"
    }

    var settingsEditorAnswer = {
        toolbarButtons: {
            'moreText': {
                'buttons': ['bold', 'italic', 'underline', 'strikeThrough', 'textColor', 'clearFormatting']
            },
            'moreParagraph': {
                'buttons': ['alignLeft', 'alignCenter', 'formatOLSimple', 'alignRight', 'alignJustify', 'formatOL', 'formatUL', 'paragraphStyle', 'lineHeight', 'outdent', 'indent', 'quote']
            },
            'moreRich': {
                'buttons': ['emoticons', 'insertLink', 'specialCharacters'],
                'buttonsVisible': 3
            },
            'moreMisc': {
                'buttons': ['undo', 'redo', 'help'],
                'align': 'right',
                'buttonsVisible': 3
            },
        },
        placeholderText: 'What are your thoughts?',
        quickInsertEnabled: false,
        spellcheck: true,
        charCounterMax: 300,
    }

    function createDivAnswers(answers) {
        let treeLevel = 0
        let rootDiv = document.getElementById("root")
        rootDiv.innerHTML = ""

        let div = document.createElement("div");
        div.style.marginLeft = "20px"

        let textarea = document.createElement("textarea")
        textarea.setAttribute("id", "mainAnswerEditor")
        textarea.setAttribute("level", 0)
        textarea.setAttribute("idParent", "root")
        
        let buttonEditorMainAnswer = document.createElement("button");
        buttonEditorMainAnswer.onclick = function () {
            let answer = myFrolaEditorMainAnswer.html.get()
            let mainAnswerEditor = document.getElementById("mainAnswerEditor")
            createAnswer(mainAnswerEditor.getAttribute("level"), mainAnswerEditor.getAttribute("idParent"), answer, this)
        }
        buttonEditorMainAnswer.setAttribute("type", "button")
        buttonEditorMainAnswer.setAttribute("class", "btn btn-warning")
        buttonEditorMainAnswer.style.marginTop = "20px"
        buttonEditorMainAnswer.style.borderRadius = "10px"
        buttonEditorMainAnswer.innerHTML = "Send"

        div.appendChild(textarea)
        div.appendChild(buttonEditorMainAnswer)
        rootDiv.append(div)

        let myFrolaEditorMainAnswer = new FroalaEditor('#mainAnswerEditor', settingsEditorAnswer)

        if (answers.length > 0) {

            var queue = [];
            var stack = [];
            var dict = {}
            // questo loop mi serve solo per gli elementi di livello 0
            for (var i = 0; i < answers.length; i++) {
                var element = answers[i]
                queue.push(element)
                stack.push(element)
                if (element["level"] != 0) {
                    break
                }
                dict[element["_id"]] = 0

                createDiv(element)

                // devo cercare il primo elemento con livello+1 e che abbia come parent l'id di questo element
                while (true) {
                    let Element;
                    if (queue.length == 0) {
                        // console.log("queue.length == 0")
                        if (stack.length == 0) { // done
                            break
                        }
                        Element = stack[stack.length - 1]
                    } else {
                        // console.log("queue shift")
                        Element = queue.shift()
                    }

                    // console.log(Element)
                    // console.log("queue ", queue)
                    // console.log("stack ", stack)

                    let idElement = Element["_id"]
                    let ElementLevel = Element["level"]
                    let find = false

                    for (var j = 0; j < answers.length; j++) {
                        var findUpLevel = answers[j]
                        if (findUpLevel["_id"] in dict) {
                            continue
                        }
                        if (findUpLevel["parent"] == idElement && findUpLevel["level"] == ElementLevel + 1) {

                            queue.push(findUpLevel)
                            stack.push(findUpLevel)
                            dict[findUpLevel["_id"]] = 0
                            find = true
                            // console.log("findUpLevel ", findUpLevel)

                            // crea un div, e mettilo sotto al parent, e ci aggiungo un bottone replay
                            createDiv(findUpLevel)

                            break
                        }
                    }
                    // tolgo definitivamente l'elemento
                    if (find == false) {
                        stack.pop()
                    }
                }
            }
        }
    }

    function addVoteToQuestion(question) {
        let divVoteQuestion = document.getElementById("divVoteQuestion")
        divVoteQuestion.innerHTML = ""

        let voteUp = document.createElement("div")
        voteUp.setAttribute("class", "row")
        voteUp.style.margin = "0 auto"
        let aUp = document.createElement("a")
        aUp.setAttribute("element", JSON.stringify(question))
        aUp.addEventListener("click", function (event) {
            let el = JSON.parse(this.getAttribute("element"))
            updateVoteQuestion(el, 1)
        })
        aUp.href = "javascript:"
        let imgUp = document.createElement("img")
        imgUp.src = "Upvote.png"
        imgUp.width = "20"
        imgUp.height = "20"
        imgUp.style.borderRadius = "10px"
        aUp.appendChild(imgUp)
        voteUp.appendChild(aUp)

        let vote = document.createElement("div")
        vote.innerHTML = question["vote"]

        let voteDown = document.createElement("div")
        voteDown.setAttribute("class", "row")
        voteDown.style.margin = "0 auto"
        let aDown = document.createElement("a")
        aDown.setAttribute("element", JSON.stringify(question))
        aDown.addEventListener("click", function (event) {
            let el = JSON.parse(this.getAttribute("element"))
            updateVoteQuestion(el, -1)
        })
        aDown.href = "javascript:"
        let imgDown = document.createElement("img")
        imgDown.src = "Downvote.png"
        imgDown.width = "20"
        imgDown.height = "20"
        imgDown.style.borderRadius = "10px"
        aDown.appendChild(imgDown)
        voteDown.appendChild(aDown)

        divVoteQuestion.appendChild(voteUp)
        divVoteQuestion.appendChild(vote)
        divVoteQuestion.appendChild(voteDown)
    }

    function addVoteToDiv(voteElement, element) {
        let voteDiv = document.createElement("div")
        voteDiv.setAttribute("class", "col-xs-1")
        voteDiv.style.marginRight = "20px"

        let voteUp = document.createElement("div")
        voteUp.setAttribute("class", "row")
        voteUp.style.margin = "0 auto"
        let aUp = document.createElement("a")
        aUp.setAttribute("element", JSON.stringify(element))
        aUp.addEventListener("click", function (event) {
            let el = JSON.parse(this.getAttribute("element"))
            updateVoteAnswer(el, 1)
        })
        aUp.href = "javascript:"
        let imgUp = document.createElement("img")
        imgUp.src = "Upvote.png"
        imgUp.width = "20"
        imgUp.height = "20"
        imgUp.style.borderRadius = "10px"
        aUp.appendChild(imgUp)
        voteUp.appendChild(aUp)

        let vote = document.createElement("div")
        vote.innerHTML = voteElement

        let voteDown = document.createElement("div")
        voteDown.setAttribute("class", "row")
        voteDown.style.margin = "0 auto"
        let aDown = document.createElement("a")
        aDown.setAttribute("element", JSON.stringify(element))
        aDown.addEventListener("click", function (event) {
            let el = JSON.parse(this.getAttribute("element"))
            updateVoteAnswer(el, -1)
        })
        aDown.href = "javascript:"
        let imgDown = document.createElement("img")
        imgDown.src = "Downvote.png"
        imgDown.width = "20"
        imgDown.height = "20"
        imgDown.style.borderRadius = "10px"
        aDown.appendChild(imgDown)
        voteDown.appendChild(aDown)

        voteDiv.appendChild(voteUp)
        voteDiv.appendChild(vote)
        voteDiv.appendChild(voteDown)

        return voteDiv
    }

    function updateVoteAnswer(el, vote) {
        let params = JSON.stringify({
            search: el["_id"],
            update: { $inc: { vote: vote } },
            nick: nick,
        })
        const Http = new XMLHttpRequest();
        Http.open("POST", url + 'answer/updateVote', true);
        Http.setRequestHeader('Content-Type', 'application/json; charset=UTF-8');
        Http.send(params);
        Http.onreadystatechange = (e) => {
            if (Http.readyState == 4 && Http.status == 200) {
                let response = JSON.parse(Http.responseText)
                if (response["confirmation"] == "success") {
                    getQuestionAndAnswers()
                } else {
                    console.log("updateVoteAnswer ", response)
                }
            }
        }
    }

    function updateVoteQuestion(el, vote) {
        let params = JSON.stringify({
            search: el["_id"],
            update: { $inc: { vote: vote } },
            nick: nick,
        })
        const Http = new XMLHttpRequest();
        Http.open("POST", url + 'question/updateVote', true);
        Http.setRequestHeader('Content-Type', 'application/json; charset=UTF-8');
        Http.send(params);
        Http.onreadystatechange = (e) => {
            if (Http.readyState == 4 && Http.status == 200) {
                let response = JSON.parse(Http.responseText)
                if (response["confirmation"] == "success") {
                    getQuestionAndAnswers()
                } else {
                    console.log(response)
                }
            }
        }
    }

    function createDiv(element) {
        // let rootDiv = document.getElementById(element['parent'])
        let rootDiv = document.getElementById("root")
        let div = document.createElement("div")
        div.setAttribute("class", "row")
        div.setAttribute("id", element["_id"])

        let voteDiv = addVoteToDiv(element["vote"], element)

        let textDiv = document.createElement("div")
        textDiv.setAttribute("class", "col-xs-11")

        let creator = document.createElement("p")
        creator.innerHTML = "<b>" + element["nickname"] + "</b>"
        let p = document.createElement("p")
        p.innerHTML = element["data"]
        let button = document.createElement("button")
        button.setAttribute("class", "btn btn-secondary")
        button.style.borderRadius = "10px"
        button.innerHTML = "Replay"
        button.setAttribute("parentDiv", element["_id"])
        button.setAttribute("parentLevel", element["level"])
        button.onclick = function () {

            let parenId = this.getAttribute("parentDiv")
            let parentDiv = document.getElementById(parenId)
            let parentLevel = parseInt(this.getAttribute("parentLevel"), 10)

            let div = document.createElement("div");
            div.style.marginLeft = "20px"

            let textarea = document.createElement("textarea")
            textarea.setAttribute("id", "answerEditor" + parenId)
            textarea.setAttribute("level", parentLevel + 1)
            textarea.setAttribute("idParent", parenId)

            let buttonEditorMainAnswer = document.createElement("button");
            buttonEditorMainAnswer.onclick = function () {
                let answer = myFrolaEditorAnswer.html.get()
                let answerEditor = document.getElementById("answerEditor" + parenId)
                createAnswer(answerEditor.getAttribute("level"), answerEditor.getAttribute("idParent"), answer, this)
            }
            buttonEditorMainAnswer.setAttribute("type", "button")
            buttonEditorMainAnswer.setAttribute("class", "btn btn-warning")
            buttonEditorMainAnswer.style.marginTop = "20px"
            buttonEditorMainAnswer.style.borderRadius = "10px"
            buttonEditorMainAnswer.innerHTML = "Send"

            div.appendChild(textarea)
            div.appendChild(buttonEditorMainAnswer)

            console.log(parentDiv.childNodes)
            parentDiv.appendChild(div)

            // parentDiv.insertBefore(div, parentDiv.childNodes[2])
            this.style.visibility = 'hidden';

            let myFrolaEditorAnswer = new FroalaEditor("#answerEditor" + parenId, settingsEditorAnswer)
        }

        let br = document.createElement("br")
        let marginLeft = 3 * (element["level"] + 1)
        div.style.marginLeft = marginLeft + "%"
        div.style.marginTop = "20px"
        textDiv.appendChild(creator)
        textDiv.appendChild(p)
        textDiv.appendChild(button)

        div.appendChild(voteDiv)
        div.appendChild(textDiv)
        div.appendChild(br)

        rootDiv.appendChild(div)
    }


    function createAnswer(level, idParent, data, input) {
        let params = JSON.stringify({
            title: title,
            nickname: nick,
            data: data,
            time: Date.now(),
            level: level,
            vote: 0,
            parent: idParent,
        })
        const Http = new XMLHttpRequest();
        Http.open("POST", url + 'answer/create', true);
        Http.setRequestHeader('Content-Type', 'application/json; charset=UTF-8');
        Http.send(params);
        Http.onreadystatechange = (e) => {
            if (Http.readyState == 4 && Http.status == 200) {
                let response = JSON.parse(Http.responseText)
                if (response["confirmation"] == "success") {
                    input.setAttribute("myId", response["data"]["_id"])
                    getQuestionAndAnswers()
                } else {
                    console.log(response)
                }
            }
        }
    }
</script>