<html>

<head>
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
    <script src="https://unpkg.com/deck.gl@^7.1.0/dist.min.js"></script>

    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.3.1/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.3.1/mapbox-gl.css' rel='stylesheet' />
</head>

<body>
    <div id="container">
        <div id="map"></div>
        <canvas id="deck-canvas"></canvas>
    </div>
    <!-- <div id="tooltip" style="position: absolute; z-index: 1; pointer-events: none; display: none;">
        <a href="google.com" id='nameTooltip'></a>
        <a href="javascript: void (0)" onclick="closeNav()">&times;</a>
    </div> -->
</body>

</html>

<style type="text/css">
    body {
        margin: 0;
        padding: 0;
    }

    #container {
        width: 100vw;
        height: 100vh;
    }

    #map {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
    }
</style>

<script src="login_register/vendor/jquery/jquery-3.2.1.min.js"></script>
<script>

    const url = 'http://localhost:3001/api/'

    function getLocation() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(showPosition, showError)
        } else {
            alert("Geolocation is not supported by this browser")
        }
    }
    
    $(document).ready(function() {
        getLocation()
    })

    function showPosition(position) {
        const state_view = {
            latitude: position.coords.latitude,
            longitude: position.coords.longitude,
            zoom: 5,
            bearing: 0,
            pitch: 30
        }

        setMap(state_view)
    }

    function showError(error) {
        switch (error.code) {
            case error.PERMISSION_DENIED:
                alert("User denied the request for Geolocation.")
                break
            case error.POSITION_UNAVAILABLE:
                alert("Location information is unavailable.")
                break
            case error.TIMEOUT:
                alert("The request to get user location timed out.")
                break
            case error.UNKNOWN_ERROR:
                alert("An unknown error occurred.")
                break
        }
    }

    function setMap(state_view) {
        mapboxgl.accessToken = 'pk.eyJ1IjoiMHg1ZWJhIiwiYSI6ImNrMDZ6bXF1dTAyNnYzYnBhbXpwa2hiZzUifQ.pkLDhr0wnSJpWv7K5MwEHQ'
        // const AIR_PORTS = 'https://d2ad6b4ur7yvpq.cloudfront.net/naturalearth-3.3.0/ne_10m_airports.geojson'

        const map = new mapboxgl.Map({
            container: 'map',
            style: 'mapbox://styles/mapbox/streets-v11',
            // interactive: false, // Note: deck.gl will be in charge of interaction and event handling
            center: [state_view.longitude, state_view.latitude],
            zoom: state_view.zoom,
            bearing: state_view.bearing,
            pitch: state_view.pitch
        })
        
        const deck = new Deck({
            canvas: 'deck-canvas',
            width: '100%',
            height: '100%',
            initialViewState: state_view,
            controller: true,
            onViewStateChange: ({ viewState }) => {
                map.jumpTo({
                    center: [viewState.longitude, viewState.latitude],
                    zoom: viewState.zoom,
                    bearing: viewState.bearing,
                    pitch: viewState.pitch
                })
            },
            layers: [
                new TextLayer({
                    id: 'text-question',
                    data: AllQuestions,
                    pickable: true,
                    getPosition: d => d.coordinates,
                    getText: d => d.title,
                    // getPixelOffset: d => d.pixelOffset || [0, 1],
                    // sizeMinPixels: 20,
                    // sizeMaxPixels: 10,
                    getSize: 15,
                    fontWeight: 'bold',
                    getColor: [31, 58, 147, 255],
                    getTextAnchor: 'middle',
                    getAlignmentBaseline: 'center',
                    onClick: info => changePage(info.object, 'question')
                }),
                new TextLayer({
                    id: 'text-group',
                    data: Allgroups,
                    pickable: true,
                    getPosition: d => d.coordinates,
                    getText: d => d.name,
                    getSize: 15,
                    fontWeight: 'bold',
                    getColor: [211, 84, 0, 255],
                    getTextAnchor: 'middle',
                    getAlignmentBaseline: 'center',
                    onClick: info => changePage(info.object, 'group')
                }),
                new TextLayer({
                    id: 'text-profile',
                    data: AllProfiles,
                    pickable: true,
                    getPosition: d => d.coordinates,
                    getText: d => d.nickname,
                    getSize: 15,
                    fontWeight: 'bold',
                    getColor: [217, 30, 24, 255],
                    getTextAnchor: 'middle',
                    getAlignmentBaseline: 'center',
                    onClick: info => changePage(info.object, 'profile')
                }),

                /*
                new GeoJsonLayer({
                    id: 'profiles',
                    data: AllProfiles,
                    // Styles
                    filled: true,
                    pointRadiusMinPixels: 7,
                    pointRadiusMaxPixels: 4,
                    opacity: 1,
                    pointRadiusScale: 500,
                    getRadius: 10,
                    radiusMinPixels: 0.5,
                    getFillColor: [46, 204, 113],
                    // Interactive props
                    pickable: true,
                    autoHighlight: true,
                    // onHover: info => setTooltip(info.object),
                    onClick: info => changePage(info.object, 'person')
                }),
                */
            ]
        })

        // var popup = new mapboxgl.Popup({ closeOnClick: false })
        //     .setLngLat([state_view.longitude, state_view.latitude])
        //     .setHTML('<h1>I am Here</h1>' + state_view.longitude + " " + state_view.latitude )
        //     .addTo(map)

    }

    /*
    var mousePos = {}
    $("body").mousemove(function (e) {
        mousePos = { x: e.pageX, y: e.pageY }
    })

    function setTooltip(object) {
        const el = document.getElementById('tooltip');
        if(object){
            el.innerHTML = object.properties.name;
            el.style.display = 'block';
            el.style.position = "absolute";
            el.style.left = mousePos.x + 'px';
            el.style.top = mousePos.y + 'px';
        } else {
            el.style.display = 'none';
        }
    }

    function closeNav() {
        console.log("close")
        const el = document.getElementById('tooltip');
        el.style.display = 'none';
    }

    function changePage(object, type){
        const el = document.getElementById('tooltip');
        const nameTooltip = document.getElementById('nameTooltip');
        if (object) {
            nameTooltip.innerHTML = object.properties.name;
            el.style.display = 'block';
            el.style.position = "absolute";
            el.style.left = mousePos.x + 'px';
            el.style.top = mousePos.y + 'px';

            // let a = document.createElement("a");
            // if (type === "group"){
            //     let href = "http://localhost:3001/group" + '?groupname=' + element['name'] + "&x=" + element.pos.x + "&y=" + element.pos.y
            //     a.setAttribute('href', href);
            //     let textnode = document.createTextNode(object.properties.name);
            //     a.appendChild(textnode);
            // } 
            // if (type === "group") {
            //     let href = "http://localhost:3001/group" + '?groupname=' + element['name'] + "&x=" + element.pos.x + "&y=" + element.pos.y
            //     a.setAttribute('href', href);
            //     let textnode = document.createTextNode(object.properties.name);
            //     a.appendChild(textnode);
            // } 
            // if (type === "group") {
            //     let href = "http://localhost:3001/group" + '?groupname=' + element['name'] + "&x=" + element.pos.x + "&y=" + element.pos.y
            //     a.setAttribute('href', href);
            //     let textnode = document.createTextNode(object.properties.name);
            //     a.appendChild(textnode);
            // } 
            // el.appendChild(a)
        } else {
            el.style.display = 'none';
        }
        // window.location.href = "http://localhost:3001/index"
    }
    */

    function changePage(object, type){
        if (object) {
            if (type === "group"){
                let href = "http://localhost:3001/group?groupname=" + object['name']
                window.location.href = href
            } 
            if (type === "question") {
                let href = "http://localhost:3001/question?title=" + object['title']
                window.location.href = href
            } 
            if (type === "profile") {
                let href = "http://localhost:3001/profile?nickname=" + object['nickname']
                window.location.href = href
            } 
        }
    }

    var AllProfiles = []
    function initProfiles() {
        let Http = new XMLHttpRequest()
        Http.open("POST", url + 'profile/allProfiles', true)
        Http.send()
        Http.onreadystatechange = (e) => {
            if (Http.readyState === 4 && Http.status === 200) {
                let profiles = JSON.parse(Http.responseText)
                AllProfiles = profiles['profiles']
            }
        }
    }
    initProfiles()

    var Allgroups = []
    function initGroups() {
        let Http = new XMLHttpRequest()
        Http.open("GET", url + 'group/allGroups', true)
        Http.send()
        Http.onreadystatechange = (e) => {
            if (Http.readyState === 4 && Http.status === 200) {
                let groups = JSON.parse(Http.responseText)
                Allgroups = groups['groups']
            }
        }
    }
    initGroups()

    var AllQuestions = []
    function initQuestions() {
        let Http = new XMLHttpRequest()
        Http.open("GET", url + 'question/allQuestions', true)
        Http.send()
        Http.onreadystatechange = (e) => {
            if (Http.readyState === 4 && Http.status === 200) {
                let questions = JSON.parse(Http.responseText)
                AllQuestions = questions['questions']
            }
        }
    }
    initQuestions()
    

</script>