<html>

<head>
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
    <script src="https://unpkg.com/deck.gl@^7.1.0/dist.min.js"></script>

    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.3.1/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.3.1/mapbox-gl.css' rel='stylesheet' />
    <script src="https://d3js.org/d3.v5.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
        integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
</head>

<body>
    <div>
        <div id="map"></div>
        <canvas id="deck-canvas"></canvas>
        <div id="control-panel"></div>
    </div>
    <div id="myModal" class="modal">
        <div class="modal-content" id="modal-content">
            <span class="close">&times;</span>

            <h1 id="title-model" style="text-align: center;"></h1>

            <div id='search-icon' style="display: none;">
                <div class="d-flex justify-content-center" style="margin:10px; margin-bottom: 30px">
                    <div class="searchbar">
                        <input class="search_input" type="text" placeholder="Search" id="search_bar" autofocus>
                        <a href="#" class="search_icon" style="color:#e74c3c"><i class="fas fa-search"></i></a>
                    </div>
                </div>
            </div>

            <div id="res-search"></div>

            <div id='menu' style="display: none;">
                <h2>Change map style</h2>
                <input id='streets-v11' type='radio' name='rtoggle' value='streets'>
                <label for='streets-v11'>streets</label>
                <input id='outdoors-v11' type='radio' name='rtoggle' value='streets'>
                <label for='outdoors-v11'>outdoors</label>
                <input id='light-v10' type='radio' name='rtoggle' value='streets'>
                <label for='light-v10'>light</label>
                <input id='dark-v10' type='radio' name='rtoggle' value='streets'>
                <label for='dark-v10'>dark</label>
                <input id='satellite-v9' type='radio' name='rtoggle' value='streets'>
                <label for='satellite-v9'>satellite</label>
                <input id='satellite-streets-v11' type='radio' name='rtoggle' value='streets'>
                <label for='satellite-streets-v11'>satellite-streets</label>
                <input id='navigation-preview-day-v4' type='radio' name='rtoggle' value='streets'>
                <label for='navigation-preview-day-v4'>navigation-preview-day</label>
                <input id='navigation-preview-night-v4' type='radio' name='rtoggle' value='streets'>
                <label for='navigation-preview-night-v4'>navigation-preview-night</label>
                <input id='navigation-guidance-day-v4' type='radio' name='rtoggle' value='streets'>
                <label for='navigation-guidance-day-v4'>navigation-guidance-day</label>
                <input id='navigation-guidance-night-v4' type='radio' name='rtoggle' value='streets'>
                <label for='navigation-guidance-night-v4'>navigation-guidance-night</label>
            </div>
        </div>
    </div>

</body>

</html>

<style type="text/css">
    /* #container {
        width: 100vw;
        height: 100vh;
    } */

    #map {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
    }

    #control-panel {
        /* width: 100vw;
        height: 100vh; */
        font-size: 12px;
        /* position: absolute; */
        top: 0;
        left: 0;
        margin: 12px;
        padding: 20px;
        /* line-height: 2; */
        z-index: 1;
        /* background: #fff;
        border: solid 1px #ccc;
        border-bottom-color: #bbb;
        border-radius: 3px;
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.15); */
    }


    #btn-home {
        position: absolute;
        left: 50%;
        margin-left: -28px;
        bottom: 30px;
        border: 0;
        background: transparent;
    }

    #btn-group {
        position: absolute;
        left: 10%;
        margin-left: -28px;
        bottom: 30px;
        border: 0;
        background: transparent;
    }

    #btn-question {
        position: absolute;
        left: 90%;
        margin-left: -28px;
        bottom: 30px;
        border: 0;
        background: transparent;
    }

    #btn-setting {
        position: absolute;
        left: 90%;
        margin-left: -28px;
        border: 0;
        background: transparent;
    }

    #btn-bookmark {
        position: absolute;
        left: 10%;
        margin-left: -28px;
        border: 0;
        background: transparent;
    }

    body,
    html {
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .searchbar {
        height: 60px;
        background-color: #353b48;
        border-radius: 30px;
        padding: 10px;
        margin-left: -28px;
    }

    .search_input {
        color: white;
        border: 0;
        outline: 0;
        background: none;
        /* width: 0; */
        /* caret-color:transparent; */
        line-height: 40px;
        transition: width 0.3s linear;
        padding: 0 10px;
        width: 40vw;
        caret-color: red;
    }

    .search_icon {
        height: 40px;
        width: 40px;
        float: right;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        color: white;
        border: 0;
        background: transparent;
    }


    .modal {
        position: absolute;
        display: none;
        position: fixed;
        /* Stay in place */
        z-index: 1;
        /* Sit on top */
        padding-top: 100px;
        /* Location of the box */
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgb(0, 0, 0);
        /* Fallback color */
        background-color: rgba(0, 0, 0, 0.4);
        /* Black w/ opacity */
    }

    .modal-content {
        left: 10%;
        width: 80%;
        height: 80%;
        border: 1px solid #888;
        background-color: #fefefe;
        padding: 20px;
        overflow-y: scroll;
        overflow: auto;
    }

    .close {
        color: #aaaaaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
        text-align: end;
    }

    .close:hover,
    .close:focus {
        color: #000;
        text-decoration: none;
    }

    #titles {
        padding: 0px 0px 0px 32px;
        text-decoration: none;
        font-size: 30px;
        color: black;
        display: block;
    }
    #profile {
        padding: 0px 0px 0px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #FF3333;
        display: block;
    }
    #group {
        padding: 0px 0px 0px 32px;
        text-decoration: none;
        font-size: 25px;
        color: blue;
        display: block;
    }
    #question {
        padding: 0px 0px 0px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #32CD32;
        display: block;
    }
</style>

<script src="login_register/vendor/jquery/jquery-3.2.1.min.js"></script>
<script>

    const url = 'http://localhost:3001/api/'

    var profileData;
    function session(){
        profileData = JSON.parse(sessionStorage.getItem("profile"))
        if(profileData === null){
            window.location.href = "http://localhost:3001/login"
        } else if(profileData['nickname'] === null || profileData['password'] === null){
            window.location.href = "http://localhost:3001/login"
        }
        let params = JSON.stringify({
            nickname: profileData['nickname'],
            password: profileData['password'],
        })

        let Http = new XMLHttpRequest();
        Http.open("POST", url + 'profile/login', true);
        Http.setRequestHeader('Content-Type', 'application/json; charset=UTF-8');
        Http.send(params);
        Http.onreadystatechange = (e) => {
            if (Http.readyState == 4 && Http.status == 200) {
                let response = JSON.parse(Http.responseText)
                if (response["confirmation"] == "success") {
                    if(response['data'] == null){
                        window.location.href = "http://localhost:3001/login"
                    }
                } else {
                    window.location.href = "http://localhost:3001/login"
                }
            }
        }
    }
    session()

    var modal = document.getElementById("myModal");
    var resSearch = document.getElementById("res-search");
    document.getElementsByClassName("close")[0].onclick = function () {
        modal.style.display = "none"
        resSearch.style.display = "none"
        document.getElementById("menu").style.display = "none"
        search_bar.value = ""
        document.getElementById("search-icon").style.display = "none"
    }

    function delay(callback, ms) {
        var timer = 0;
        return function () {
            var context = this, args = arguments;
            clearTimeout(timer);
            timer = setTimeout(function () {
                callback.apply(context, args);
            }, ms || 0);
        };
    }

    $("#search_bar").keyup(delay(function (e) {
        let search = $("#search_bar").val()
        if(search !== ""){
            resSearch.innerHTML = ""
            searchInDB(search, "group")
            searchInDB(search, "profile")
            searchInDB(search, "question")
        } else {
            resSearch.innerHTML = ""
        }
    }, 400))

    function searchInDB(search, type) {
        let params = JSON.stringify({
            search: search,
        })

        let Http = new XMLHttpRequest();
        Http.open("POST", url + 'search/' + type, true);
        Http.setRequestHeader('Content-Type', 'application/json; charset=UTF-8');
        Http.send(params);
        Http.onreadystatechange = (e) => {
            if (Http.readyState == 4 && Http.status == 200) {
                let response = JSON.parse(Http.responseText)
                console.log(response)
                if (response["confirmation"] == "success") {
                    if(response[type].length > 0){

                        let p = document.createElement("p")
                        let textnode = document.createTextNode(type.charAt(0).toUpperCase() + type.slice(1) + "s");
                        p.setAttribute('id', 'titles')
                        p.appendChild(textnode)
                        resSearch.appendChild(p)

                        response[type].forEach(function (element) {
                            let a = document.createElement("a")
                            if (type === "group"){
                                let href = "http://localhost:3001/group?groupname=" + element['name']
                                a.setAttribute('href', href)
                                a.setAttribute('id', type)
                                textnode = document.createTextNode(element['name'])
                            }
                            if (type === "question") {
                                let href = "http://localhost:3001/question?title=" + element['title']
                                a.setAttribute('href', href)
                                a.setAttribute('id', type)
                                textnode = document.createTextNode(element['title'])
                            }
                            if (type === "profile") {
                                let href = "http://localhost:3001/profile?nickname=" + element['nickname']
                                a.setAttribute('href', href)
                                a.setAttribute('id', type)
                                textnode = document.createTextNode(element['nickname'])
                            }
                            
                            a.appendChild(textnode)
                            resSearch.appendChild(a)
                        })
                    }
                } else {
                    console.log(response)
                }
            }
        }
    }

    function getSaved() {
        let nick = profileData['nickname']
        let params = JSON.stringify({
            nick: nick,
        })
        let Http = new XMLHttpRequest();
        Http.open("POST", url + 'profile/getSaved', true);
        Http.setRequestHeader('Content-Type', 'application/json; charset=UTF-8');
        Http.send(params);
        Http.onreadystatechange = (e) => {
            if (Http.readyState == 4 && Http.status == 200) {
                let response = JSON.parse(Http.responseText)
                if (response["confirmation"] == "success") {
                    response = response["data"]

                    console.log(response)
                        
                    if (response != null && "savedGroup" in response){
                        if (response["savedGroup"].length > 0) {
                            let p = document.createElement("p");
                            let textnode = document.createTextNode("Groups");
                            p.setAttribute('id', 'titles')
                            p.appendChild(textnode);
                            resSearch.appendChild(p)
                        }

                        response["savedGroup"].forEach(function (element) {
                            let a = document.createElement("a");
                            let href = "http://localhost:3001/group?groupname=" + element
                            a.setAttribute('href', href)
                            a.setAttribute('id', "group")
                            let textnode = document.createTextNode(element)
                            a.appendChild(textnode);
                            resSearch.appendChild(a)
                        });
                    }

                    if (response != null && "savedQuestion" in response) {
                        if (response["savedQuestion"].length > 0) {
                            let p = document.createElement("p");
                            let textnode = document.createTextNode("Questions");
                            p.setAttribute('id', 'titles')
                            p.appendChild(textnode);
                            resSearch.appendChild(p)
                        }

                        response["savedQuestion"].forEach(function (element) {
                            let a = document.createElement("a");
                            let href = "http://localhost:3001/question?title=" + element
                            a.setAttribute('href', href)
                            a.setAttribute('id', "question")
                            let textnode = document.createTextNode(element)
                            a.appendChild(textnode);
                            resSearch.appendChild(a)
                        });
                    }

                } else {
                    console.log(response)
                }

            }
        }
    }

    function getLocation() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(showPosition, showError)
        } else {
            alert("Geolocation is not supported by this browser")
        }
    }

    function showPosition(position) {
        const state_view = {
            latitude: position.coords.latitude,
            longitude: position.coords.longitude,
            zoom: 5,
            bearing: 0,
            pitch: 30
        }
        profileData['coords'] = [position.coords.longitude, position.coords.latitude] // x, y
        sessionStorage.setItem("profile", JSON.stringify(profileData))
        setMap(state_view)
        iamStatus(true)
    }

    function showError(error) {
        switch (error.code) {
            case error.PERMISSION_DENIED:
                alert("User denied the request for Geolocation.")
                break
            case error.POSITION_UNAVAILABLE:
                alert("Location information is unavailable.")
                break
            case error.TIMEOUT:
                alert("The request to get user location timed out.")
                break
            case error.UNKNOWN_ERROR:
                alert("An unknown error occurred.")
                break
        }
    }

    function setMap(state_view) {
        mapboxgl.accessToken = 'pk.eyJ1IjoiMHg1ZWJhIiwiYSI6ImNrMDZ6bXF1dTAyNnYzYnBhbXpwa2hiZzUifQ.pkLDhr0wnSJpWv7K5MwEHQ'
        // const AIR_PORTS = 'https://d2ad6b4ur7yvpq.cloudfront.net/naturalearth-3.3.0/ne_10m_airports.geojson'

        let mapStyle = JSON.parse(sessionStorage.getItem("mapStyle"))
        let inputs = document.getElementById('menu').getElementsByTagName('input')
        let street = mapStyle['mapStyle'].split("/")
        document.getElementById(street[street.length - 1]).checked = true

        const map = new mapboxgl.Map({
            container: 'map',
            style: mapStyle['mapStyle'],
            // interactive: false, // Note: deck.gl will be in charge of interaction and event handling
            center: [state_view.longitude, state_view.latitude],
            zoom: state_view.zoom,
            bearing: state_view.bearing,
            pitch: state_view.pitch
        })

        console.log(AllProfiles)
        console.log(Allgroups)
        console.log(AllQuestions)

        const deck = new Deck({
            canvas: 'deck-canvas',
            width: '100%',
            height: '100%',
            initialViewState: state_view,
            controller: true,
            onViewStateChange: ({ viewState }) => {
                map.jumpTo({
                    center: [viewState.longitude, viewState.latitude],
                    zoom: viewState.zoom,
                    bearing: viewState.bearing,
                    pitch: viewState.pitch
                })
            },
            layers: [
                new TextLayer({
                    id: 'text-question',
                    data: AllQuestions,
                    pickable: true,
                    getPosition: d => d.coordinates,
                    getText: d => d.title,
                    // getPixelOffset: d => d.pixelOffset || [0, 1],
                    // sizeMinPixels: 20,
                    // sizeMaxPixels: 10,
                    getSize: 15,
                    fontWeight: 'bold',
                    getColor: [31, 58, 147, 255],
                    getTextAnchor: 'middle',
                    getAlignmentBaseline: 'top',
                    getPixelOffset: [5, 5],
                    onClick: info => changePage(info.object, 'question')
                }),
                new TextLayer({
                    id: 'text-group',
                    data: Allgroups,
                    pickable: true,
                    getPosition: d => d.coordinates,
                    getText: d => d.name,
                    getSize: 15,
                    fontWeight: 'bold',
                    getColor: [46, 204, 113, 255],
                    getTextAnchor: 'middle',
                    getAlignmentBaseline: 'center',
                    getPixelOffset: [5, 5],
                    onClick: info => changePage(info.object, 'group')
                }),
                new TextLayer({
                    id: 'text-profile',
                    data: AllProfiles,
                    pickable: true,
                    getPosition: d => d.coordinates,
                    getText: d => d.nickname,
                    getSize: 15,
                    fontWeight: 'bold',
                    getColor: [217, 30, 24, 255],
                    getTextAnchor: 'middle',
                    getAlignmentBaseline: 'bottom',
                    getPixelOffset: [5, 5],
                    onClick: info => changePage(info.object, 'profile')
                }),

                /*
                new GeoJsonLayer({
                    id: 'profiles',
                    data: AllProfiles,
                    // Styles
                    filled: true,
                    pointRadiusMinPixels: 7,
                    pointRadiusMaxPixels: 4,
                    opacity: 1,
                    pointRadiusScale: 500,
                    getRadius: 10,
                    radiusMinPixels: 0.5,
                    getFillColor: [46, 204, 113],
                    // Interactive props
                    pickable: true,
                    autoHighlight: true,
                    // onHover: info => setTooltip(info.object),
                    onClick: info => changePage(info.object, 'person')
                }),
                */
            ]
        })

        const mainDiv = d3.select('#control-panel').selectAll('div').data([{ text: "home" }]).enter().append('div')

        // home
        mainDiv.append('button').attr("id", "btn-home")
            .on('click', d => {
                deck.setProps({
                    viewState: {
                        longitude: state_view.longitude,
                        latitude: state_view.latitude,
                        zoom: 11,
                        transitionInterpolator: new FlyToInterpolator(),
                        transitionDuration: 1000
                    }
                })
            })
            .append("img").attr("src", "home2.jpg").attr("width", "40").attr("height", "30").style("border-radius", "20%")
        
        // group
        mainDiv.append('button').attr("id", "btn-group")
            .on('click', d => {
                let href = "http://localhost:3001/group"
                window.location.href = href
            })
            .append("img").attr("src", "chatgroup.png").attr("width", "40").attr("height", "30").style("border-radius", "20%")

        // quesiton
        mainDiv.append('button').attr("id", "btn-question")
            .on('click', d => {
                let href = "http://localhost:3001/question"
                window.location.href = href
            })
            .append("img").attr("src", "askquestion.png").attr("width", "40").attr("height", "30").style("border-radius", "20%")

        // bookmark
        mainDiv.append('button').attr("id", "btn-bookmark")
            .on('click', d => {
                modal.style.display = "block"
                resSearch.style.display = "block"
                resSearch.innerHTML = ""
                document.getElementById("title-model").innerHTML = "Bookmarks"
                getSaved()
            })
            .append("img").attr("src", "bookmark.jpg").attr("width", "40").attr("height", "30").style("border-radius", "20%")

        //setting
        mainDiv.append('button').attr("id", "btn-setting")
            .on('click', d => {
                modal.style.display = "block"
                resSearch.style.display = "block"
                document.getElementById("menu").style.display = "block"
                resSearch.innerHTML = ""
                document.getElementById("title-model").innerHTML = "Settings"

                let layerList = document.getElementById('menu');
                let inputs = layerList.getElementsByTagName('input');

                function switchLayer(layer) {
                    let layerId = layer.target.id;
                    map.setStyle('mapbox://styles/mapbox/' + layerId);
                    sessionStorage.setItem("mapStyle", JSON.stringify({mapStyle: 'mapbox://styles/mapbox/' + layerId}));
                    console.log(sessionStorage.getItem("mapStyle"))
                }

                for (let i = 0; i < inputs.length; i++) {
                    inputs[i].onclick = switchLayer;
                }

                getSettings()
            })
            .append("img").attr("src", "setting.png").attr("width", "40").attr("height", "30").style("border-radius", "20%")

        // search
        let div_search = mainDiv.append('div').attr("class", "searchbar")
            .style("position", "absolute").style("left", "50%")
            .on('click', d => {
                modal.style.display = "block"
                resSearch.style.display = "block"
                resSearch.innerHTML = ""
                document.getElementById("search-icon").style.display = "block"
                document.getElementById("title-model").innerHTML = "Search"
            })
        div_search.append("button").attr("class", "search_icon").append("i").attr("class", "fas fa-search")


        // map.addControl(new mapboxgl.GeolocateControl({
        //     positionOptions: {
        //         enableHighAccuracy: true
        //     },
        //     trackUserLocation: true
        // }));
        // map.addControl(new mapboxgl.FullscreenControl({ container: document.querySelector('body') }));
        map.doubleClickZoom.enable();
        map.touchZoomRotate.enable({ around: 'center' });


        // var marker = new mapboxgl.Marker()
        //     .setLngLat([30.5, 50.5])
        //     .addTo(map);
        // var popup = new mapboxgl.Popup()
        //     .setLngLat([state_view.longitude, state_view.latitude])
        //     .setHTML('<h1>I am Here</h1>')
        //     .addTo(map)

        // CanvasSource, CanvasSourceOptions per i personaggi animati, oppure se sono immagini metti quello per le immagini
    }

    function getSettings(){
        
    }

    function changePage(object, type) {
        if (object) {
            if (type === "group") {
                let href = "http://localhost:3001/group?groupname=" + object['name']
                window.location.href = href
            }
            if (type === "question") {
                let href = "http://localhost:3001/question?title=" + object['title']
                window.location.href = href
            }
            if (type === "profile") {
                let href = "http://localhost:3001/profile?nickname=" + object['nickname']
                window.location.href = href
            }
        }
    }

    var offline = false
    $(document).mouseleave(function (e) {
        if (offline == false) {
            iamStatus(false)
            offline = true
        }
    });
    $(document).click(function (e) {
        if(offline == true){
            iamStatus(true)
            offline = false
        }
    });
    $(document).mouseenter(function (e) {
        if(offline == true){
            iamStatus(true)
            offline = false
        }
    });
    

    // window.onbeforeunload = function () {
    //     iamStatus(false)
    // }
    
    function iamStatus(status) {
        let nick = profileData['nickname']
        let params = JSON.stringify({
            search: {
                nickname: nick
            },
            update: {
                online: status,
                lastSeen: Date.now(),
                pos: { x: profileData['coords'][0], y: profileData['coords'][1]}
            }
        })

        const Http = new XMLHttpRequest();
        Http.open("POST", url + 'profile/update/status', true);
        Http.setRequestHeader('Content-Type', 'application/json; charset=UTF-8');
        Http.send(params);
        Http.onreadystatechange = (e) => {
            if (Http.readyState == 4 && Http.status == 200) {
                let response = JSON.parse(Http.responseText)
                if (response["confirmation"] == "success") {
                    console.log(status)
                } else {
                    console.log(response)
                }
            }
        }
    }

    var AllProfiles = []
    function initProfiles() {
        let Http = new XMLHttpRequest()
        Http.open("POST", url + 'profile/allProfiles', true)
        Http.send()
        Http.onreadystatechange = (e) => {
            if (Http.readyState === 4 && Http.status === 200) {
                let profiles = JSON.parse(Http.responseText)
                AllProfiles = profiles['profiles']
            }
        }
    }
    initProfiles()

    var Allgroups = []
    function initGroups() {
        let Http = new XMLHttpRequest()
        Http.open("GET", url + 'group/allGroups', true)
        Http.send()
        Http.onreadystatechange = (e) => {
            if (Http.readyState === 4 && Http.status === 200) {
                let groups = JSON.parse(Http.responseText)
                Allgroups = groups['groups']
            }
        }
    }
    initGroups()

    var AllQuestions = []
    function initQuestions() {
        let Http = new XMLHttpRequest()
        Http.open("GET", url + 'question/allQuestions', true)
        Http.send()
        Http.onreadystatechange = (e) => {
            if (Http.readyState === 4 && Http.status === 200) {
                let questions = JSON.parse(Http.responseText)
                AllQuestions = questions['questions']
            }
        }
    }
    initQuestions()

    $(document).ready(function () {
        getLocation()
    })

</script>